<style>
.order-form input::-webkit-outer-spin-button,
.order-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.result-panel tbody tr:hover {
	/* background-color: #bad2ba; 
	color: black; */
}
.result-panel thead tr th {
	background-color: #2C2B2B;
	color: #cccccc;
}
.panel-style {
	background-color: #98b799;
}
.tabh-style a {
	color: black;
}

/* Table header fixed schroll */
.table-fixed tbody {
  height: 365px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
  border-top: .5px solid #ddd !important;
  white-space: nowrap;
}
.table-fixed thead tr th {
  float: left;
}
/* Table header fixed schroll */
</style>

<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> จัดการข้อมูล</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-12">
			<div class="panel gambler-panel" style="margin-bottom: 0px;">
				<div class="panel-body">
					<form class="form-inline">
						<div class="form-group input-group input-group-sm">
							<span class="input-group-addon">งวดที่</span>
							<select class="form-control" ng-model="formData.period" ng-options="option._id as option.periodDateTime | date:'dd/MM/yyyy' for option in periods" ng-change="changePeriod()"></select>
						</div>
						<div class="form-group input-group input-group-sm">
							<span class="input-group-addon">ชื่อผู้ซื้อ</span> <select class="form-control" ng-model="formData.orderName" ng-options="option for option in orderNameLst" ng-change="changeOrderName()">
								<option value="">--ทั้งหมด--</option>
							</select>
						</div>
						<div class="form-group input-group input-group-sm">
							<span class="input-group-addon">ประเภท</span> <select class="form-control" ng-model="formData.orderType" ng-options="option.id as option.name for option in orderType"
								ng-change="changeTab(formData.orderType)">
							</select>
						</div>
						<div class="form-group input-group input-group-sm">
							<span class="input-group-addon">ค้นหา</span>
							<input type="text" class="form-control" placeholder="เลขที่ซื้อ" ng-model="formData.orderNumber" />
						</div>
					</form>
					
					<div class="row">
						<div ng-class="{'col-md-12': receiverList.length == 1, 'col-md-6': receiverList.length > 1}" ng-repeat="rc in receiverList">
							<div style="margin-bottom: 5px; margin-top: 10px; background-color: #2C2B2B; border-radius: 5px; padding: 5px; border: .5px solid #ffffffa6;">
								<span class="badge" style="background-color: #337ab7; font-size: 16px; 
															padding: 5px 20px 5px 20px; border-radius: 13px; text-shadow: 1px 1px black;">
								{{ rc.receiverName }}
								</span>
								<span style="margin-right: 5px; color: black; cursor: pointer;" class="label label-info" ng-repeat="rcIna in receiverInactiveList" ng-click="changeReceiver(rcIna, $parent.$index)">{{ rcIna.receiverName }}</span>
							</div>
							<div ng-include="'./views/manageOrder/orderGroup.html'"></div>
							
							<div ng-class="{'pull-right': $index == 0}" ng-hide="isDnDable || formData.orderType == 0 || formData.orderType == 5 || formData.orderType == 6">
								<i class="fa fa-2x" ng-class="{'fa-share': $index == 0, 'fa-reply': $index == 1}" style="color: #337ab7; cursor: pointer;" 
								title="ย้ายข้อมูลการซื้อ"
								ng-click="moveOrder($index)"></i>
							</div>
							<div style="clear: both;"></div>				
						</div>
					</div>		
				</div>
			</div>
			
            
		</div>
	</div>
</div>