<div class="row">
	<div class="col-md-12">
	
		<div class="tab-content">
			<div style="position: absolute; top: 30%; left: 50%; z-index: 1000;" ng-show="isLoadProgress && ($index == receiverChangeIndex || receiverChangeIndex == null)">
				<div style="position: relative; left: -50%;">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div>
			</div>
				
			<div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 0}">
				<div class="form-group input-group pull-right" style="z-index: 1000; margin: 0;">
					<i class="fa fa-download fa-2x" style="cursor: pointer; color: #de952e; margin: 5px 5px 0 0;" title="Export" ng-click="exportOrder(rc.id)"></i>
				</div>	
				<div style="min-height: 465px;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30%; text-align: right;">ประเถท</th>
								<th style="width: 70%">ราคา</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ech in eachPrice[rc.id]">
								<td style="text-align: right;">{{ ech.title }}</td>
								<td>{{ ech.price | number:2 }}</td>
							</tr>
							<tr style="font-weight: 700;">
								<td style="text-align: right;">ยอดซื้อทั้งหมด</td>
								<td>
									<span>{{ totalPriceSum[rc.id] | number:2 }}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div style="font-weight: 700;">
					<!-- <div>
						<span>ยอดซื้อทั้งหมด {{ totalPriceSum[rc.id] | number:2 }}</span>
					</div> -->
					<div>
						<!-- <span style="float: left;">หลังส่วนลด&nbsp;</span> <select class="form-control input-sm" style="width: 100px; float: left;" ng-model="formData.discount" ng-change="changePercent()">
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
							<option value="30">30%</option>
						</select> &nbsp;: <span>{{ (totalPriceSum[rc.id] - ((formData.discount/100) * totalPriceSum[rc.id])) | number:2 }}</span> -->
						
						<i class="fa pull-right" title="ตั้งค่าเลขปิด" style="cursor: pointer;" ng-class="{'fa-sort-asc': restricted.isSettingShow, 'fa-sort-desc': !restricted.isSettingShow}" 
						   ng-click="restricted.isSettingShow = restricted.isSettingShow ? false : true;"></i>
					</div>
				</div>
				<div class="row animate__animated" style="margin-top: 20px; padding-left: 5px; padding-right: 5px;" 
				ng-class="{'animate__fadeInDown': restricted.isSettingShow, 'animate__fadeOutUp': !restricted.isSettingShow}"
				ng-show="restricted.isSettingShow">
					<div class="col-md-12" style="background-color: #5bc0de; color: black; padding-top: 15px; border: 1px solid #3c763d70; border-radius: 20px;">
						<div>
							<span>
								<strong>ตั้งค่าตัวเลขที่ <span style="text-decoration: underline;">ปิด หรือ จ่ายครึ่งราคา</span></strong>
							</span><br />
							<p>
								<strong>กลับทุกตำแหน่ง {*}, บน {&gt;}, ล่าง {&lt;}&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">ตัวอย่างเช่น</span> 123*, 12&gt;, 56&lt;, 90*&lt;</strong>
							</p>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">ปิด</span>
							<tags-input ng-model="noPrice[$index]" placeholder="เพิ่มเลข" min-length="2" display-property="orderNumber"
							on-tag-added="tagManage($index)" on-tag-removed="tagManage($index)" ng-disabled="isDnDable"></tags-input>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">ครึ่งราคา</span>
							<tags-input ng-model="halfPrice[$index]" placeholder="เพิ่มเลข" min-length="2" display-property="orderNumber" 
							on-tag-added="tagManage($index)" on-tag-removed="tagManage($index)" ng-disabled="isDnDable"></tags-input>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade fixedheader" id="home-pills" ng-class="{'active in': tabActived == 1 || tabActived == 2 || tabActived == 3 ||
											                     							tabActived == 4 || tabActived == 41 || tabActived == 42 || 
											                     							tabActived == 43 || tabActived == 44 || tabActived == 5 || tabActived == 51}">
											                     							
				<table class="table table-hover result-panel table-fixed gambler-panel">
					<thead>
						<tr>
							<th style="width: 20%">#</th>
							<th style="width: 40%">เลขที่ซื้อ</th>
							<th style="width: 40%">ราคารวม</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 20%">{{ $index + 1 }})</td>
							<td style="width: 40%">{{ ord.orderNumber }}</td>
							<td style="width: 40%">{{ ord.price | number:2}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;">
						รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
				</div>
			</div>
		</div>
	</div>
</div>