<div class="panel panel-default panel-style">
	<div class="panel-body">
		<div class="tab-content">
			<div style="position: absolute; top: 30%; left: 50%; z-index: 1000;" ng-show="isLoadProgress && ($index == receiverChangeIndex || receiverChangeIndex == null)">
				<div style="position: relative; left: -50%;">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div>
			</div>
				
			<div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 0}">
				<div class="form-group input-group pull-right" style="z-index: 1000;">
					<i class="fa fa-download fa-2x" style="cursor: pointer; color: #2071b6; margin: 5px 5px 0 0;" title="Download" ng-click="exportOrder(rc.id)"></i>
				</div>
				<div class="form-horizontal" style="margin-bottom: 10px; border-radius: 5px; background-color: #85a985; padding-bottom: 5px; padding-left: 10px;">
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="checkBoxType.bon3" ng-true-value="true" ng-false-value="false" ng-change="chkBoxTypeChange()"> 3 ตัว
						</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="checkbox" ng-model="checkBoxType.bon2" ng-true-value="true" ng-false-value="false" ng-change="chkBoxTypeChange()"> 2 ตัวบน
						</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="checkbox" ng-model="checkBoxType.lang2" ng-true-value="true" ng-false-value="false" ng-change="chkBoxTypeChange()"> 2 ตัวล่าง
						</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="checkbox" ng-model="checkBoxType.loy" ng-true-value="true" ng-false-value="false" ng-change="chkBoxTypeChange()"> ลอย
						</label>
					</div>
				</div>
				
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 8%">#</th>
							<th style="width: 20%">วันที่</th>
							<th style="width: 27%">ชื่อ</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 15%">หมายเหตุ</th>
						</tr>
					</thead>
					
					<tbody id="orderDataInput"
							dnd-list="orderData[rc.id]"
							dnd-disable-if="isDnDable"
							dnd-drop="dropCallback(index, item, external, type, rc.id)">
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'orderNumber': formData.orderNumber}:comparator"
							dnd-draggable="ord"
							dnd-moved="orderData[rc.id].splice($index, 1)" 
							dnd-effect-allowed="move">
					
							<td style="width: 8%; font-size: 12px;">{{ $index + 1 }})</td>
							<td style="width: 20%; font-size: 12px;">{{ ord.createdDateTime | date:'dd/MM HH:mm' }}</td>
							<td style="width: 27%; font-size: 12px;">{{ ord.name }}</td>
							<td style="width: 30%">{{ ord.symBol }}</td>
							<td style="width: 15%;">{{ ord.note || '&nbsp;' }}</td>
						</tr>
					</tbody>
				</table>

				<div style="font-weight: 700;">
					<div>
						<span>ยอดซื้อทั้งหมด {{ formData.orderName ? '(' + formData.orderName + ')' : '' }} : </span> <span>{{ totalPriceSumAll[rc.id] | number:2 }}</span>
					</div>
					<div>
						<span style="float: left;">หลังส่วนลด&nbsp;</span> <select class="form-control input-sm" style="width: 100px; float: left;" ng-model="formData.discount" ng-change="changePercent()">
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
							<option value="30">30%</option>
						</select> &nbsp;: <span>{{ (totalPriceSumAll[rc.id] - ((formData.discount/100) * totalPriceSumAll[rc.id])) | number:2 }}</span>
					</div>
				</div>
				<div class="row" style="margin-top: 20px; padding-left: 5px; padding-right: 5px;">
					<div class="col-md-12" style="background-color: #a2bea2; padding-top: 15px; border: 1px solid #3c763d70; border-radius: 20px;">


						<!-- <div class="form-group input-group">
						    <div class="input-group input-group-sm">
								<span class="input-group-addon">เลข</span>
								<input type="text" class="form-control" placeholder="เลขที่จำกัด" ng-model="formData.bon">
							    <span class="input-group-addon">
							        <input type="checkbox" title="กลับทุกตำแหน่ง" ng-model="formData.bonSw" ng-disabled="formData.orderNumber.length > 3">
							    </span>							    
								<span class="input-group-addon">ประเภท</span>
								<select class="form-control" ng-model="formData.orderTypeRestricted" ng-options="option.id as option.name for option in orderTypeRestrictedList"
									ng-change="changeTab(formData.orderType)">
								</select>						    
							</div>
						</div> -->
						<div>
							<span>
								<strong>ตั้งค่าตัวเลขที่ <span style="text-decoration: underline;">ปิด หรือ จ่ายครึ่งราคา</span></strong>
							</span><br />
							<p>
								<strong>กลับทุกตำแหน่ง {*}, บน {&gt;}, ล่าง {&lt;}&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">ตัวอย่างเช่น</span> 123*, 12&gt;, 56&lt;, 90*&lt;</strong>
							</p>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">ปิด</span>
							<tags-input ng-model="noPrice[$index]" placeholder="เพิ่มเลข" min-length="2"
							on-tag-added="tagManage($index)" on-tag-removed="tagManage($index)"></tags-input>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">ครึ่งราคา</span>
							<tags-input ng-model="halfPrice[$index]" placeholder="เพิ่มเลข" min-length="2" 
							on-tag-added="tagManage($index)" on-tag-removed="tagManage($index)"></tags-input>
						</div>
						
						<!-- <div class="form-horizontal">
							<div class="form-group input-sm">
								<label for="inputEmail3" class="col-sm-2 control-label">จ่ายครึ่ง</label>
								<div class="col-sm-10">
									<textarea class="form-control input-sm" rows="1" style="resize: vertical; min-height: 34px;"></textarea>
								</div>
							</div>
							<div class="form-group input-sm">
								<label for="inputEmail3" class="col-sm-2 control-label">ปิด</label>
								<div class="col-sm-10">
									<textarea class="form-control input-sm" rows="1" style="resize: vertical; min-height: 34px;"></textarea>
								</div>
							</div>
						</div> -->


					</div>
				</div>
			</div>

			<div class="tab-pane fade fixedheader" id="home-pills" ng-class="{'active in': tabActived == 1}">
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 15%">#</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 35%">ราคารวม</th>
							<th style="width: 20%">จำนวน</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 15%">{{ $index + 1 }})</td>
							<td style="width: 30%">{{ ord._id }}</td>
							<td style="width: 35%">{{ ord.totalPrice | number:2}}</td>
							<td style="width: 20%">{{ ord.count | number:0 }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;"> รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</div>
			</div>
			<div class="tab-pane fade fixedheader" id="profile-pills" ng-class="{'active in': tabActived == 2}">
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 15%">#</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 35%">ราคารวม</th>
							<th style="width: 20%">จำนวน</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 15%">{{ $index + 1 }})</td>
							<td style="width: 30%">{{ ord._id }}</td>
							<td style="width: 35%">{{ ord.totalPrice | number:2}}</td>
							<td style="width: 20%">{{ ord.count | number:0 }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;"> รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</div>
			</div>
			<div class="tab-pane fade fixedheader" id="profile-pills" ng-class="{'active in': tabActived == 3}">
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 15%">#</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 35%">ราคารวม</th>
							<th style="width: 20%">จำนวน</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 15%">{{ $index + 1 }})</td>
							<td style="width: 30%">{{ ord._id }}</td>
							<td style="width: 35%">{{ ord.totalPrice | number:2}}</td>
							<td style="width: 20%">{{ ord.count | number:0 }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;"> รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</div>
			</div>
			<div class="tab-pane fade fixedheader" id="profile-pills" ng-class="{'active in': tabActived == 4}">
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 15%">#</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 35%">ราคารวม</th>
							<th style="width: 20%">จำนวน</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 15%">{{ $index + 1 }})</td>
							<td style="width: 30%">{{ ord._id }}</td>
							<td style="width: 35%">{{ ord.totalPrice | number:2}}</td>
							<td style="width: 20%">{{ ord.count | number:0 }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;"> รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</div>
			</div>
			<div class="tab-pane fade fixedheader" id="profile-pills" ng-class="{'active in': tabActived == 5}">
				<table class="table table-hover result-panel table-fixed">
					<thead>
						<tr>
							<th style="width: 15%">#</th>
							<th style="width: 30%">เลขที่ซื้อ</th>
							<th style="width: 35%">ราคารวม</th>
							<th style="width: 20%">จำนวน</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ord in orderData[rc.id] | filter:{'_id': formData.orderNumber}:comparator">
							<td style="width: 15%">{{ $index + 1 }})</td>
							<td style="width: 30%">{{ ord._id }}</td>
							<td style="width: 35%">{{ ord.totalPrice | number:2}}</td>
							<td style="width: 20%">{{ ord.count | number:0 }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span class="pull-right" style="font-weight: 700;"> รวม {{ totalPriceSum[rc.id] | number:2 }}&nbsp;&nbsp;&nbsp;&nbsp; </span>
				</div>
			</div>
			<div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 6}">
				<div>
					<div class="panel panel-default result-panel">
						<div class="panel-body">
							<div>
								<span class="pull-right" style="font-weight: 700; text-decoration: underline;">3 ตัวบน</span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>ชื่อ</td>
										<td>ราคาซื้อ</td>
										<td>ราคาจ่าย</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="res in result3[rc.id]">
										<td>{{ $index + 1 }}</td>
										<td>{{ res._id }}</td>
										<td>{{ res.price }}</td>
										<td>-</td>
									</tr>
									<tr ng-show="result3[rc.id].length == 0">
										<td colspan="4" style="text-align: center;"><i class="fa fa-ban fa-3x" style="color: red;"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default result-panel">
						<div class="panel-body">
							<div>
								<span class="pull-right" style="font-weight: 700; text-decoration: underline;">โต๊ด</span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>ชื่อ</td>
										<td>ราคาซื้อ</td>
										<td>ราคาจ่าย</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="res in resultTod[rc.id]">
										<td>{{ $index + 1 }}</td>
										<td>{{ res._id }}</td>
										<td>{{ res.todPrice }}</td>
										<td>-</td>
									</tr>
									<tr ng-show="resultTod[rc.id].length == 0">
										<td colspan="4" style="text-align: center;"><i class="fa fa-ban fa-3x" style="color: red;"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default result-panel">
						<div class="panel-body">
							<div>
								<span class="pull-right" style="font-weight: 700; text-decoration: underline;">2 ตัวบน</span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>ชื่อ</td>
										<td>ราคาซื้อ</td>
										<td>ราคาจ่าย</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="res in resultBon2[rc.id]">
										<td>{{ $index + 1 }}</td>
										<td>{{ res._id }}</td>
										<td>{{ res.price }}</td>
										<td>-</td>
									</tr>
									<tr ng-show="resultBon2[rc.id].length == 0">
										<td colspan="4" style="text-align: center;"><i class="fa fa-ban fa-3x" style="color: red;"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default result-panel">
						<div class="panel-body">
							<div>
								<span class="pull-right" style="font-weight: 700; text-decoration: underline;">2 ตัวล่าง</span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>ชื่อ</td>
										<td>ราคาซื้อ</td>
										<td>ราคาจ่าย</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="res in resultLang2[rc.id]">
										<td>{{ $index + 1 }}</td>
										<td>{{ res._id }}</td>
										<td>{{ res.price }}</td>
										<td>-</td>
									</tr>
									<tr ng-show="resultLang2[rc.id].length == 0">
										<td colspan="4" style="text-align: center;"><i class="fa fa-ban fa-3x" style="color: red;"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="panel panel-default result-panel" style="margin-bottom: 0;">
						<div class="panel-body">
							<div>
								<span class="pull-right" style="font-weight: 700; text-decoration: underline;">ลอย</span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>ชื่อ</td>
										<td>เลขที่ซื้อ</td>
										<td>ราคาซื้อ</td>
										<td>ราคาจ่าย</td>
									</tr>
								</thead>
								<tbody>
									<tr>
									<tr ng-repeat="res in resultLoy[rc.id]">
										<td>{{ $index + 1 }}</td>
										<td>{{ res.name }}</td>
										<td>{{ res.orderNumber }}</td>
										<td>{{ res.price }}</td>
										<td>-</td>
									</tr>
									<tr ng-show="resultLoy[rc.id].length == 0">
										<td colspan="5" style="text-align: center;"><i class="fa fa-ban fa-3x" style="color: red;"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>