<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">{{'profile.header_title' | translate}}</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> {{'profile.header_panel' | translate}}
                </div>
                <div class="panel-body">
					<form role="form" name="profileForm" ng-submit="updateProfile()" style="color: #337AB7;">
						<div class="col-md-6">
							<!-- <div class="row">
								<div class="form-inline" style="text-align: center;">
									<label class="bg-success profile-label">{{'profile.role' | translate}} <i class="fa fa-caret-right fa-fw"></i> {{ data.role }}</label>
								</div>
							</div> -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': profileForm.userNameShow.$invalid  || existingUserShowErrMsg}">
										<label class="control-label">{{'profile.username_show' | translate}} *</label>
										<span class="text-danger" ng-show="existingUserShowErrMsg" style="position: absolute; right: 0px;">
											<i class='fa fa-warning fa-fw'></i><em>{{ existingUserShowErrMsg }}</em>
										</span>
										<input name="userNameShow" class="form-control" ng-model="data.usernameShow" ng-change="existingUserShowErrMsg = null" required>
									</div>
									<div class="form-group" ng-class="{'has-error': profileForm.userName.$invalid  || existingUserErrMsg}">
										<label class="control-label">{{'profile.username' | translate}} *</label>
										<span class="text-danger" ng-show="existingUserErrMsg" style="position: absolute; right: 0px;">
											<i class='fa fa-warning fa-fw'></i><em>{{ existingUserErrMsg }}</em>
										</span>
										<input name="userName" class="form-control" ng-model="data.username" ng-change="existingUserErrMsg = null" required>
									</div>
									<div class="form-group">
										<label class="control-label">{{'profile.new_password' | translate}}</label> 
										<input class="form-control" type="password" ng-model="data.password">
									</div>
									<div class="form-group" ng-class="{'has-error':notMatchRepassErrMsg}">
										<label class="control-label">{{'profile.re_type_new_password' | translate}}</label> 
										<span class="text-danger" ng-show="notMatchRepassErrMsg" style="position: absolute; right: 0px;">
											<i class='fa fa-warning fa-fw'></i><em>{{ notMatchRepassErrMsg }}</em>
										</span>
										<input class="form-control" type="password" ng-model="data.reTypePassword" ng-change="notMatchRepassErrMsg = null">
									</div>
								</div>
							
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': profileForm.firstName.$invalid}">
										
										<label class="control-label">ชื่อ</label>
										<div class="input-group">
											<div class="input-group-btn">
										        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ titleShow }} <span class="caret"></span></button>
										        <ul class="dropdown-menu">
										          <li ng-repeat="t in nameTitles"><a href="" ng-click="changeTitle(t)">{{ t }}</a></li>
										        </ul>
											</div>						
											<input name="firstName" class="form-control" ng-model="data.firstName" required>
										</div>
										
									</div>
									<div class="form-group" ng-class="{'has-error': profileForm.lastName.$invalid}">
										<label class="control-label">สกุล</label>
										<input name="lastName" class="form-control" ng-model="data.lastName">
									</div>
									<!-- <div class="form-group">
										<label class="control-label">เบอร์โทร</label>
										<input name="phoneNumber" class="form-control" ng-model="data.phoneNumber">
									</div> -->
									<div class="form-group">
										<label class="control-label">เบอร์โทร</label>
										<div class="input-group input-daterange">
											<input name="phoneNumber" class="form-control" ng-model="data.phoneNumber" style="text-align: left;">
										    <span class="input-group-addon">ext.</span>
										    <input name="phoneExt" class="form-control" ng-model="data.phoneExt" style="width: 80px;">
										</div>
									</div>
									
									
									
									<div class="form-group" ng-class="{'has-error': profileForm.image.$invalid}">
										<label class="control-label">ภาพถ่ายหน้าตรง</label>
										<code style="position: absolute; right: 15px;"><em>*ไม่เกิน 1 MB</em></code>
										<input tabindex="9" class="form-control" id="image" name="image" type="file" onchange="angular.element(this).scope().preview(this)" 
										       ng-model="data.imgUpload" maxsize="1000" base-sixty-four-input accept=".png,.jpg,.gif" />
										<span class="text-danger" ng-show="profileForm.image.$error.maxsize">
											<i class='fa fa-warning fa-fw'></i><small><em>ขนาดไฟล์เกินที่กำหนด</em></small>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="text-align: center;">
									<button ng-disabled="profileForm.$invalid" type="submit" class="btn btn-outline btn-primary btn-lg">{{'profile.update_btn' | translate}}</button>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<img id="imgUpload" class="img-thumbnail" ng-src="{{ imageSource }}" style="height: 110px;" ng-show="imageSource">		
						</div>
					</form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>