<style>
.has-error .checkbox, 
.has-error .checkbox-inline, 
.has-error .control-label, 
.has-error .help-block, 
.has-error .radio, 
.has-error .radio-inline, 
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, 
.has-error.radio-inline label {
	color: #5bc0de;
}
.has-error .form-control {
	border-color: #5bc0de;
}
.has-error .form-control:focus {
	border-color: #5bc0de;
}
.text-danger {
	color: #f29c21;
}
.editable-wrap {
    width: 100%;
}
</style>

<form name="addUserForm" autocomplete="off" role="addUserForm" ng-submit="isEdit ? update() : save()" novalidate style="margin-top: 15px; color: #cccccc;">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group input-group-sm">
						<label class="control-label">Name</label>
						<input name="name" class="form-control data-form" ng-model="customer.name" autocomplete="none">
					</div>
					<div class="form-group input-group-sm">
						<label class="control-label">TAX ID.</label>
						<input name="taxID" class="form-control data-form" ng-model="customer.taxID" autocomplete="none">
					</div>
					<div class="form-group input-group-sm">
						<label class="control-label">Code</label>
						<input name="code" class="form-control data-form" ng-model="customer.code" autocomplete="none">
					</div>
					<div class="form-group input-group-sm" ng-class="{'has-error':addUserForm.roles.$invalid}">
						<label class="control-label">Package</label>
						<select class="form-control" ng-model="customer.package" ng-disabled="!customer.name" ng-options="option.id as option.name for option in packages" ng-change="updateCustomer('package', null)"></select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group input-group-sm">
						<label class="control-label">Address</label>
						<textarea name="address" class="form-control data-form" ng-model="customer.address" style="resize: vertical; height: 100px;" autocomplete="none"></textarea>
					</div>
					<div class="form-group input-group-sm">
						<label class="control-label">Paid NO.</label>
						<textarea name="paidNO" class="form-control data-form" ng-model="customer.paidNO" style="resize: vertical; height: 100px;" autocomplete="none"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group input-group-sm">
						<label class="control-label">Email</label>
						<input type="email" name="email" class="form-control data-form" ng-model="customer.email">
					</div>
					<div class="form-group input-group-sm">
						<label class="control-label">Line ID.</label>
						<input type="text" name="lineID" class="form-control data-form" ng-model="customer.lineID">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group input-group-sm">
						<label class="control-label">Tel.</label>
						<input type="text" name="tel" class="form-control data-form" ng-model="customer.tel">
					</div>
					<div class="form-group input-group-sm">
		                 <label>Status &nbsp;&nbsp;</label>
		                 <label class="radio-inline">
		                     <input type="radio" name="status" value="true" ng-disabled="!customer.name" ng-checked="customer.enabled == true" ng-model="customer.enabled" ng-change="updateCustomer('enabled', null)">On
		                 </label>
		                 <label class="radio-inline">
		                     <input type="radio" name="status" value="false" ng-disabled="!customer.name" ng-checked="customer.enabled == false" ng-model="customer.enabled" ng-change="updateCustomer('enabled', null)">Off
		                 </label>
		            </div>		
				</div>
			</div>
			
			<!-- <br />
			<br />
			<br />
			<div class="row">
				<div class="col-md-12">
		            <div style="text-align: center;">
						<button type="submit" class="btn btn-outline btn-info">Save</button>
					</div>
				</div>
			</div> -->
		</div>
</form>


<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">	
			<table class="table table-striped table-hover gambler-panel" style="margin: 0;">
				<thead>
					<tr style="color: #cccccc;">
						<th style="width: 30px;">#</th>
						<th style="width: 124px;">Created Date</th>
						<th>Name</th>
						<th style="width: 78px;">Status</th>
						<th style="width: 63px;"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in customer.products track by $index" style="background-color: #525151;">
						<td>{{ $index + 1 }}</td>
						<td>{{ item.createdDateTime | date : 'dd/MM/yyyy hh:mm' }}</td>
						<td>
							<span editable-text="item.name" e-name="name" e-class="input-sm" e-form="rowform" e-autocomplete="off">{{ item.name }}</span>
						</td>
						<td>
							<span editable-select="item.enabled" e-name="enabled" e-class="input-sm" e-form="rowform"  e-ng-options="s.value as s.text for s in statuses">
								<i class="fa fa-check-circle fa-lg" ng-show="item.enabled" title="On"></i>
								<i class="fa fa-minus-circle fa-lg" ng-hide="item.enabled" title="Off"></i>
							</span>
						</td>
						<td>
							<form editable-form name="rowform" onbeforesave="saveItem($data, item, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == item">
								<i class="fa fa-reply fa-lg" ng-disabled="rowform.$waiting" ng-click="item.id != null ? rowform.$cancel() : cancelNewItem(item)" title="ยกเลิก"></i>&nbsp;&nbsp;
								<i class="fa fa-floppy-o fa-lg" ng-disabled="rowform.$waiting" onclick="$(this.parentElement).submit()" title="บันทึก"></i>
							</form>
							<div class="buttons" ng-show="!rowform.$visible">
								<i class="fa fa-times fa-lg" ng-click="removeItem($index, item.id)" title="ลบ"></i>&nbsp;&nbsp;
								<i class="fa fa-pencil-square-o fa-lg" ng-click="rowform.$show()" title="แก้ใข"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
			<button type="button" class="btn btn-primary btn-circle btn-sm" ng-click="addItem()" ng-show="customer._id">
				<i class="fa fa-plus-square"></i>
			</button>
		</div>

	</div>
</div>