<style>
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: #5bc0de;
    border-color: #4ca0b9;
}
</style>

<div class="panel panel-info" style="margin: 0; border-color: #2C2B2B; background-color: #6e6c6c;">
	<div class="panel-heading" style="background-color: #525151; border-color: #2C2B2B; color: #cccccc;">
		<form class="form-inline" ng-submit="search()" autocomplete="off">
		  <div class="form-group input-group input-group-sm">
		    <span class="input-group-addon"><i class="fa fa-search"></i></span>
		    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="formData.name">
		  </div>	 
		  
		  <!-- <div class="form-group input-group input-group-sm">
		  	<span class="input-group-addon">Package</span>
			<select class="form-control" ng-model="formData.package" ng-options="option.id as option.name for option in main.packages" ng-change="search()">
				<option value="">ทั้งหมด</option>
			</select>
		  </div> -->
		   
		  <div class="form-group input-group-sm">
                <label style="margin-left: 20px;">Status &nbsp;&nbsp;</label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="true" ng-model="formData.enabled" ng-change="search()">On
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="false" ng-model="formData.enabled" ng-change="search()">Off
                </label>
		   </div>
		</form>
	</div>
	
	<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px; background-color: #525151; border-color: #525151; color: #cccccc;">
		<span class="input-group-addon" style="border: 0px; background: none; color: #cccccc;">
			{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="pageChanged()" total-items="totalItems"
					first-text="{{'pagination.first' | translate}}"
					previous-text="{{'pagination.previous' | translate}}"
					next-text="{{'pagination.next' | translate}}"
					last-text="{{'pagination.last' | translate}}"
					ng-model="$parent.formData.currentPage" items-per-page="itemsPerPage"
					max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
					rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #cccccc;">
			<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>

<div class="table-responsive">	
	<table class="table table-striped table-hover gambler-panel" style="margin: 0;">
		<thead>
			<tr style="color: #cccccc;">
				<th>#</th>
				<th>Created Date</th>
				<th>Name</th>
				<th>Code</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="u in customers track by $index" style="background-color: #525151;">
				<td>{{ $index + 1 + ((formData.currentPage - 1) * itemsPerPage) }}</td>
				<td>{{ u.createdDateTime | date : 'dd/MM/yyyy hh:mm' }}</td>
				<td>{{ u.name }}</td>
				<td>{{ u.code }}</td>
				<td>
					<i class="fa fa-check-circle fa-lg" ng-show="u.enabled" title="On"></i>
					<i class="fa  fa-minus-circle fa-lg" ng-hide="u.enabled" title="Off"></i>
				</td>
				<td>
					<i class="fa fa-times fa-lg" style="cursor: pointer;" ng-click="deleteData(u._id)"></i>&emsp;
					<i class="fa fa-edit fa-lg" style="cursor: pointer;" ng-click="editData(u)"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
