<div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
            	Dashboard
            	<span class="btn-group">
					<button type="button" class="btn btn-primary btn-sm btn-outline" style="min-width: 50px;" ng-class="{'active': group.btnActive}" ng-repeat="group in groupDatas" ng-click="changeTab(group)">
				  		<i class="glyphicon" ng-class="{'glyphicon-align-left': group.id == 1, 'glyphicon-align-center': group.id == 2}"></i>
				  	</button>
				</span>
            </h1>
        </div>
    </div>
    <div class="row">
    	<div ui-view>
	    	<div class="col-xs-6" ng-init="initDate()">
		        <div class="panel panel-primary">
		            <div class="panel-heading">ข้อมูลการติดตาม ({{ formData.isAll ? 'ทั้งหมด' : 'รายบัญชี' }})</div>
		            <div class="panel-body" style="padding: 5px;">
		            	<div class="form-inline">
			            	<div class="row">
			                   	<div class="col-xs-12" style="text-align: right;">
			                   		<div class="well" style="padding: 5px; margin-bottom: 5px;">
										<div class="input-group input-daterange">
										  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						                    <input name="dateFrom" type='text' class="form-control input-sm dtPicker" style="width: 130px; style="font-size: 0.9em;"
						                    	   ng-model="formData.dateFrom" placeholder="วันที่เริ่มต้น" date-parser="dd/MM/yyyy HH:mm" />
							                <span class="input-group-addon">ถึง</span>
						                    <input name="dateTo" type='text' class="form-control input-sm dtPicker" style="width: 130px; style="font-size: 0.9em;"
					                    	   		ng-model="formData.dateTo" placeholder="วันที่สิ้นสุด" date-parser="dd/MM/yyyy HH:mm" />
					                    	<span class="input-group-addon">
									        	<input type="checkbox" ng-model="formData.isAll" title="ทั้งหมด/รายบัญชี" ng-change="traceCount()">
									      	</span>
									  </div>
			                   		</div>
			                   	</div>
			            	</div>
		            	</div>
		            	
		            	<div class="well" style="padding: 5px; margin-bottom: 0;">
		                	<canvas id="bar" class="chart chart-bar"
		                		chart-data="bar.data" 
		                		chart-labels="bar.labels" 
		                		chart-series="bar.series" 
		                		chart-options="bar.options"
		                		chart-colors="colors"></canvas>
                		</div>
                		<div style="padding: 7px 0 3px 0; text-align: right;">
                			<span class="label label-primary" style="font-size: 14px; font-weight: inherit;">ผลการติดตามรวม : {{ bar.sum | number:0 }}</span>
                		</div>
		            </div>
		        </div>
		    </div>
		    <div class="col-xs-6" ng-show="!group6">
		        <div class="panel panel-primary">
		            <div class="panel-heading">ข้อมูลการชำระ
			            <div class="row form-inline">
			            	<div class="col-xs-6" style="position: absolute; right: 6px; top: 6px;"></div>
						</div>
		            </div>
		            <div class="panel-body" style="padding: 5px;">
		            	<div class="form-inline">
			            	<div class="row">
			                   	<div class="col-xs-12" style="text-align: right;">
			                   		<div class="well" style="padding: 5px; margin-bottom: 5px;">
										<div class="input-group input-daterange">
										  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						                    <input name="dateFrom_payment" type='text' class="form-control input-sm dtPicker" style="width: 130px; style="font-size: 0.9em;"
						                    	   ng-model="formData.dateFromPayment" placeholder="วันที่เริ่มต้น" date-parser="dd/MM/yyyy HH:mm" />
							                <span class="input-group-addon">ถึง</span>
						                    <input name="dateTo_payment" type='text' class="form-control input-sm dtPicker" style="width: 130px; style="font-size: 0.9em;"
					                    	   		ng-model="formData.dateToPayment" placeholder="วันที่สิ้นสุด" date-parser="dd/MM/yyyy HH:mm" />
									  </div>
			                   		</div>
			                   	</div>
			            	</div>
		            	</div>		            
			            <div class="well" style="padding: 5px; margin-bottom: 0;">
		                	<canvas id="bar2" class="chart chart-bar" 
		                		chart-data="bar2.data" 
		                		chart-labels="bar2.labels" 
		                		chart-series="bar2.series" 
		                		chart-options="bar2.options"
		                		chart-colors="colors2"></canvas>	                		
			            </div>
			            
			            <div style="padding: 7px 0 3px 0;">
                    		<span ng-repeat="sum in bar2.sums"><span class="label label-primary" style="font-size: 14px; font-weight: inherit;">{{ sum.label + ' : ' + (sum.value | number : (sum.label == 'จำนวนบัญชีรวม' ? 0 : 2)) }}</span>&nbsp;</span>
			            </div>
		            </div>
		        </div>
		    </div>
	    
	    </div>
	    
    </div>
</div>