
<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Contact Us</h1>
	</div>
</div>

   <div class="row">
       <div class="col-md-12">
       
           <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
                    <div class="panel-body">
	                    <div class="well well-sm" style="margin-bottom: 0;">
	                        <div class="form-horizontal" style="padding-top: 15px;">
		                        <div class="form-group input-group">
									<span class="input-group-addon"></span>
									<input class="form-control" placeholder="Name..." ng-model="formData.name">
									<span class="input-group-addon"></span>
									<input class="form-control" placeholder="Mobile..." ng-model="formData.mobile">
									<span class="input-group-addon"></span>
								</div>
		                        <div class="form-group input-group">
									<span class="input-group-addon"></span>
									<input class="form-control" placeholder="Line ID..." ng-model="formData.line">
									<span class="input-group-addon"></span>
									<input class="form-control" placeholder="Email..." ng-model="formData.email">
									<span class="input-group-addon"></span>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Detail" style="resize: vertical; min-height: 150px;" ng-model="formData.detail"></textarea>
								</div>
		                        <div class="form-group" style="text-align: center;">
		                        	<input type="file" class="form-control" nv-file-select uploader="uploader" />
		                        	<ul style="text-align: left;">
							            <li ng-repeat="item in uploader.queue">
							                <i class="fa fa-times fa-lg user-action-icon-danger" ng-click="item.remove()" title="ลบ"></i>&nbsp;&nbsp;
							                <span ng-bind="item.file.name"></span>
							                <br/>
							            </li>
							        </ul>
							        <button class="btn btn-primary" type="button" ng-click="sent()">&nbsp;&nbsp;SEND&nbsp;&nbsp;
										<i class="fa fa-spinner fa-spin fa-fw" ng-show="isProcessing"></i>
									</button>
								</div>
		                        <div class="form-group">
		                        	<button class="btn btn-success" type="button" ui-sref="dashboard.paymentToUs" ng-show="group1 || group5">ช่องทางการชำระเงิน</button>
		                        	<button class="btn btn-success pull-right" type="button" ui-sref="dashboard.paymentToUs" ng-show="group1 || group5">ช่องทางการชำระเงิน</button>
		                        </div>
	                        </div>
	                    </div>
                    </div>
                </div>
			</div>
		</div>
			
       </div>
   </div>
