html {
	background-color: #525151;
	height: 100%;
}
body {
    overscroll-behavior: contain;
    padding-bottom: 0;
	background-color: #525151;
	height: 100%;
}
.noncopy {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.key {
	width: 47px;
	height: 47px;
	padding: 1px;
	margin: 0 10px 25px 0;
}

div.key>span {
	display: block;
	width: 65px;
	height: 60px;
	border: 1px solid #858080;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	font-size: 12px;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	text-align: center;
	padding-top: 13px;
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px
		rgba(169, 169, 169, 1);
	cursor: pointer;
}

div.key>span:hover {
	background-color: #75b4fb;
	border: 1px solid #5a88c5;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px
		0px rgba(90, 136, 197, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px
		0px rgba(90, 136, 197, 1);
	box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px 0px
		rgba(90, 136, 197, 1);
	cursor: pointer;
}

div.key>span:active {
	margin-top: 2px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

div.key.special>span {
	padding-top: 7px;
	font-size: 2em;
	font-weight: bold;
}

div.key.icon>span {
	font-size: 14px;
}

center>h4 {
	color: #c5c5c5;
	margin-top: 50px;
}

ul#keys-freebie {
	display: table;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 300px;
}

ul#keys-freebie>li {
	float: left;
	margin-right: 20px;
	/* margin-bottom: 20px; */
	padding: 3px 0;
}

ul#keys-freebie>li:last-child {
	margin-right: 0;
}

ul#keys-freebie>li>span {
	margin-bottom: 10px;
}

.display-box {
	/* margin: 0 auto; */
	border: 1px solid #858080;
	/* display: inline-block; */
	/* width: 300px; */
	height: 48px;
	/* line-height: normal; */
	/* padding: 10px; */
	font-size: 24px;
	font-weight: bold;
	color: black;
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px
		rgba(169, 169, 169, 1);
}
.function-stye {
	background-color: rgb(171 171 170);
	color: black;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
#lps-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block;  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  text-align: center;
}
#lps-overlay div {
    position:relative;
    top:50%;
    color: white;
}
.detail-style:hover {
	background-color: #B6D2E1;
}
.badge-cus {
	background-color: #68aad1; 
	color: black; 
	padding: 6px;
	font-size: 16px;
}
.has-error.form-control {
	border-color: #f5483f;
}
.has-error.form-control:focus {
	border-color: #f5483f;
}