<style>
	#autocompleteCust .dropdown-menu {
	max-height: 87px;
	overflow: auto;
}
</style>
<div ui-view>
	<div style="text-align: center;">
	      	<div style="margin: auto; color: #c1c1c1;">
				<div id="valueBox" style="overflow: auto; width: 100%; height: 108px; text-align: left; margin-bottom: 5px;" 
					 ng-style="(isOnOrderImg && orderList.length == 0) ? {'border': '1px dashed #68aad1'} : {}">
					<span class="btn btn-outline btn-info" style="padding: 0 3px; border-color: rgb(141 141 141); font-size: 1.3em;" 
						  ng-repeat='ord in orderList' ng-click="updateOrdSet(ord, $index)">
						{{ ord.orderNumberSet }} {{ ord.typeObj.type == 23 ? 'บนล่าง' : (ord.typeObj.type == 2 ? 'บน' : (ord.typeObj.type == 3 ? 'ล่าง' : 
						(ord.typeObj.type == 44 ? 'วิ่งล่าง' : (ord.typeObj.type == 4 ? 'ลอย' : (ord.typeObj.type == 43 ? 'วิ่งบน' : 
						(ord.typeObj.type == 41 || ord.typeObj.type == 42 ? 'แพ' : (ord.typeObj.type == 132 ? 'เฉพาะโต๊ด' : 
						(ord.typeObj.type == 121 || ord.typeObj.type == 122 ? 'กลับหมด' : '')))))))) }}
					</span>
				</div>
				<div style="border: 1px solid #858080; font-size: 2em; overflow: auto; width: 100%; margin: auto;" ng-click="addToList()">
					<div style="padding-left: 0.2em; color: #5bc0de; font-size: 0.6em; position: absolute;" ng-repeat="pd in predicTypeList | filter:{init: true}">
						{{ pd.name }}
					</div>
					<div>
						<span>
							{{ keyword || '&nbsp;' }}
						</span>
					</div>
					<div style="clear: both;"></div>
				</div>
				
				
				<!-- Action -->
				<div style="margin: auto; text-align: center; margin-top: 50px; min-height: 50px;">
					<button type="button" style="margin-right: 10px; margin-bottom: 5px; min-width: 55px" class="btn btn-outline btn-info" ng-repeat="pd in predicTypeList | filter:{init: false}" ng-click="changeType(pd)">
						{{ pd.name }}
					</button>
					<button type="button" style="margin-right: 10px; margin-bottom: 5px; min-width: 55px" class="btn btn-outline btn-warning" ng-repeat="pd in predicPriceProbList | filter:{show:true}" ng-click="changePriceProb(pd)">
						{{ pd.name }}
					</button>	
				</div>
			
				<div class="disable-dbl-tap-zoom">
					<div>
						<ul id="keys-freebie">
							<li ng-repeat="kb in kbs">
								<div class="key" ng-class="(k == 'CLR' || k == 'logout') ? 'icon' : 'special'" ng-repeat="k in kb" ng-style="k == '-' ? {'visibility': 'hidden'}:{}">
									<span ng-class="{'function-stye' : (k == '=' || k == 'x' || k == 'ลบ' || k == ',' || k == '?')}"
										  ng-click="kbPressed(k)"> {{ k }} </span>
								</div>
							</li>
						</ul>
					</div>				
				</div>
				
				<!-- Action -->
				<div style="margin: auto; text-align: center; margin-top: 20px; height: 50px;">
					<button type="button" class="btn btn-outline btn-warning btn-lg" ng-show="orderList.length > 0" ng-click="clearOrderList()">ล้างข้อมูล</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-outline btn-success btn-lg" ng-show="orderList.length > 0 && !keyword" ng-click="askName()">
						ส่งข้อมูล
					</button>
					
					<button type="button" class="btn btn-outline btn-success btn-lg" ng-show="orderList.length == 0" ng-click="showOrder()" ng-disabled="inProgress">แสดงข้อมูลซื้อ</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-outline btn-success btn-lg" ng-show="orderList.length == 0 && isOnOrderImg" ng-click="requestImg()" ng-disabled="inProgress">{{ inProgress ? 'กรุณารอ..' : 'ข้อมูลภาพ' }}</button>
					
				</div>
		
		</div>
	</div>
</div>
