<div class="panel panel-info" style="margin: 0;">
	<div class="panel-heading">
		<form class="form-inline" ng-submit="search()" name="searchForm" novalidate>
			<div class="row">
				<div class="col-lg-12">
				
				  <div class="form-group input-group" ng-show="group2">
				  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
				  	<select name="column" class="form-control" ng-model="formData.owner" ng-options="option.id as option.showname for option in users" ng-change="search()">
						<option value="">--ทั้งหมด--</option>
			  		</select>
				  </div>
				  
				  <div class="form-group input-group">
				   	<span class="input-group-addon"><i class="fa fa-search"></i></span>
				    <input type="text" class="form-control" placeholder="keyword search" ng-model="formData.keyword" style="width: 150px;">
				  </div>
				  
				  <div class="input-group input-daterange">
				  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    <input type="text" id="dateFrom" name="dateFrom" class="form-control" 
				    	   readonly="readonly" date-parser="dd/MM/yyyy" 
				    	   style="width: 120px;" ng-model="formData.dateFrom" ng-change="dateFromChange()" placeholder="วันที่เริ่มต้น">
				    <span class="input-group-addon">ถึง</span>
				    <input type="text" id="dateTo" name="dateTo" class="form-control" 
				    	   readonly="readonly" date-parser="dd/MM/yyyy" 
				    	   style="width: 120px;" ng-model="formData.dateTo" ng-change="dateToChange()" placeholder="วันที่สิ้นสุด">
				  </div>
				  
				  &nbsp;&nbsp;
				  <button type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
			   	  <button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
				  
				  
				  
				  <div class="pull-right">
				  	  <div class="dropdown pull-right">
					      <button class="btn btn-outline btn-primary" type="button" data-toggle="dropdown" data-submenu="">
					        <i class="fa fa-download"></i> Export
					      </button>
					  </div>
				   </div>
				</div>
			</div>
		</form>
	</div>

	<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
		<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
			{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ totalItems | number:0 }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="pageChanged()" total-items="totalItems"
						first-text="{{'pagination.first' | translate}}"
						previous-text="{{'pagination.previous' | translate}}"
						next-text="{{'pagination.next' | translate}}"
						last-text="{{'pagination.last' | translate}}"
						ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
						max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
						rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
			<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>
					
					
					
					
					
<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered" style="margin: 0;">
		<thead>
			<tr>
				<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
				<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7; padding-left: 30px; padding-right: 30px;">
						{{ h.columnNameAlias || h.columnName }}
				</th>
				<th ng-repeat="h in taskDetailHeaders" style="white-space: nowrap; text-align: center; color: #337AB7; padding-left: 30px; padding-right: 30px;">
						{{ h.columnNameAlias || h.columnName }}
				</th>
			</tr>
		<thead>
		<tbody>
			<tr ng-repeat="data in paymentDetails track by $index" ng-class="{'comm-row-selected': data.selected}" ng-mousedown="rowSelect(data, $index, $event)" style="color: #337AB7;">
				<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
				<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
					{{ 
					   h.dataType == 'date' ? (data[h.columnName] | date:gb_dateFormat) : 
					   h.dataType == 'num' ? (data[h.columnName] | number:2) : data[h.columnName] 
					}}
				</td>
				<td ng-repeat="h in taskDetailHeaders" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
					{{ 
					   h.dataType == 'date' ? (data.taskDetail[h.columnName] | date:gb_dateFormat) : 
					   h.dataType == 'num' ? (data.taskDetail[h.columnName] | number:2) : data.taskDetail[h.columnName] 
					}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
					