<style>
.tabh-style a {
	color: #cccccc;
}
.admin {
	color: #55c655;
}
.customer {
	color: #ff9b0d;
}

/* Table header fixed schroll */
.table-fixed tbody {
  height: 377px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
  border-top: .5px solid #ddd !important;
  white-space: nowrap;
}
.table-fixed thead tr th {
  float: left;
}
/* Table header fixed schroll */

.cutom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media print {
    .table-fixed tbody {
    	height: 100%;
    }
}
</style>

<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">
				<span class="pull-left">{{ showname }}</span>
				<i class="fa fa-money fa-fw"></i> สรุปยอดซื้อ
			</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-12">
			<div class="panel gambler-panel">
                <div class="panel-body" style="min-height: 584px;">
                	
                	<div class="row">
                		<div class="col-md-4">
		                	<div class="form-group input-group" style="margin-top: 2px;">
			                	<span class="input-group-addon">งวดที่</span>
						      	<select class="form-control" ng-model="formData.period" ng-options="option._id as option.periodDateTime | date:'dd/MM/yyyy' for option in periods" ng-change="changePeriod()"></select>
						    </div>
					    </div>
                	
                		<div class="col-md-8">
		                	<ul class="nav nav-tabs tabh-style" style="font-size: 12px; background-color: #2C2B2B; border-radius: 5px;">
			                     <li ng-class="{'active': tabActived == 0}" ng-click="changeTab(0)"><a href="" data-toggle="tab">สรุปรวม</a></li>
			                     <li ng-class="{'active': tabActived == 1}" ng-click="changeTab(1)"><a href="" data-toggle="tab">สรุปรายบุคคล</a></li>
							</ul>
                		</div>
                	</div>
                
                
					<div class="tab-content">
						<div style="position: absolute; top: 200px; left: 50%; z-index: 1000;" ng-show="isLoadProgress">
							<div style="position: relative; left: -50%; color: #da983b;">
								<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
							</div>
						</div>
					
						<!-- ### Tab 0 -->
						<div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 0}">
							
							 <div class="form-group input-group" style="margin-bottom: 10px;">
			                	<span class="input-group-addon" style="background-color: #984133; color: #cccccc">ยอดซื้อรวม</span>
			                	<span class="form-control" style="background-color: #3f6740; color: #cccccc;">{{ sum1 | number:2 }}</span>
			                	
			                	<span class="input-group-addon" style="background-color: #984133; color: #cccccc">ส่วนลดรวม</span>
			                	<span class="form-control" style="background-color: #3f6740; color: #cccccc;">{{ sumDiscount1 | number:2 }}</span>
			                	
			                	<span class="input-group-addon" style="background-color: #984133; color: #cccccc">ยอดซื้อรวมสุทธิ</span>
			                	<span class="form-control" style="background-color: #3f6740; color: #cccccc;">{{ sum1 - sumDiscount1 | number:2 }}</span>
							</div>
							
						    <div>
								<table class="table gambler-panel result-panel table-hover table-fixed">
									<thead>
										<tr>
											<th style="width: 5%; text-align: center; font-weight: 500;">#</th>
											<th style="width: 30%; text-align: center; font-weight: 500;">ชื่อ</th>
											<th style="width: 20%; text-align: center; font-weight: 500;">ยอดซื้อ</th>
											<th style="width: 25%; text-align: center; font-weight: 500;">ยอดลด/ราคา</th>
											<th style="width: 20%; text-align: center; font-weight: 500;">ยอดซื้อ หัก ส่วนลด</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pay in paymentAllData">
											<td style="width: 5%; text-align: center; height: 47px;">{{ ($index + 1) + '. ' }}</td>
											<td style="width: 30%; text-align: left; height: 47px;">
												<i class="fa fa-fw" ng-class="{'fa-user-o customer': pay.isCustomer, 'fa-user-circle-o admin': !pay.isCustomer}"></i>
												{{ pay.name }}</td>
											<td style="width: 20%; text-align: right; height: 47px;">{{ pay.sum | number:2 }}</td>
											<td style="width: 25%; text-align: center; height: 47px;">
												<div class="form-group input-group input-sm" style="margin-bottom: 0; padding: 0;">
								                	<span class="input-group-addon" style="min-width: 100px; text-align: right; background-color: #474646; color: #cccccc;">{{ pay.sumDiscount | number:2 }}</span>
											      	<select class="form-control input-sm" ng-model="pay.price" ng-disabled="pay.sum == 0" ng-options="option.id as option.priceListName for option in priceList" ng-change="changePrice(pay)"></select>
											    </div>
											</td>
											<td style="width: 20%; text-align: right; height: 47px;">{{ (pay.sum - pay.sumDiscount) | number:2 }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					
						<!-- ### Tab 1 -->
						<div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 1}">	
			                <div class="form-group input-group" style="margin-bottom: 10px;">
			                	<span class="input-group-addon">ผู้บันทึก</span>
			                	<select class="form-control" ng-model="formData.userRole" ng-options="option.id as option.name for option in roles" ng-change="changeRole()"></select>
						  	  	
			                	<span class="input-group-addon"></span>
						      	<select class="form-control" ng-model="formData.userSearchId" ng-options="option as option.desc for option in paymentCustomerData" ng-change="changeOrderName()" ng-disabled="formData.userRole == 3">
						  	  		<option value="">--{{ formData.userRole == 1 ? 'กรุณาเลือก' : 'ทั้งหมด'}}--</option>
						  	  	</select>
			                	
								<span class="input-group-addon">ผู้ซื้อ</span>
						      	<select class="form-control" ng-model="formData.orderName" ng-options="option as option.desc for option in paymentAdminData" ng-change="changeOrderName()" ng-disabled="formData.userRole == 1">
						  	  		<option value="">--{{ formData.userRole == 3 ? 'กรุณาเลือก' : 'ทั้งหมด'}}--</option>
						  	  	</select>
						  	  	
								<span class="input-group-addon">ราคา</span>
						      	<select class="form-control cutom-select" ng-model="formData.priceList" disabled="disabled" ng-options="option.id as option.priceListName for option in priceList">
						      		<option value="">----</option>
						      	</select>
						    </div>
							<div>
								<table class="table gambler-panel result-panel table-hover">
									<thead>
										<tr>
											<th style="width: 25%; text-align: center; font-weight: 500;">ประเภท</th>
											<th style="width: 25%; text-align: center; font-weight: 500;">ยอดซื้อ</th>
											<th style="width: 25%; text-align: center; font-weight: 500;">ยอดลด (ส่วนลด %)</th>
											<th style="width: 25%; text-align: center; font-weight: 500;">ยอดซื้อสุทธิ</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pay in paymentDataList">
											<td style="text-align: left;">{{ pay.title }}</td>
											<td style="text-align: right;">{{ pay.value | number:2 }}</td>
											<td style="text-align: right;">{{ pay.discount | number:2 }} ({{ priceData[pay.percent] }}%)</td>
											<td style="text-align: right;">{{ (pay.value - pay.discount) | number:2 }}</td>
										</tr>
										<tr style="font-size: 1.3em;">
											<td style="text-align: center; background-color: #ccc; color: black;">ยอดรวม</td>
											<td style="text-align: right; background-color: #ccc; color: black;">
												<span>{{ sum2 | number:2 }}</span>
											</td>
											<td style="text-align: right; background-color: #ccc; color: black;">
												<span>{{ sumDiscount2 | number:2 }}</span>
											</td>
											<td style="text-align: right; background-color: #ccc; color: black;">
												<span>{{ (sum2 - sumDiscount2) | number:2 }}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                
                
                
                </div>
			</div>
		</div>
	</div>
</div>