<style>
	input.custom-date[type="date"]::-webkit-inner-spin-button,
	input.custom-date[type="date"]::-webkit-calendar-picker-indicator{
    	display: none;
	}
	.editable-cus .editable-wrap {
		display: block;
	}
</style>

<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">ผลประมาณการ</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> แสดงผลประมาณการ
                </div>
                <div class="panel-body" style="padding: 3px;">
                
                	<div class="panel panel-info" style="margin: 0;">
						<div class="panel-heading">
							<form class="form-inline" ng-submit="search()" name="searchForm" novalidate>
							<fieldset ng-disabled="isLoading">
								<div class="row">
									<div class="col-md-12">
									
									  <div class="form-group input-group" ng-show="group2 || group5">
									  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
									  	<select style="width: 120px;" name="column" class="form-control" ng-model="formData.owner" ng-options="option.id as option.showname for option in users" ng-change="search()">
											<option value="">--ทั้งหมด--</option>
								  		</select>
									  </div>
									  
									  <div class="form-group input-group">
									   	<span class="input-group-addon"><i class="fa fa-search"></i></span>
									    <input type="text" class="form-control" placeholder="keyword search" ng-model="formData.keyword">
									  </div>
									  <div class="input-group input-daterange">
									  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									  	<select name="dateColumnName" class="form-control" ng-model="formData.dateColumnName" 
									  	        ng-options="option.col as option.text for option in dateColumnNames" style="width: 130px;" ng-change="dateColumnNameChanged()">
											<option value="">--เลือกวันที่--</option>
								  		</select>
					                    <input name="dateFrom" type='text' class="form-control dtPicker" style="width: 130px; font-size: 0.9em;" 
					                    	   ng-disabled="!formData.dateColumnName"
					                    	   ng-model="formData.dateFrom" placeholder="วันที่เริ่มต้น" date-parser="dd/MM/yyyy HH:mm" />
						                <span class="input-group-addon">ถึง</span>
					                    <input name="dateTo" type='text' class="form-control dtPicker" style="width: 130px; font-size: 0.9em;"
					                    	   ng-disabled="!formData.dateColumnName"
					                    	   ng-model="formData.dateTo" placeholder="วันที่สิ้นสุด" date-parser="dd/MM/yyyy HH:mm" />
									  </div>
									  
									  <div class="pull-right" ng-show="group2 || group5">
									  	  <div class="dropdown pull-right">
										      <button class="btn btn-outline btn-primary" type="button" data-toggle="dropdown" data-submenu="">
										        <i class="fa fa-download"></i> Export <span class="caret"></span>
										      </button>
										
										      <ul class="dropdown-menu dropdown-menu-right">
										      	 <li ng-show="uploadTemplates.length == 1">
										      		<a tabindex="0" href="" ng-click="exportResult(uploadTemplates[0].id, true)">
										      			<i class="fa fa-file-excel-o"></i> รายการล่าสุด
										      		</a>
										      	 </li>
										      
												  <li class="dropdown-submenu" style="cursor: default;" ng-show="uploadTemplates.length > 1">
													  <a tabindex="0"><i class="fa fa-file-excel-o"></i> รายการล่าสุด</a>
													  
													  <ul class="dropdown-menu">
													  	<li ng-repeat="u in uploadTemplates">
													  		<a tabindex="0" href="" ng-click="exportResult(u.id, true)">{{ u.templateName }}</a>
													  	</li>
													  </ul>
												  </li>
												  
												  <li ng-show="uploadTemplates.length == 1">
										      		<a tabindex="0" href="" ng-click="exportResult(uploadTemplates[0].id, false)">
										      			<i class="fa fa-file-excel-o"></i> ทั้งหมด
										      		</a>
										      	  </li>
												  <li class="dropdown-submenu" style="cursor: default;" ng-show="uploadTemplates.length > 1">
												  	  <a tabindex="0"><i class="fa fa-file-excel-o"></i> ทั้งหมด</a>
												  	  
												  	  <ul class="dropdown-menu">
												  	  	<li ng-repeat="u in uploadTemplates">
												  	  		<a tabindex="0" href="" ng-click="exportResult(u.id, false)">{{ u.templateName }}</a>
												  	  	</li>
													  </ul>
												  </li>
											  </ul>
										  </div>
											 
									   </div>
									</div>
								</div>
								
								<div class="row" style="margin-top: 5px;">
								   	<div class="col-xs-12">
								   		<div class="form-group input-group">
											<span class="input-group-addon">Code</span>
											<div class="input-group">
												<select style="width: 120px;" name="codeName" class="form-control" ng-model="formData.codeName" ng-options="option.fieldName as option.name for option in dymList" ng-change="codeNameChange()">
													<option value="">--Select--</option>
										  		</select>
												<div class="input-group-btn">
											        <button ng-disabled="!codeGroups.length || codeGroups.length == 0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedCodeName.groupSelected.name }} <span class="caret"></span></button>
											        <ul class="dropdown-menu">
											          <li ng-repeat="gp in codeGroups"><a href="" ng-click="changeGroup(gp)">{{ gp.name }}</a></li>
											        </ul>
												</div>	
												<select style="width: 120px;" ng-disabled="!selectedCodeName.dymListDet || selectedCodeName.dymListDet.length == 0" name="codeValue" class="form-control" ng-model="formData.codeValue" ng-options="option._id as (option.code ?  option.code + ' : ' + option.meaning : option.meaning) for option in selectedCodeName.dymListDet" ng-change="search()">
													<option value="">--Select--</option>
										  		</select>
									  		</div>
										</div>
										<div class="form-group input-group" ng-show="dymSearch && dymSearch.length > 0">
											<span class="input-group-addon">Filter</span>
											<div class="input-group">
												<select style="width: 120px;" name="fiedName" class="form-control" ng-model="formData.dymSearchFieldName" ng-options="option.name for option in dymSearch">
													<option value="">--Select--</option>
										  		</select>
										  		<span class="input-group-addon"></span>
												<select style="width: 120px;" ng-disabled="!formData.dymSearchFieldName.values || formData.dymSearchFieldName.values.length == 0" name="searchValue" class="form-control" ng-model="formData.dymSearchValue" ng-options="option.value as option.name for option in formData.dymSearchFieldName.values" ng-change="search()">
													<option value="">--Select--</option>
										  		</select>
									  		</div>
										</div>
								   	
								   		&nbsp;&nbsp;
									  	<button type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
								   	  	<button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
									</div>
								</div>
							</fieldset>	
							</form>
						</div>
						
						<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
							<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
								{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ totalItems | number:0 }} {{'pagination.items' | translate}})
							</span>
							<pagination ng-change="pageChanged()" total-items="totalItems"
										first-text="{{'pagination.first' | translate}}"
										previous-text="{{'pagination.previous' | translate}}"
										next-text="{{'pagination.next' | translate}}"
										last-text="{{'pagination.last' | translate}}"
										ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
										max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
										rotate="false" num-pages="numPages" style="margin: auto;" />
							<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
								<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
							</span>
						</div>
					</div> <!-- / panel panel-info -->
					
					<div class="table-responsive" style="padding: 0;">
						<table class="table table-striped table-hover table-bordered" style="margin: 0;">
							<thead>
								<tr style="background-image: linear-gradient(#C7E2F0, #ebf5fa, #C7E2F0);">
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
									<th style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder('createdDateTime')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											วันที่บันทึก&nbsp;
											<i ng-class="{'comm-order-active': ('createdDateTime' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('createdDateTime' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">
										<a href="" ng-click="columnOrder('payTypeName')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											ประเภทการชำระ&nbsp;
											<i ng-class="{'comm-order-active': ('payTypeName' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('payTypeName' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">งวดที่ชำระ</th>
									
									<th style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder('appointDate')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											วันนัดชำระ&nbsp;
											<i ng-class="{'comm-order-active': ('appointDate' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('appointDate' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									
									<th style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder('appointAmount')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											ยอดนัดชำระ&nbsp;
											<i ng-class="{'comm-order-active': ('appointAmount' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('appointAmount' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">
										<a href="" ng-click="columnOrder('forecastPercentage')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											เปอร์เซ็นการชำระ&nbsp;
											<i ng-class="{'comm-order-active': ('forecastPercentage' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('forecastPercentage' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder('paidDate')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											วันชำระจริง&nbsp;
											<i ng-class="{'comm-order-active': ('paidDate' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('paidDate' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder('paidAmount')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											ยอดชำระจริง&nbsp;
											<i ng-class="{'comm-order-active': ('paidAmount' == column) && (order == 'desc')}" class="fa fa-sort-desc fw" style="position: absolute; top: 2px;"></i>
											<i ng-class="{'comm-order-active': ('paidAmount' == column) && (order == 'asc')}" class="fa fa-sort-up fw" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">
										หมายเหตุ
									</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7;">
										Created By
									</th>
									
									<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center;">
										<a href="" ng-click="columnOrder(h.columnName, 'taskDetail')" style="padding-left: 30px; padding-right: 30px; position: relative;">
											{{ h.columnNameAlias || h.columnName }}&nbsp;
											<i class="fa fa-sort-desc fw" ng-class="{'comm-order-active': (h.columnName == column) && (order == 'desc')}" style="position: absolute; top: 2px;"></i>
											<i class="fa fa-sort-up fw" ng-class="{'comm-order-active': (h.columnName == column) && (order == 'asc')}" style="position: absolute; top: 2px;"></i>
										</a>
									</th>
								</tr>
							<thead>
							<!-- <tbody class="noselect"> -->
							<tbody>
								<tr ng-repeat="data in forecastDatas track by $index" style="color: #337AB7;" 
									ng-class="{'comm-row-selected': data.selected, 'comm-bg-color-warning': data.isHold && !data.selected}" 
									ng-mousedown="rowSelect(data, $index, $event)">
									
									<td style="vertical-align: middle; text-align: center;">
										{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}
									</td>
									<td style="vertical-align: middle; text-align: center; white-space: nowrap;">{{ data['createdDateTime'] | date:gb_dateTimeFormat }}</td>
									
									<td style="white-space: nowrap; vertical-align: middle;">
								        {{ data['payTypeName'] }}
							      	</td>
							      	
							      	<td style="white-space: nowrap; vertical-align: middle; text-align: center;">
							        	{{ data['payTypeName'] == 'ผ่อนปิด' ? ((data['round'] && data['totalRound']) ? (data['round'] + '/' + data['totalRound']) : '') : '-' }}
							      	</td>
							      	
							      	<td style="vertical-align: middle; text-align: center; white-space: nowrap;">{{ data['appointDate'] | date:gb_dateTimeFormat }}</td>
									
									<td style="vertical-align: middle; text-align: right; white-space: nowrap;">
										<span class="label" style="color: black; background-color: rgba(229, 181, 20, 0.7); font-size: 13px;">{{ data['appointAmount'] | number:2 }}</span>
									</td>
									
									<td style="vertical-align: middle; text-align: right; white-space: nowrap;">{{ data['forecastPercentage'] ? (data['forecastPercentage'] + '%') : '' }}</td>
									
									<td style="vertical-align: middle; white-space: nowrap; padding: 0; text-align: center;">
										<form editable-form name="rowform" onaftersave="paidtDateChange(data, $data, $index)">
											<div class="input-group editable-cus" style="width: 100%; position: inherit;">
											    <span ng-click="paidDateEdit(rowform)" editable-text="data['paidDate']" e-name="paidDate" e-id="paidDate_index_{{$index}}" style="cursor: pointer;" 
											          e-style="text-align: center; width: 100px; font-size: 0.9em"  e-class="paidDate" e-date-parser="dd/MM/yyyy">
										        	{{ (data['paidDate'] | date:gb_dateFormat) || 'แก้ใขวันชำระจริง' }}
										        </span>
											    <span class="input-group-addon" ng-show="rowform.$visible">
											    	<i class="fa fa-reply" name="paidDateCancelBtn" style="cursor: pointer;" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="ยกเลิก" ng-show="rowform.$visible"></i>&nbsp;
													<button type="submit" ng-show="rowform.$visible" ng-disabled="rowform.$waiting">
														<i class="fa fa-floppy-o" title="บันทึก"></i>
													</button>
											    </span>
										    </div>
										</form>  
									</td>
									
									<td style="vertical-align: middle; text-align: right; white-space: nowrap;">
										<span class="label" style="color: black; background-color: rgba(82, 190, 128, 0.7); font-size: 13px;">{{ data['paidAmount'] | number:2 }}</span>
									</td>
									
									<td style="vertical-align: middle; text-align: left; white-space: nowrap;">{{ data['comment'] }}</td>
									
									<td style="vertical-align: middle; white-space: nowrap;">{{ createdByLog == 1 ? data.dummyCreatedBy : data['createdByName'] }}</td>
									
									<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
										{{ 
										   h.dataType == 'date' ? (data.taskDetail[h.columnName] | date:gb_dateFormat) : 
										   h.dataType == 'num' ? (data.taskDetail[h.columnName] | number:2) : 
										   h.dataType == 'sys_owner' ? (data.dummyCreatedBy = data.taskDetail[h.columnName]) : data.taskDetail[h.columnName] 
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>