<form name="addUserForm" ng-submit="isEdit ? update() : save()" novalidate>
	<div class="col-md-6" style="margin-top: 15px; color: #337AB7;">
		<div class="form-group" ng-class="{'has-error':addUserForm.productName.$invalid}">
			<label class="control-label">ชื่อโปรดักส์ *</label>
			<input name="productName" class="form-control" ng-model="data.productName" required>
		</div>
		<div class="form-group">
			<label class="control-label">รอบการแจ้งเตือน (วันที่ติดตาม)</label>
			<div class="form-group input-group" style="width: 250px;">
				<input type="text" class="form-control" placeholder="จำนวนวัน" ng-model="data.traceDateRoundDay">
				<span class="input-group-addon">วัน</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">จำกัดจำนวนตัวอักษร</label>
			<div class="form-group input-group" style="width: 250px;">
				<input type="number" class="form-control" placeholder="จำนวนตัวอักษร" ng-model="data.textLength">
				<span class="input-group-addon">ตัวอักษร</span>
			</div>
		</div>
		<div class="form-group" ng-show="group0">
			<label class="control-label">Open Office Server</label>
			<div class="form-group input-group" style="width: 400px;">
				<span class="input-group-addon">Host</span>
				<input type="text" class="form-control" ng-model="data.openOfficeHost">
				<span class="input-group-addon">Port(<small>8100</small>)</span>
				<input type="number" style="width: 100px;" class="form-control" ng-model="data.openOfficePort">
			</div>
		</div>
		<div class="form-group" ng-show="group0">
        	<label>{{'user.addpage.status' | translate}} &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="enabled" value="1" ng-checked="data.enabled == 1" ng-model="data.enabled">{{'user.addpage.status.enable' | translate}}
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="enabled" value="0" ng-checked="data.enabled == 0" ng-model="data.enabled">{{'user.addpage.status.disable' | translate}}
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
        	<label>Notice Framework &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="noticeFramework" value="1" ng-checked="data.noticeFramework == 1" ng-model="data.noticeFramework">XDocReport
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="noticeFramework" value="2" ng-checked="data.noticeFramework == 2" ng-model="data.noticeFramework">JasperReport
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>Payment Online Checking(กยศ.) &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="pocModule" value="1" ng-checked="data.pocModule == 1" ng-model="data.pocModule">{{'user.addpage.status.enable' | translate}}
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="pocModule" value="0" ng-checked="data.pocModule == 0" ng-model="data.pocModule">{{'user.addpage.status.disable' | translate}}
	        </label>
       </div>
       <div class="form-group" ng-show="data.pocModule == 1">
			<label class="control-label">E-Student Loan Login</label>
			<div class="form-group input-group">
				<span class="input-group-addon" style="min-width: 110px;"><small>กยศ. บังคับคดี</small></span>
				<span class="input-group-addon"><small>Username</small></span>
				<input type="text" class="form-control" ng-model="data.userKYSLaw">
				<span class="input-group-addon"><small>Password</small></span>
				<input type="text" class="form-control" ng-model="data.passKYSLaw">
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon" style="min-width: 110px;"><small>กยศ.</small></span>
				<span class="input-group-addon"><small>Username</small></span>
				<input type="text" class="form-control" ng-model="data.userKYS">
				<span class="input-group-addon"><small>Password</small></span>
				<input type="text" class="form-control" ng-model="data.passKYS">
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon" style="min-width: 110px;"><small>กรอ.</small></span>
				<span class="input-group-addon"><small>Username</small></span>
				<input type="text" class="form-control" ng-model="data.userKRO">
				<span class="input-group-addon"><small>Password</small></span>
				<input type="text" class="form-control" ng-model="data.passKRO">
			</div>
		</div>
       <div class="form-group" ng-show="group0">
	        <label>Created Log &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="createdByLog" value="1" ng-checked="data.createdByLog == 1" ng-model="data.createdByLog">By owner
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="createdByLog" value="0" ng-checked="data.createdByLog == 0" ng-model="data.createdByLog">By login
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>User Editable &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="userEditable" value="1" ng-checked="data.userEditable == 1" ng-model="data.userEditable">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="userEditable" value="0" ng-checked="data.userEditable == 0" ng-model="data.userEditable">No
	        </label>
       </div>
       
       <div class="form-group" ng-show="group0">
	        <label>User Track Editable &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="userTraceEditable" value="1" ng-checked="data.userTraceEditable == 1" ng-model="data.userTraceEditable">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="userTraceEditable" value="0" ng-checked="data.userTraceEditable == 0" ng-model="data.userTraceEditable">No
	        </label>
       </div>
       
       <div class="form-group" ng-show="group0">
	        <label>Upload Document &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="showUploadDoc" value="1" ng-checked="data.showUploadDoc == 1" ng-model="data.showUploadDoc">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="showUploadDoc" value="0" ng-checked="data.showUploadDoc == 0" ng-model="data.showUploadDoc">No
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>ข้อมูลอายัด &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="seizure" value="1" ng-checked="data.seizure == 1" ng-model="data.seizure">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="seizure" value="0" ng-checked="data.seizure == 0" ng-model="data.seizure">No
	        </label>
       </div>
       <div class="form-group">
	        <label>ปิด chat ส่วนตัว &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="privateChatDisabled" value="1" ng-checked="data.privateChatDisabled == 1" ng-model="data.privateChatDisabled">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="privateChatDisabled" value="0" ng-checked="data.privateChatDisabled == 0" ng-model="data.privateChatDisabled">No
	        </label>
       </div>
       <div class="form-group">
	        <label>Update empty reminder date &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="updateEmptyReminderDate" value="1" ng-checked="data.updateEmptyReminderDate == 1" ng-model="data.updateEmptyReminderDate">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="updateEmptyReminderDate" value="0" ng-checked="data.updateEmptyReminderDate == 0" ng-model="data.updateEmptyReminderDate">No
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>KrungSri API &nbsp;&nbsp;</label>
	        <i class="fa fa-pencil-square-o fa-fx" style="cursor: pointer;" ng-click="krsApiSetting()"></i>
       </div>
      
	</div>
	<div class="col-md-6" style="margin-top: 15px; color: #337AB7;" ng-show="group0">
		<div class="panel panel-default">
			  <div class="panel-heading">
			      Payment Update Setting
			  </div>
			  <div class="panel-body">
				  <div class="form-group" ng-show="group0">
			        <label>Auto Sync Payment &nbsp;&nbsp;</label>
			        <label class="radio-inline">
			            <input type="radio" name="paymentUpdateEnabled" value="1" ng-checked="data.autoUpdateBalance == 1" ng-model="data.autoUpdateBalance">{{'user.addpage.status.enable' | translate}}
			        </label>
			        <label class="radio-inline">
			            <input type="radio" name="paymentUpdateEnabled" value="0" ng-checked="data.autoUpdateBalance == 0" ng-model="data.autoUpdateBalance">{{'user.addpage.status.disable' | translate}}
			        </label>
		        </div>
			  	<textarea rows="5" class="col-md-12" ng-model="data.paymentRules"></textarea>
			  </div>
		</div>
		<div class="panel panel-default">
			  <div class="panel-heading">
			      Discount Setting
			  </div>
			  <div class="panel-body">
				<div class="form-group">
					<div class="form-group input-group">
						<span class="input-group-addon">Balance field name</span>
						<input type="text" class="form-control" ng-model="data.discountColumnName">
					</div>
				</div>
				<div class="form-group" ng-repeat="field in data.discountFields">
					<div class="form-group input-group">
						<input type="text" class="form-control" ng-model="field.fieldName">
						<span class="input-group-addon">=</span>
						<input type="text" class="form-control" ng-model="field.fieldValue">
						<span class="input-group-addon"><i class="fa fa-times" style="color: red; cursor: pointer;" title="ลบ" ng-click="deleteDiscountField($index)"></i></span>
					</div>
				</div>
				<button type="button" class="btn btn-primary pull-right" title="เพิ่ม" style="padding: 5px 10px 5px 10px;" ng-click="addDiscountField()">
					<i class="fa fa fa-plus fa-1x"></i>
				</button>
			  </div>
		</div>
		
		<div class="panel panel-default">
			  <div class="panel-heading">
			      <input type="checkbox" ng-model="data.isSmsEnable" />&nbsp;SMS Messages
			  </div>
			  <div class="panel-body" style="padding-top: 5px;">
			  
		  		<div class="form-group" style="margin-bottom: 0;">
				  	<div class="well" style="margin-bottom: 5px; padding-top: 9px; padding-bottom: 5px;">
			  			<div class="form-group input-group" style="margin-bottom: 3px;">
							<span class="input-group-addon">Username</span>
							<input type="text" class="form-control input-sm" ng-model="data.smsUsername">						
							<span class="input-group-addon">Password</span>
							<input type="text" class="form-control input-sm" ng-model="data.smsPassword">						
						</div>
			  			<div class="form-group input-group" style="margin-bottom: 3px;">
							<span class="input-group-addon">Sender Name</span>
							<input type="text" class="form-control input-sm" ng-model="data.smsSenderName">						
						</div>
				  	</div>
		  		</div>
			  
				<div class="form-group" ng-repeat="field in data.smsMessages" style="margin-bottom: 0;">
					<div class="well" style="margin-bottom: 5px; padding-bottom: 0;">
						<div class="form-group input-group" style="margin-bottom: 3px;">
							<span class="input-group-addon">Name</span>
							<input type="text" class="form-control" ng-model="field.fieldName">						
							<span class="input-group-addon"><i class="fa fa-times" style="color: red; cursor: pointer;" title="ลบ" ng-click="deleteSmsMessage($index)"></i></span>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">Value</span>
							<textarea rows="3" class="form-control" ng-model="field.fieldValue" style="resize: vertical;"></textarea>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary pull-right" title="เพิ่ม" style="padding: 5px 10px 5px 10px;" ng-click="addSmsMessage()">
					<i class="fa fa fa-plus fa-1x"></i>
				</button>
			  </div>
		</div>
		<div class="panel panel-default">
			  <div class="panel-heading">
			      <input type="checkbox" ng-model="data.receipt.isReceipt" />&nbsp;Receipt
			  </div>
			  <div class="panel-body">
		  		<div class="form-group" style="margin-bottom: 0;">
				  	<div class="well" style="margin-bottom: 5px; padding-top: 9px; padding-bottom: 5px;">
			  			<div class="form-group input-group" style="margin-bottom: 3px;">
							<span class="input-group-addon">Format</span>
							<input type="text" class="form-control input-sm" ng-model="data.receipt.format">					
						</div>
				  	</div>
		  		</div>
			  </div>
		</div>
		
		
		
		
		
		
		
		<div class="panel panel-default">
			  <div class="panel-heading">
			      <input type="checkbox" ng-model="data.lps.isLps" />&nbsp;LPS Function
			  </div>
			  <div class="panel-body">
		  		<div class="form-group" style="margin-bottom: 0;">
				  	<div class="well" style="margin-bottom: 5px; padding-top: 9px; padding-bottom: 5px;">
			  			<div class="form-group input-group" style="margin-bottom: 3px;">
							<span class="input-group-addon">Field Mapping</span>
							<input type="text" class="form-control input-sm" ng-model="data.lps.mapping">					
						</div>
				  	</div>
		  		</div>
			  </div>
		</div>
		
		
		
		
		
		
		
		
		
	</div>
	<div class="col-md-12" style="text-align: center;">
		<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
		<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addUserForm.$invalid">{{ persisBtn }}</button>
	</div>
</form>