<div>
	<div class="col-lg-6">
		<form name="addUserForm" ng-submit="isEdit ? update() : save()" novalidate>
			<div class="form-group" ng-class="{'has-error':addUserForm.productName.$invalid}">
				<label class="control-label">ชื่อโปรดักส์ *</label>
				<input name="productName" class="form-control" ng-model="data.productName" required>
			</div>
			
			<div class="well well-sm">
            	<h4>Database configuration</h4>
            	<div class="row">
            		<div class="form-group col-lg-12" ng-class="{'has-error':addUserForm.dbName.$invalid}">
						<label class="control-label">Database Name *</label>
						<input name="dbName" class="form-control" ng-model="data.database.dbName" required>
					</div>
            	</div>
            	<div class="row">
	            	<div class="form-group col-lg-9" ng-class="{'has-error':addUserForm.host.$invalid}">
						<label class="control-label">Host *</label>
						<input name="host" class="form-control" ng-model="data.database.host" required>
					</div>
					<div class="form-group col-lg-3" ng-class="{'has-error':addUserForm.port.$invalid}">
						<label class="control-label">Port *</label>
						<input name="port" class="form-control" ng-model="data.database.port" type="number" required>
					</div>
            	</div>
            	<div class="row">
            		<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.userName.$invalid}">
						<label class="control-label">Username *</label>
						<input name="userName" class="form-control" ng-model="data.database.userName" required>
					</div>
            		<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.password.$invalid}">
						<label class="control-label">Password *</label>
						<input name="password" type="password" class="form-control" ng-model="data.database.password" required>
					</div>
            	</div>
            </div>
            
			
			<div class="form-group">
                 <label>{{'user.addpage.status' | translate}} &nbsp;&nbsp;</label>
                 <label class="radio-inline">
                     <input type="radio" name="enabled" value="1" ng-checked="data.enabled == 1" ng-model="data.enabled">{{'user.addpage.status.enable' | translate}}
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="enabled" value="0" ng-checked="data.enabled == 0" ng-model="data.enabled">{{'user.addpage.status.disable' | translate}}
                 </label>
             </div>
			<div style="text-align: center;">
				<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
				<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addUserForm.$invalid">{{ persisBtn }}</button>
			</div>
		</form>
	</div>
</div>