<form name="addUserForm" ng-submit="isEdit ? update() : save()" novalidate>
	<div class="col-md-6" style="margin-top: 15px; color: #337AB7;">
		<div class="form-group" ng-class="{'has-error':addUserForm.productName.$invalid}">
			<label class="control-label">ชื่อโปรดักส์ *</label>
			<input name="productName" class="form-control" ng-model="data.productName" required>
		</div>
		<div class="form-group">
			<label class="control-label">รอบการแจ้งเตือน (วันที่ติดตาม)</label>
			<div class="form-group input-group" style="width: 250px;">
				<input type="text" class="form-control" placeholder="จำนวนวัน" ng-model="data.traceDateRoundDay">
				<span class="input-group-addon">วัน</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">จำกัดจำนวนตัวอักษร</label>
			<div class="form-group input-group" style="width: 250px;">
				<input type="number" class="form-control" placeholder="จำนวนตัวอักษร" ng-model="data.textLength">
				<span class="input-group-addon">ตัวอักษร</span>
			</div>
		</div>
		<div class="form-group" ng-show="group0">
        	<label>{{'user.addpage.status' | translate}} &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="enabled" value="1" ng-checked="data.enabled == 1" ng-model="data.enabled">{{'user.addpage.status.enable' | translate}}
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="enabled" value="0" ng-checked="data.enabled == 0" ng-model="data.enabled">{{'user.addpage.status.disable' | translate}}
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
        	<label>Notice Framework &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="noticeFramework" value="1" ng-checked="data.noticeFramework == 1" ng-model="data.noticeFramework">XDocReport
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="noticeFramework" value="2" ng-checked="data.noticeFramework == 2" ng-model="data.noticeFramework">JasperReport
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>Payment Online Checking(กยส.) &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="pocModule" value="1" ng-checked="data.pocModule == 1" ng-model="data.pocModule">{{'user.addpage.status.enable' | translate}}
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="pocModule" value="0" ng-checked="data.pocModule == 0" ng-model="data.pocModule">{{'user.addpage.status.disable' | translate}}
	        </label>
       </div>
       <div class="form-group" ng-show="group0">
	        <label>Created Log &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="createdByLog" value="1" ng-checked="data.createdByLog == 1" ng-model="data.createdByLog">By owner
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="createdByLog" value="0" ng-checked="data.createdByLog == 0" ng-model="data.createdByLog">By login
	        </label>
       </div>
       
       <div class="form-group" ng-show="group0">
	        <label>User Editable &nbsp;&nbsp;</label>
	        <label class="radio-inline">
	            <input type="radio" name="userEditable" value="1" ng-checked="data.userEditable == 1" ng-model="data.userEditable">Yes
	        </label>
	        <label class="radio-inline">
	            <input type="radio" name="userEditable" value="0" ng-checked="data.userEditable == 0" ng-model="data.userEditable">No
	        </label>
       </div>
       
       
	</div>
	<div class="col-md-6" style="margin-top: 15px; color: #337AB7;" ng-show="group0">
		<div class="panel panel-default">
			  <div class="panel-heading">
			      Payment Update Setting
			  </div>
			  <div class="panel-body">
				  <div class="form-group" ng-show="group0">
			        <label>Auto Sync Payment &nbsp;&nbsp;</label>
			        <label class="radio-inline">
			            <input type="radio" name="paymentUpdateEnabled" value="1" ng-checked="data.autoUpdateBalance == 1" ng-model="data.autoUpdateBalance">{{'user.addpage.status.enable' | translate}}
			        </label>
			        <label class="radio-inline">
			            <input type="radio" name="paymentUpdateEnabled" value="0" ng-checked="data.autoUpdateBalance == 0" ng-model="data.autoUpdateBalance">{{'user.addpage.status.disable' | translate}}
			        </label>
		        </div>
			  	<textarea rows="5" class="col-md-12" ng-model="data.paymentRules"></textarea>
			  </div>
		</div>
		<div class="panel panel-default">
			  <div class="panel-heading">
			      Discount Setting
			  </div>
			  <div class="panel-body">
				<div class="form-group">
					<div class="form-group input-group">
						<span class="input-group-addon">Balance field name</span>
						<input type="text" class="form-control" ng-model="data.discountColumnName">
					</div>
				</div>
				<div class="form-group" ng-repeat="field in data.discountFields">
					<div class="form-group input-group">
						<input type="text" class="form-control" ng-model="field.fieldName">
						<span class="input-group-addon">=</span>
						<input type="text" class="form-control" ng-model="field.fieldValue">
						<span class="input-group-addon"><i class="fa fa-times" style="color: red; cursor: pointer;" title="ลบ" ng-click="deleteDiscountField($index)"></i></span>
					</div>
				</div>
				<button type="button" class="btn btn-primary pull-right" title="เพิ่ม" style="padding: 5px 10px 5px 10px;" ng-click="addDiscountField()">
					<i class="fa fa fa-plus fa-1x"></i>
				</button>
			  </div>
		</div>
	</div>
	<div class="col-md-12" style="text-align: center;">
		<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
		<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addUserForm.$invalid">{{ persisBtn }}</button>
	</div>
</form>