<style>
.ng-confirm-title-c {
	font-size: 15px !important;
	font-weight: bold;
}
.edit-cus .editable-wrap {
	width: 100%;
	position: relative;
}
.edit-cus2 .editable-wrap {
	/* width: 100%;
	position: relative; */
	/* margin-left: 5px; */
}
.edit-cus .editable-controls {
	margin-left: 0;
}
.edit-cus2 .editable-controls {
	margin-left: 3px;
}
.edit-cus .editable-input {
	width: 100%;
	position: absolute;
	top: 0;
}
.edit-cus2 .editable-input {
	width: 55px;
	position: absolute;
	top: 0;
	margin-left: -9px;
	padding: 1px;
}
</style>
<div class="row" style="position: relative;">
	<div class="col-xs-6">
		<div class="form-horizontal">
			<div class="form-group">
				<small class="col-xs-4 control-label" style="padding-right: 0;">Data Type</small>
				<div class="col-xs-8 edit-cus" style="padding-left: 10px;">
					<a href="#" style="padding-top: 5px; position: absolute;" e-class="form-control input-sm" buttons="no"
					   onaftersave="updateField('dataType')" editable-text="advanced.dataType">
						<small>{{ advanced.dataType || 'empty' }}</small>
					</a>
				</div>
			</div>
		</div>
		<div class="form-horizontal" ng-show="advanced.isNotice">
			<div class="form-group">
				<small class="col-xs-4 control-label" style="padding-right: 0;">NT Name</small>
				<div class="col-xs-8 edit-cus" style="padding-left: 10px;">
					<a href="#" style="padding-top: 5px; position: absolute;" e-class="form-control input-sm" buttons="no"
					   onaftersave="updateField('noticeCusColName')" editable-text="advanced.noticeCusColName">
						<small>{{ advanced.noticeCusColName || 'empty' }}</small>
					</a>
				</div>
			</div>
		</div>
		<div class="form-horizontal">
			<div class="form-group">
				<small class="col-xs-4 control-label" style="padding-right: 0;">Style</small>
				<div class="col-xs-8 edit-cus2" style="padding-left: 10px;">
					<input type="color" style="width: 20px;" ng-model="advanced.colorBg" title="Background Color" ng-change="updateField('colorBg')">&nbsp;
			        <a href="#" style="padding-top: 5px; position: absolute;" e-class="form-control input-sm" buttons="no" e-placeholder="BG Color" title="BG Color"
					   onaftersave="updateField('colorBg')" editable-text="advanced.colorBg">
						<small>{{ advanced.colorBg || 'empty' }}</small>
					</a>
					<input type="color" style="margin-left: 50px; width: 20px;" ng-model="advanced.colorFont" title="Font Color" ng-change="updateField('colorFont')">&nbsp;
			        <a href="#" style="padding-top: 5px; position: absolute;" e-class="form-control input-sm" buttons="no" e-placeholder="Font Color" title="Font Color"
					   onaftersave="updateField('colorFont')" editable-text="advanced.colorFont">
						<small>{{ advanced.colorFont || 'empty' }}</small>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-horizontal">
			<div class="form-group">
				<small class="col-xs-4 control-label" style="padding-right: 0;">Prefix</small>
				<div class="col-xs-8 edit-cus" style="padding-left: 10px;">
					<a href="#" style="padding-top: 5px; position: absolute;" e-class="form-control input-sm" buttons="no" 
					   onaftersave="updateField('prefix')" editable-text="advanced.prefix">
						<small>{{ advanced.prefix || 'empty' }}</small>
					</a>
				</div>
			</div>
		</div>
		<div class="form-horizontal">
			<div class="form-group" style="margin-bottom: 0;">
				<small class="col-xs-4 control-label" style="padding-right: 0;">Province</small>
				<div class="col-xs-8" style="padding-left: 10px;">
					<div class="checkbox_animate" style="margin-top: 5px;">
						<label style="cursor: pointer;">
			            	<input type="checkbox" ng-model="advanced.isProvince" ng-click="updateField('isProvince')">
			            	<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
			          	</label>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>