<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">โปรดักส์</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> {{ headerTitle }}
                    <button ng-if="authority == 'ROLE_SUPERADMIN' || url == 'search'" type="button" class="btn btn-info btn-circle btn-lg" style="position: absolute; right: 0px; top: -5px;" ng-click="gotoSelected()">
                    	<i class="fa" ng-class="iconBtn"></i>
                    </button>
                </div>
                <div class="panel-body" style="padding: 3px;">
                
                	<div ui-view></div>
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>