
<div class="panel panel-info" style="margin: 0;">
	<div class="panel-heading">
		<form class="form-inline" ng-submit="search()">
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span> 
				<input type="text" class="form-control" placeholder="ชื่อโปรดักส์" ng-model="$parent.formData.productName">
			</div>
			<div class="form-group">
				<label style="margin-left: 20px;">{{'user.addpage.status' | translate}} &nbsp;&nbsp;</label> 
				<label class="radio-inline">
					<input type="radio" name="userStatus" value="1" ng-model="$parent.formData.enabled" ng-change="search()">{{'user.addpage.status.enable' | translate}}
				</label> 
				<label class="radio-inline">
					<input type="radio" name="userStatus" value="0" ng-model="$parent.formData.enabled" ng-change="search()">{{'user.addpage.status.disable' | translate}}
				</label>
			</div>
			<button style="margin-left: 20px;" type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
			<button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
		</form>
	</div>

	<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
		<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
			{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="pageChanged()" total-items="totalItems"
					first-text="{{'pagination.first' | translate}}"
					previous-text="{{'pagination.previous' | translate}}"
					next-text="{{'pagination.next' | translate}}"
					last-text="{{'pagination.last' | translate}}"
					ng-model="$parent.formData.currentPage" items-per-page="itemsPerPage"
					max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
					rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
			<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="$parent.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>
	
<div class="table-responsive">	
	<table class="table table-striped table-hover" style="margin: 0;">
		<thead>
			<tr style="color: #337AB7;">
				<th>#</th>
				<th>ชื่อโปรดักส์</th>
				<th>{{'user.table.header.status' | translate}}</th>
				<th>{{'user.table.header.created_date' | translate}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="u in data.products track by $index" style="color: #337AB7;">
				<td>{{ $index + 1 + ((formData.currentPage - 1) * itemsPerPage) }}</td>
				<td id="{{ u.id }}">{{ u.productName }}</td>
				<td>
					<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="u.enabled"></i>
					<i class="fa  fa-minus-circle fa-lg user-status-disabled-icon" ng-hide="u.enabled"></i>
				</td>
				<td>{{ u.createdDateTime | date : gb_dateTimeFormat }}</td>
				<td>
					<i class="fa fa-times fa-lg user-action-icon-danger" title="ลบข้อมูล" ng-click="deleteUser(u.id)" ng-show="group0">&emsp;</i>
					<i class="fa fa-edit fa-lg user-action-icon-primary" title="แก้ใขข้อมูล" ng-click="editUser(u)" ng-hide="group5">&emsp;</i>
					<i class="fa fa-clock-o fa-lg user-action-icon-primary" title="ตั้งค่าเวลาทำงาน" ng-click="workingTimeSetting(u.id)" ng-hide="group5">&emsp;</i>
					<i class="fa fa-desktop fa-lg user-action-icon-primary" title="ตั้งค่าการแสดงผลข้อมูล Account List" ng-show="group0" ng-click="importTaskSetting(u.id, u.productName)">&emsp;</i>
					<i class="fa fa-desktop fa-lg user-action-icon-primary" title="ตั้งค่าการแสดงผลข้อมูล Payment" ng-show="group0" ng-click="importPaymentSetting(u.id, u.productName)">&emsp;</i>
					<i class="fa fa-database fa-lg user-action-icon-primary" title="ตั้งค่าฐานข้อมูล" ng-click="databaseSetting(u)" ng-show="group0">&emsp;</i>
			        <input type="checkbox" title="ควบคุมการปริ้น Notice" ng-model="u.productSetting.isDisableNoticePrint" ng-change="productSetting(u, 1)" ng-show="group1">&emsp;
			        <input type="checkbox" title="ปิด comment หน้างาน" ng-model="u.productSetting.isHideComment" ng-change="productSetting(u, 2)" ng-show="group1">&emsp;
			        <input type="checkbox" title="ปิด Dashboard" ng-model="u.productSetting.isHideDashboard" ng-change="productSetting(u, 3)" ng-show="group1">&emsp;
			        <input type="checkbox" title="ปิดระบบแจ้งเตือน" ng-model="u.productSetting.isHideAlert" ng-change="productSetting(u, 4)" ng-show="group1">&emsp;
			        <input type="checkbox" title="แสดงปุ่มยุติการติดตาม" ng-model="u.productSetting.isDisableBtnShow" ng-change="productSetting(u, 5)" ng-show="group1">
				</td>
			</tr>
		</tbody>
	</table>
</div>

<style>
	legend {
	    border: 1px solid #BDC3C7;
	    border-radius: 15px 15px 15px 15px;
		padding-left: 15px;
	}
	fieldset {
		border: 1px solid #BDC3C7;
		border-radius: 0 0 15px 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-left: 30px;
	}
</style>

<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ตั้งค่าเวลาทำงาน</h4>
            </div>
            <div class="modal-body">            	    	
				<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
				
				  <div class="panel-body">
			  			<fieldset> <legend>จันทร์ - ศุกร์</legend>
							<div class="form-inline pull-right">	
								<label class="control-label">เวลาเริ่มงาน</label>
								<div class="input-group input-daterange">
					                    <input name="normalStartTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
					                    	   ng-disabled="!normalWorkingDayEnable" autocomplete="off"
					                    	   ng-model="normalStartTime" date-parser="HH:mm" />
						                <span class="input-group-addon">ถึง</span>
					                    <input name="normalEndTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
					                    	   ng-disabled="!normalWorkingDayEnable" autocomplete="off"
					                    	   ng-model="normalEndTime" date-parser="HH:mm" />
								</div>
								<div class="checkbox">
								    <input type="checkbox" ng-model="normalWorkingDayEnable">
							  	</div>
							</div>	
						</fieldset>
					</div>
					
					 <div class="panel-body">
					 	<fieldset> <legend>เสาร์</legend>
							<div class="form-inline pull-right">
								<label class="control-label">เวลาเริ่มงาน</label>
								<div class="input-group input-daterange">
				                    <input name="satStartTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
				                    	   ng-disabled="!satWorkingDayEnable" autocomplete="off"
				                    	   ng-model="satStartTime" date-parser="HH:mm" />
					                <span class="input-group-addon">ถึง</span>
				                    <input name="satEndTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
				                    	   ng-disabled="!satWorkingDayEnable" autocomplete="off"
				                    	   ng-model="satEndTime" date-parser="HH:mm" />
								</div>
								<div class="checkbox">
								    <input type="checkbox" ng-model="satWorkingDayEnable">
							  	</div>
							</div>
						</fieldset>
					</div>
					
					<div class="panel-body">
						<fieldset> <legend>อาทิตย์</legend>
							<div class="form-inline pull-right">
								<label class="control-label">เวลาเริ่มงาน</label>
								<div class="input-group input-daterange">
				                    <input name="sunStartTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
				                    	   ng-disabled="!sunWorkingDayEnable" autocomplete="off"
				                    	   ng-model="sunStartTime" date-parser="HH:mm" />
					                <span class="input-group-addon">ถึง</span>
				                    <input name="sunEndTime" type='text' class="form-control input-sm dtPicker" style="width: 100px; font-size: 0.9em;"
				                    	   ng-disabled="!sunWorkingDayEnable" autocomplete="off"
				                    	   ng-model="sunEndTime" date-parser="HH:mm" />
								</div>
								<div class="checkbox">
								    <input type="checkbox" ng-model="sunWorkingDayEnable">
							  	</div>
							</div>
						</fieldset>
					</div>
					
					
				</div>
            </div>
           	<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismissModal()">ปิด</button>
				<button type="button" class="btn btn-primary" ng-click="updateWorkingTime()">บันทึก</button>
			</div>
         </div>
     </div>
 </div>
<!-- / Modal -->