<style>
.addr_cus .editable-wrap {
    width: 100%;
}
.addr_cus .editable-controls {
	width: 100%;
}
</style>

<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">ข้อมูลการชำระเงิน</h1>
	</div>
</div>

   <div class="row">
       <div class="col-xs-12">
           <div class="row">
			<div class="col-xs-6">
				<div class="panel panel-primary">
				
					<div class="panel-heading">
                    	<label>ข้อมูลของบริษัทลูกค้า</label>
                    </div>
					<div class="panel-body">
	                    <div class="well well-sm" style="margin-bottom: 0;">
	                    	<label><u>เลขที่บัญชีของลูกค้า</u></label>
	                        <div class="form-horizontal" style="padding-top: 15px;">
		                        <div class="form-group" ng-repeat="item in items">
		                        	<div class="row">
			                        	<div class="col-xs-9">
											<label class="col-xs-4 control-label">เลขที่บัญชี</label>
											<span class="form-control" e-class="form-control" style="color: #337AB7;" e-style="margin-left: 3px;" editable-text="item.accNo" e-name="accNo" e-form="rowform">{{ item.accNo }}</span>
			                        	</div>
			                        	
										<div class="col-xs-3">
											<form editable-form name="rowform" onbeforesave="saveItem($data, item, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == item">
												<div class="buttons control-label" style="text-align: left;">
													<i class="fa fa-reply fa-lg user-action-icon-primary" ng-disabled="rowform.$waiting" ng-click="item.id != null ? rowform.$cancel() : cancelNewItem(item)" title="ยกเลิก"></i>&nbsp; 
													<i class="fa fa-floppy-o fa-lg user-action-icon-primary" ng-disabled="rowform.$waiting" onclick="$(this.parentElement).submit()" title="บันทึก"></i>
												</div>
											</form>
											<div class="buttons control-label" style="text-align: left;" ng-show="!rowform.$visible">
												<i class="fa fa-times fa-lg user-action-icon-danger" ng-click="removeItem($index, item.id)" title="ลบ"></i>&nbsp; 
												<i class="fa fa-pencil-square-o fa-lg user-action-icon-primary" ng-click="rowform.$show()" title="แก้ใข"></i>&nbsp;
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        
	                        <div class="pull-right">
								<button type="button" class="btn btn-primary btn-circle btn-sm" title="เพิ่ม" ng-click="addItem()">
									<i class="fa fa-plus-square"></i>
								</button>
							</div>
	                    </div>
	                    <div class="row"></div>
	                    <div class="well well-sm" style="margin-bottom: 0; margin-top: 0;">
	                    	<label style="margin-top: 3px;"><u>อีเมล์</u></label>
	                    	<span style="color: #337AB7;">
		                    	<a href="#" e-class="form-control input-sm" buttons="no" onaftersave="updateCusCompanyEmail()"
	                       		   editable-text="customerEmail">{{ customerEmail || 'เพิ่ม อีเมล์ บริษัท' }}</a>
	                    	</span>
	                    </div>
                    	<div class="row">
		                    <div class="col-xs-6">
		                    	<label style="margin-top: 3px; margin-left: 10px;">การออกใบกำกับภาษี</label>
		                    </div>
		                    <div class="col-xs-6">
		                    	<label style="margin-top: 3px;">ที่อยู่ส่งเอกสาร</label>
		                    </div>
	                    </div>
	                    <div class="well well-sm" style="margin-bottom: 0; margin-top: 0;">
		                    <div class="row">
			                    <div class="col-xs-6">
			                    	<div style="color: #337AB7;" class="addr_cus">
				                    	<a href="#" e-class="form-control input-sm" e-style="width: 100%;" e-rows="5" buttons="no" onaftersave="updateCusCompany()"
			                       		   editable-textarea="customerComInfo">{{ customerComInfo || 'เพิ่มข้อมูลบริษัท' }}</a>
			                    	</div>
			                    </div>
			                    <div class="col-xs-6">
			                    	<div style="color: #337AB7;" class="addr_cus">
				                    	<a href="#" e-class="form-control input-sm" e-style="width: 100%;" e-rows="5" buttons="no" onaftersave="updateCusCompany()"
			                       		   editable-textarea="customerAddress">{{ customerAddress || 'เพิ่มที่อยู่ส่งเอกสาร' }}</a>
			                    	</div>
			                    </div>
		                    </div>
	                    </div>
	                    <div class="row">
	                    	<div class="col-xs-12 col-xs-offset-4">
		                    	<code>วิธีบันทึก (Ctrl + Enter)</code>
	                    	</div>
	                    </div>
                   </div>
                   <div class="panel-footer">
                   	<small>
                   		<i>**เลขที่บัญชีของลูกค้า ทางบริษัทจะใช้ในการระบุตัวตนของลูกค้า*</i>
                   	</small>
                   </div>
                </div>
			</div>
			
			<div class="col-xs-6">
				<div class="panel panel-primary">
				
					<div class="panel-heading">
                    	<label>ข้อมูลของบริษัท METACOM Co.,Ltd.</label>
                    </div>
					<div class="panel-body">
	                    <div class="well well-sm" style="margin-bottom: 0;">
	                        <div class="form-horizontal">
	                        	<div class="row">
			                        <div class="col-xs-4">
										<img id="photo" class="img-thumbnail" ng-src="{{ bankIcon }}">
									</div>
									<div class="col-xs-8">		
										<div class="form-group" >
											<label class="col-xs-4 control-label">ชื่อบัญชี</label>
											<span class="form-control" style="color: #337AB7;">บจก. บริษัท เมตาคอม จำกัด</span>
										</div>						
										<div class="form-group" >
											<label class="col-xs-4 control-label">สาขา</label>
											<span class="form-control" style="color: #337AB7;">เดอะมอลล์บางกะปิ</span>
										</div>						
										<div class="form-group" >
											<label class="col-xs-4 control-label">ประเภทบัญชี</label>
											<span class="form-control" style="color: #337AB7;">ออมทรัพย์</span>
										</div>						
										<div class="form-group" >
											<label class="col-xs-4 control-label">เลขที่บัญชี</label>
											<span class="form-control" style="color: #337AB7;">449-1-80527-9</span>
										</div>						
									</div>
	                        	</div>
	                        </div>
	                    </div>
	                    
	                    <div class="row">&nbsp;</div>
	                    <div class="well well-sm" style="margin-bottom: 0; margin-top: 0;">
	                    	<label style="margin-top: 3px;"><u>อีเมล์</u></label>
		                    <span>mayfender.debt@gmail.com</span>
	                    </div>
	                    
	                    <div class="row">
		                    <div class="col-xs-6">
		                    	<label style="margin-top: 3px; margin-left: 10px;">การหัก ณ ที่จ่าย</label>
		                    </div>
		                    <div class="col-xs-6">
		                    	<label style="margin-top: 3px;">ที่อยู่ส่งเอกสาร</label>
		                    </div>
	                    </div>
	                    <div class="well well-sm" style="margin-bottom: 0; margin-top: 0;">
		                    <div class="row">
			                    <div class="col-xs-6">
			                    	<div style="color: #337AB7;">
				                    	<span>บริษัท เมตาคอม จำกัด</span><br />
				                    	<span>เลขประจำตัวผู้เสียภาษี: 0105560082898</span><br />
				                    	<span>1122/26 บ้านเอื้ออาทรร่มเกล้า 2 อาคาร 23</span><br />
				                    	<span>ชั้น 3 ห้อง 26 ถนน ราษฎร์พัฒนา</span><br />
				                    	<span>แขวง คลองสองต้นนุ่น เขต ลาดกระบัง</span>
				                    	<span>กรุงเทพมหานคร 10520</span>
			                    	</div>
			                    </div>
			                    <div class="col-xs-6">
			                    	<div style="color: #337AB7;">
				                    	<span>บริษัท เมตาคอม จำกัด</span><br />
				                    	<span>1122/26 บ้านเอื้ออาทรร่มเกล้า 2 อาคาร 23</span><br />
				                    	<span>ชั้น 3 ห้อง 26 ถนน ราษฎร์พัฒนา</span><br />
				                    	<span>แขวง คลองสองต้นนุ่น เขต ลาดกระบัง</span>
				                    	<span>กรุงเทพมหานคร 10520</span>
			                    	</div>
			                    </div>
		                    </div>
	                    </div>
                   </div>
                   <div class="panel-footer"></div>
                </div>
			</div>
		</div>
			
       </div>
   </div>
