<div id="friendslist">
	<div id="topmenu">
		<hr class="minz" title="ซ่อน" ng-click="$parent.isShow = false" />
		<span class="chats"><i class="fa fa-weixin fa-2x" ng-style="tab == 1 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="changeTab(1)"></i></span> 
		<span class="friends"><i class="fa fa-user fa-2x" ng-style="tab == 2 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="changeTab(2)"></i></span>
		<span class="group"><i class="fa fa-users fa-2x" ng-style="tab == 3 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="changeTab(3)"></i></span>
		<hr class="indicator" ng-style="tab == 1 ? {left: '0px'} : tab == 2 ? {left: '100px'} : {left: '200px'}" />
	</div>
	<div id="friends">
		<div class="friend-box">
			<div class="friend" ng-repeat="item in items" ng-click="goChat($event, item)">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
				<p>
					<strong>{{ item.name }}</strong><br />
					<span>{{ tab == 1 ? item.msg : item.fullName }}</span>
				</p>
				<div class="status" ng-class="{'inactive': item.status == 0}"></div>
			</div>
		</div>
		<div id="search">&nbsp;&nbsp;&nbsp;
			<i class="fa fa-search"></i>&nbsp;
			<input type="text" id="searchfield" placeholder="ค้นหา..." />
		</div>
	</div>
</div>
<div id="chatview" class="p1">
	<div id="profile">
		<hr class="minz" title="ซ่อน" ng-click="$parent.isShow = false" ng-style="isChatPage ? {background: '#e6e6e6'} : {}" />
		<div id="close">
			<div class="cy"></div>
			<div class="cx"></div>
		</div>

		<p></p>
		<span></span>
	</div>
	<div id="chat-messages">
		<label>Thursday 02</label>
		<div class="message" ng-repeat="msg in messages" ng-class="{'right': msg.isMe}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" ng-hide="msg.isMe" />
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" ng-show="msg.isMe" />
			<div class="bubble">
				<span class="msg">{{ msg.msg }}<span class="time">{{ msg.msgTime }}</span></span>
			</div>
		</div>
	</div>
	<div id="sendmessage">
		<textarea rows="3" cols="30" style="resize: none;" placeholder="พิมพ์ข้อความ..." ng-model="chatMsg" ng-keydown="chkEnter($event)"></textarea>
		<button id="send" title="ส่ง" ng-click="sendMsg()">
			<i class="fa fa-paper-plane fa-2x"></i>
		</button>
	</div>
</div>