<style type="text/css">
	.mbSmilesWrapper{
	  position:relative;
	  display:inline-block;
	  marginwidth-topmargin:15px;
	}

    .mbSmilesBox{
      position:absolute;
      width:290px;
      background:#f3f3f3;
      padding:5px;
      -moz-box-shadow: #666666 1px 1px 6px;
      -webkit-box-shadow: #666666 1px 1px 6px;
      margin-top:-213px;
      z-index:5001;
    }
    span.emoticon{
      background-color:#f3f3f3;
      display:block;
      float:left;
      width:25px;
      height:25px;
      cursor:pointer;
      border-bottom:1px dotted #ccc;
      border-right:1px dotted #ccc;
      padding:3px;
    }
    span.emoticon:hover{
      position:relative;
      z-index:1;
      background-color:#fff;
      -moz-box-shadow: #666666 1px 1px 6px;
      -webkit-box-shadow: #666666 1px 1px 6px;
    }
    span.mbSmilesButton img{
        width:12px;
        height:12px;
    }
    span.mbSmilesButton{
        position:absolute;
        right:5px;
        z-index:1000;
    }
</style>
  
<div id="friendslist">
	<div id="topmenu">
		<hr class="minz" title="ซ่อน" ng-click="chatting.chatHide()" />
		<span class="chats"><i class="fa fa-weixin fa-2x" ng-style="chatting.tab == 1 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="chatting.changeTab(1)"></i></span> 
		<span class="friends"><i class="fa fa-user fa-2x" ng-style="chatting.tab == 2 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="chatting.changeTab(2)"></i></span>
		<span class="group"><i class="fa fa-users fa-2x" ng-style="chatting.tab == 3 ? {color: '#62819c', cursor: 'default'} : {}" ng-click="chatting.changeTab(3)"></i></span>
		<hr class="indicator" ng-style="chatting.tab == 1 ? {left: '0px'} : chatting.tab == 2 ? {left: '100px'} : {left: '200px'}" />
	</div>
	<div id="friends">
		<div class="friend-box" ui-scroll-viewport>
			<div class="friend" ui-scroll="item in chatting.friendSource" adapter="chatting.adapter" ng-click="chatting.goChat($event, item)" buffer-size="15" start-index="0">
				 <img data-ng-src="data:image/png;base64,{{item.imgData.imgContent}}" ng-hide="item.isGroup" />
				 <img src="/backend/app/images/group.jpg" ng-show="item.isGroup" />
					<p>
						<strong>{{ item.showname }}</strong><br />
						<span>{{ chatting.tab == 1 ? item.lastMsg : (item.firstName + ' ' + item.lastName) }}</span>
					</p>
					<div ng-show="chatting.tab == 1" class="status" ng-class="{'inactive': (!item.status || item.status == 0)}">
						<span class="badge un-read">{{ item.unRead }}</span>
					</div>
			</div>
		</div>
		<div id="search">&nbsp;&nbsp;&nbsp;
			<i class="fa fa-search"></i>&nbsp;
			<input type="text" id="searchfield" placeholder="ค้นหา..." ng-model="chatting.keyword" ng-change="chatting.adapter.reload(0)" />
		</div>
	</div>
</div>
<div id="chatview" class="p1">
	<div id="profile">
		<hr class="minz" title="ซ่อน" ng-click="chatting.chatHide()" ng-style="chatting.isChatPage ? {background: '#e6e6e6'} : {}" />
		<div id="close">
			<div class="cy"></div>
			<div class="cx"></div>
		</div>

		<p></p>
		<span></span>
	</div>
	<div id="chat-messages">
		<div class="message" ng-repeat="msg in chatting.messages" ng-class="{'right': msg.isMe}">
			<label ng-show="msg.dateLabel">{{ msg.dateLabel }}</label>
			<img class="chat-thumbnail" data-ng-src="data:image/png;base64,{{chatting.mapImg[msg.author].imgContent}}" ng-hide="msg.isMe" /> <span ng-show="chatting.isGroup" style="font-size: 11px; color: #86888a;">{{ msg.showname }}</span>
			<div class="bubble">
				<span id="msg" class="msg"><span ng-bind-html="msg.body"></span><span class="time">{{ (msg.isMe && msg.readCount > 0) ? 'อ่านแล้ว'+(chatting.isGroup ? ' '+msg.readCount : '') +'':'' }} {{ msg.createdDateTime | date:'HH:mm' }}</span></span>
			</div>
		</div>
	</div>
	<div id="sendmessage">
		<textarea id="inputMsg" rows="3" cols="30" style="resize: none;" placeholder="พิมพ์ข้อความ..." ng-model="chatting.chatMsg" ng-keydown="chatting.chkEnter($event)"></textarea>
		<button id="send" title="ส่ง" ng-click="chatting.sendMsg()">
			<i class="fa fa-paper-plane fa-2x"></i>
		</button>
	</div>
</div>
<script type="text/javascript">
		$("#inputMsg").mbSmilesBox();
</script>