<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Debt Management System</a>
    </div>
    <!-- /.navbar-header -->
    
    <div class="navbar-header">
    	
	    	<!-- <select name="products" ng-model="currentProduct" ng-options="option.id as option.productName for option in productsSelect" ng-change="changeProduct()"></select> -->
	    	
	    	
	    	<div class="btn-group" style="padding-top: 8px;" ng-hide="productsSelect == null">
	    	  <label class="btn btn-primary" ng-if="productsSelect.length == 1">
	    	  	{{ productsSelect[0].productName }}
	    	  </label>
	    	
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
			  		  style="padding-left: 15px; padding-right: 15px;" ng-if="productsSelect.length > 1">
			    <span ng-repeat="u in productsSelect | filter : currentProduct">{{ u.productName }}</span>&nbsp;&nbsp;<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" ng-if="productsSelect.length > 1">
			    <li ng-repeat="u in productsSelect track by $index"><a href="" ng-click="changeProduct(u.id)">{{ u.productName }}</a></li>
			  </ul>
			</div>
			
			
	    	   
	    	
    </div>
    
    <header-notification></header-notification>

    <!-- <sidebar></sidebar> -->
</nav>
