<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; box-shadow: 0px 1px #D7DBDD;">
    <div class="navbar-header">
        <div class="comm-txt-3d" style="color: #337AB7; text-align: center; line-height: 90%; margin-left: 20px; margin-top: 10px;">
	        <label>Debt Management System</label><br/>
	        <small>Version {{ backendVersion }}</small>
        </div>
    </div>
    <!-- /.navbar-header -->
    
    <div class="navbar-header">
    	
	    	<div class="btn-group" style="padding-top: 8px;" ng-hide="productsSelect == null">
	    	  <label class="btn btn-primary" ng-if="productsSelect.length == 1" style="cursor: default;">
	    	  	{{ productsSelect[0].productName }}
	    	  </label>
	    	
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
			  		  style="padding-left: 15px; padding-right: 15px;" ng-if="productsSelect.length > 1">
			    <span ng-repeat="u in productsSelect | filter : currentProduct">{{ u.productName }}</span>&nbsp;&nbsp;<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" ng-if="productsSelect.length > 1">
			    <li ng-repeat="u in productsSelect track by $index"><a href="" ng-click="changeProduct(u.id)">{{ u.productName }}</a></li>
			  </ul>
			</div>
			
			
    </div>
    
    <div class="navbar-header">
		<div class="clock" style="position: absolute; top: -1px;"></div>     
    </div>
    
    <header-notification></header-notification>
    
    <div style="position: absolute; right: 35px; top: 54px;" ng-show="photoSource && !(state.current.name == 'dashboard.home')">
	    <img id="photo" class="img-thumbnail" ng-src="{{ photoSource }}" style="height: 84px;">
    </div>



	
	
	<!-- --- : Slide menu : ---- -->	
	<div id="thairegion-slideout">	
		<button class="button button-3d button-box"><img src="/backend/app/images/thailand-2.png"></button>
		<div id="thairegion-slideout_inner">	
			<selectize config='provinceConfig' options='provinceOptions' ng-model="provinceId"></selectize>
			<selectize config='amphureConfig' options='amphureOptions' ng-model="amphureId"></selectize>
			<selectize config='districtConfig' options='districtOptions' ng-model="districtId"></selectize>
			<br />
			<span style="font-weight: 700;">รหัสไปรษณีย์</span>&nbsp;&nbsp;&nbsp;<span style="font-weight: 700; font-size: 24px;">{{ zipcode }}</span>
		</div>
	</div>	
	<!-- --- : Slide menu : ---- -->
	
	
	
	
	
	
    

    <!-- <sidebar></sidebar> -->
</nav>
