<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; 
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);">
	
    <div class="navbar-header">
        <div class="comm-txt-3d-st2" 
        	style="color: #e6e6e6; text-align: center; line-height: 90%; margin-left: 5px; margin-top: 10px; padding: 6px 15px 5px 15px;
        	border-radius: 10px 0px 10px 0px; background-color: #337ab7;
        	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        	
	        <label style="line-height: 0;" title="Debt Management System">DMS</label><br/>
	        <small style="font-size: 10px;">Version {{ backendVersion }}</small>
        </div>
    </div>
    <!-- /.navbar-header -->
    
    <div class="navbar-header">
		<div class="clock" style="position: absolute; top: 1px; margin: 1em 1em 1em 5px"></div>     
    </div>
    
    <div class="navbar-header" style="position: relative;">
    	
	    	<div class="btn-group" style="padding-top: 10px; position: absolute; left: 147px;" ng-hide="productsSelect == null">
	    	  <label class="btn btn-primary" ng-if="productsSelect.length == 1" style="cursor: default;">
	    	  	{{ workingOnProduct.productName }}
	    	  </label>
	    	
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
			  		  style="padding-left: 15px; padding-right: 15px;" ng-if="productsSelect.length > 1">
			    <span ng-repeat="u in productsSelect | filter : workingOnProduct.id">{{ u.productName }}</span>&nbsp;&nbsp;<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" ng-if="productsSelect.length > 1">
			    <li ng-repeat="u in productsSelect track by $index"><a href="" ng-click="changeProduct(u)">{{ u.productName }}</a></li>
			  </ul>
			</div>
			
    </div>
    
    <header-notification></header-notification>
    
	<!-- --- : thumbnail : ---- -->
    <div style="position: absolute; right: 35px; top: 58px;" ng-show="photoSource && !(state.current.name == 'dashboard.home')">
	    <img id="photo" class="img-thumbnail" ng-src="{{ photoSource }}" style="height: 84px;">
    </div>
    	
	<!-- --- : Footer : ---- -->
	<div class="container-footer-common" ng-init="chatting.tab = 1; chatting.isShow = false;">
		Copyright © 2017-2018 METACOM Co.,Ltd. All rights reserved.&nbsp;09-4236-3204
		<div class="pull-right">
			<i class="fa fa-weixin fw" ng-class="{'blink_me': chatting.isChatBlink}" ng-style="chatting.isChatBlink ? {color: 'rgb(206, 100, 51)'} : {}" ng-click="chatting.chatHide()" style="cursor: pointer;" title="Chatting"></i>&nbsp;
			<span>{{ productKey }}</span>
		</div>
		<div id="chatbox" ng-include="'./scripts/directives/header/chatting.html'" ng-style="chatting.isShow ? {height: '559px'} : {height: '0px'}"></div>
	</div>
        
</nav>