<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">ระบบเตือนต่ออายุสมาชิก</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt  fa-fw"></i> แสดงข้อมูลเตือนการต่ออายุ
                </div>
                <div class="panel-body">
                	
                	<div class="col-lg-12">
						<div class="well well-sm" style="background-color:rgba(51, 122, 183, 0.1);">
							<form class="form-inline" ng-submit="search()">
							  <div class="form-group">
							    <input type="text" class="form-control" placeholder="ชื่อผู้ลงทะเบียน" ng-model="formData.firstname">
							  </div> 
							  <div class="form-group">
					                <label style="margin-left: 20px;">สถานะ &nbsp;&nbsp;</label>
					                <label class="radio-inline">
					                    <input type="radio" name="isActive" value="1" ng-model="formData.isActive">เปิด
					                </label>
					                <label class="radio-inline">
					                    <input type="radio" name="isActive" value="0" ng-model="formData.isActive">ปิด
					                </label>
							   </div>
							   <button style="margin-left: 20px;" type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">ล้าง</button>
							   <button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
							</form>
						</div>
					</div>
					
					
					<div class="col-lg-12">
						<div class="form-group input-group well well-sm" style="padding-top: 3px; padding-bottom: 3px;">
							<span class="input-group-addon" style="border: 0px; background: none;">
								{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
							</span>
							<pagination ng-change="pageChanged()" total-items="totalItems"
										first-text="{{'pagination.first' | translate}}"
										previous-text="{{'pagination.previous' | translate}}"
										next-text="{{'pagination.next' | translate}}"
										last-text="{{'pagination.last' | translate}}"
										ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
										max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
										rotate="false" num-pages="numPages" style="margin: auto;" />
							<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none;">
								<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
							</span>
						</div>
					</div>
					
					

					<div class="table-responsive col-lg-12">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>ลำดับที่</th>
									<th>ชื่อ</th>
									<th>ประเภทสมาชิก</th>
									<th>วันเดือนปีที่สมัคร</th>
									<th>วันที่หมดอายุ</th>
									<th>ระยะเวลาที่เหลือ</th>
									<th>สถานะ</th>
									<th>กระทำ</th>
								</tr>
							<thead>
							<tbody>
								<tr ng-repeat="data in datas track by $index">
									<td>{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
									<td>{{ data.firstname }} {{ data.lastname }}</td>
									<td>{{ data.memberTypeName }}</td>
									<td>{{ data.registerDate | date:'dd/MM/yyyy' }}</td>
									<td>{{ data.expireDate | date:'dd/MM/yyyy' }}</td>
									<td>{{ data.period == '0 วัน' ? 'วันนี้' : data.period }}</td>
									<td>
										<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="data.enabled == 1"></i>
										<i class="fa fa-minus-circle fa-lg user-status-disabled-icon" ng-show="data.enabled == 0"></i>
										<i class="fa fa-lock fa-lg" ng-show="data.status == 1"></i>
									</td>
									<td>
										<i class="fa fa-retweet fa-lg user-action-icon-warning" ng-click="renewPopup(data)"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ต่ออายุสมาชิก</h4>
            </div>
            <div class="modal-body">
            
            	<form class="form-horizontal" name="persistForm" novalidate>
					<div class="form-group">
					    <label class="col-lg-5 control-label">ชื่อ</label>
					    <div class="col-lg-5">
							<span class="form-control" readonly>{{ popup.name }}</span>
					    </div>
				  	</div>
					<div class="form-group" ng-class="{'has-error':persistForm.memberTypeId.$invalid}">
						<label class="col-lg-5 control-label">ประเภทสมาชิก</label>
					    <div class="col-lg-5">
							<select name="memberTypeId" class="form-control" ng-model="data.memberTypeId" ng-change="selectedMemType()"
								    ng-options="option.memberTypeId as option.memberTypeName for option in memberTypes" required>
								<option value="">-- กรุณาเลือก --</option>
						    </select>
					    </div>
				  	</div>
					<div class="form-group">
					    <label class="col-lg-5 control-label">วันทีหมดอายุ</label>
					    <div class="col-lg-5">
							<span class="form-control" readonly>{{ popup.expireDate | date:'dd/MM/yyyy' }}</span>
					    </div>
				  	</div>
					<div class="form-group">
					    <label class="col-lg-5 control-label">ระยะเวลาที่เหลือก่อนหมดอายุ</label>
					    <div class="col-lg-5">
							<span class="form-control" readonly>{{ popup.period == '0 วัน' ? 'วันนี้' : popup.period }}</span>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-lg-5 control-label">วันเริ่มสมาชิก</label>
					    <div class="col-lg-5">
							<span class="form-control" readonly>{{ data.registerDate | date:'dd/MM/yyyy' }}</span>
					    </div>
				  	</div>
				  	<div class="form-group" ng-class="{'has-error':persistForm.expireDate.$invalid}">
		                <label class="col-lg-5 control-label">วันหมดอายุรอบถัดไป</label>
		                <div class="col-lg-5">
			                <div class="input-group">
								<input type="text" name="expireDate" class="form-control datepicker" style="padding-left: 12px;" 
									   date-parser="dd/MM/yyyy" ng-model="data.expireDate" required>
			                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			                </div>
		                </div>
					</div>
					<!-- <div class="form-group">
					    <label class="col-lg-5 control-label">วันหมดอายุรอบถัดไป</label>
					    <div class="col-lg-5">
							<code style="position: absolute; right: 15px;">DD/MM/YYYY</code>
							<div class="input-group">
								<input tabindex="24" name="expireDate" type="text" class="form-control" datepicker-popup="{{format}}"
									current-text="{{'datepicker.today' | translate}}"
									clear-text="{{'datepicker.clear' | translate}}"
									close-text="{{'datepicker.close' | translate}}"
									ng-model="data.expireDate" is-open="expireDatePicker" required /> 
									<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openExpireDate($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
					    </div>
				  	</div> -->
				  	<!-- <div class="form-group">
					    <label class="col-lg-5 control-label">ราคาค่าสมัครสมาชิก</label>
					  	<div class="col-lg-5">
						    <div class="input-group">
								<label class="form-control" readonly>{{ memberPrice }}</label>
			                    <span class="input-group-addon">บาท</span>
			                </div>
					  	</div>
				  	</div> -->
				</form>
            </div>
           	<div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="persistForm.$invalid" ng-click="renewRegister()">ต่อสมาชิก</button>
                <button type="button" class="btn btn-danger" ng-show="popup.status == 0" ng-click="updateStatus(1)">ระงับสิทธิ์สมาชิก</button>
                <button type="button" class="btn btn-success" ng-show="popup.status == 1" ng-click="updateStatus(0)">ยกเลิกระงับสิทธิ์สมาชิก</button>
				<button type="button" class="btn btn-default" ng-click="dismissModal()">ปิด</button>
			</div>
         </div>
     </div>
 </div>
<!-- / Modal -->