<div class="row">
	<div class="col-lg-4">
	    <div class="panel panel-{{stateOrdersStart == 0 ? 'default' : 'yellow'}}">
	        <div class="panel-heading" ng-click="stateOrdersStart == 1 ? reState() : ''" ng-class="{'comm-cursor-pointer': stateOrdersStart == 1}">
	            <i class="fa fa-circle-o-notch fa-fw"></i> {{ headerQueue }} {{ ordersStartDummy.length }} {{'kichen.item' | translate}}
	        </div>
	        
	        <div class="panel-body">
			    <div class="list-group">
			    	<div ng-repeat="or in ordersStartDummy" class="list-group-item comm-hover">
			    		<table style="width: 100%">
			    			<tr>
			    				<td ng-click="stateOrdersStart == 0 ? checkToDo(or.menu.id) : ''" style="cursor: pointer;">
						    		<i class="fa fa-caret-right fa-fw"></i> {{ or.menu.name }} 
						    		<i class="fa fa-home fa-fw" style="color: #EC971F;" ng-show="or.isTakeHome"></i> 
			    				</td>
			    				<td style="text-align: right;">
			    					<code class="pull-right text-muted small">{{'kichen.amount' | translate}} {{ or.amount }}</code>
			    				</td>
			    				<td rowspan="2" style="text-align: right;">
			    					<input type="checkbox" checklist-model="checkOrderMenuStartIds" checklist-value="or.id">
			    					<br />
			    					<i class="fa fa-info-circle fa-fw" style="cursor: pointer;" ng-click="menuInfo(or.menu.id)"></i>
			    				</td>
			    			</tr>
			    			<tr>
			    				<td ng-click="stateOrdersStart == 0 ? checkToDo(or.menu.id) : ''" style="cursor: pointer;">
						    		<code>{{'kichen.table' | translate}} {{ or.customer.tableDetail }} | {{'kichen.ref' | translate}} {{ or.customer.ref }}</code>
			    				</td>
			    				<td style="text-align: right;">
			    					<span class="text-muted small"><em>{{ or.createdDateTime | date : 'HH:mm:ss' }}</em></span>
			    				</td>
			    			</tr>
			    		</table>
			    		
			    		<div class="well well-sm text-muted small" style="margin-bottom: 0px; margin-top: 5px;" ng-show="or.comment">
	                        {{ or.comment }}
     	               </div>
			    	</div>
			    </div>
			    
			    <div class="col-lg-12" style="text-align: center;" ng-show="ordersStartDummy.length > 0">
			    	<div>
			    		<code>{{'kichen.change_status_to' | translate}}</code>			    	
			    	</div>
				    <div class="btn-group">
						<button type="button" ng-disabled="checkOrderMenuStartIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuStartIds, 1)" title="{{'kichen.title_doing' | translate}}"><i class="fa fa-angle-right fa-fw"></i></button>
						<button type="button" ng-disabled="checkOrderMenuStartIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuStartIds, 2)" title="{{'kichen.title_finished' | translate}}"><i class="fa fa-angle-double-right fa-fw"></i></button>
					</div>
			    </div>
			    
			</div>
	    </div>
	</div>
	
	<!-- ----------- -->
	
	<div class="col-lg-4">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <i class="fa fa-refresh fa-fw fa-spin"></i> {{'kichen.panel.header_doing' | translate}} {{ ordersDoing.length }} {{'kichen.item' | translate}}
	        </div>
	        
	        <div class="panel-body">
			    <div class="list-group">
			    	<div ng-repeat="or in ordersDoing" class="list-group-item comm-hover">
			    		<table style="width: 100%">
			    			<tr>
			    				<td>
						    		<i class="fa fa-caret-right fa-fw"></i> {{ or.menu.name }} 
						    		<i class="fa fa-home fa-fw" style="color: #EC971F;" ng-show="or.isTakeHome"></i>
			    				</td>
			    				<td style="text-align: right;">
			    					<code class="pull-right text-muted small">{{'kichen.amount' | translate}} {{ or.amount }}</code>
			    				</td>
			    				<td rowspan="2" style="text-align: right;">
			    					<input type="checkbox" checklist-model="checkOrderMenuDoingIds" checklist-value="or.id">
			    					<br />
			    					<i class="fa fa-info-circle fa-fw" style="cursor: pointer;" ng-click="menuInfo(or.menu.id)"></i>
			    				</td>
			    			</tr>
			    			<tr>
			    				<td>
						    		<code>{{'kichen.table' | translate}} {{ or.customer.tableDetail }} | {{'kichen.ref' | translate}} {{ or.customer.ref }}</code>
			    				</td>
			    				<td style="text-align: right;">
			    					<span class="text-muted small"><em>{{ or.createdDateTime | date : 'HH:mm:ss' }}</em></span>
			    				</td>
			    			</tr>
			    		</table>
			    		<div class="well well-sm text-muted small" style="margin-bottom: 0px; margin-top: 5px;" ng-show="or.comment">
	                        {{ or.comment }}
     	               </div>
			    	</div>
			    </div>
			    
			    <div class="col-lg-12" style="text-align: center;" ng-show="ordersDoing.length > 0">
			    	<div>
			    		<code>{{'kichen.change_status_to' | translate}}</code>		
			    	</div>
				    <div class="btn-group">
						<button type="button" ng-disabled="checkOrderMenuDoingIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuDoingIds, 0)" title="{{'kichen.title_queue' | translate}}"><i class="fa fa-angle-left fa-fw"></i></button>
						<button type="button" ng-disabled="checkOrderMenuDoingIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuDoingIds, 2)" title="{{'kichen.title_finished' | translate}}"><i class="fa fa-angle-right fa-fw"></i></button>
					</div>
			    </div>
			    
			</div>
	    </div>
	</div>
	
	
	
	<div class="col-lg-4">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <i class="fa fa-check-circle fa-fw"></i> {{'kichen.panel.header_finished' | translate}} {{ ordersFinished.length }} {{'kichen.item' | translate}} 
	            {{'kichen.panel.header_finished_short' | translate}} {{ ordersFinishedQuantity }} {{'kichen.item' | translate}}
	        </div>
	        
	        <div class="panel-body">
			    <div class="list-group">
			    	<div ng-repeat="or in ordersFinished | orderBy:'changedStatusDateTime':true | limitTo: ordersFinishedQuantity" class="list-group-item comm-hover">
			    		<table style="width: 100%">
			    			<tr>
			    				<td>
						    		<i class="fa fa-caret-right fa-fw"></i> {{ or.menu.name }} 
						    		<i class="fa fa-home fa-fw" style="color: #EC971F;" ng-show="or.isTakeHome"></i>
			    				</td>
			    				<td style="text-align: right;">
			    					<code class="pull-right text-muted small">{{'kichen.amount' | translate}} {{ or.amount }}</code>
			    				</td>
			    				<td rowspan="2" style="text-align: right;">
			    					<input type="checkbox" checklist-model="checkOrderMenuFinishedIds" checklist-value="or.id">
			    				</td>
			    			</tr>
			    			<tr>
			    				<td>
						    		<code>{{'kichen.table' | translate}} {{ or.customer.tableDetail }} | {{'kichen.ref' | translate}} {{ or.customer.ref }}</code>
			    				</td>
			    				<td style="text-align: right;">
			    					<span class="text-muted small"><em>{{ or.changedStatusDateTime | date : 'HH:mm:ss' }}</em></span>
			    				</td>
			    			</tr>
			    		</table>
			    		<div class="well well-sm text-muted small" style="margin-bottom: 0px; margin-top: 5px;" ng-show="or.comment">
	                        {{ or.comment }}
     	               </div>
			    	</div>
			    </div>
			    
		    	<a href="#" class="btn btn-default btn-block" ng-hide="ordersFinished.length <= ordersFinishedQuantity" 
		    	   style="margin-bottom: 5px;" ng-click="ordersFinishedQuantity = ordersFinished.length">{{'kichen.see_all_btn' | translate}}</a>
			    
			    <div class="col-lg-12" style="text-align: center;" ng-show="ordersFinished.length > 0">
			    	<div>
			    		<code>{{'kichen.change_status_to' | translate}}</code>		
			    	</div>
				    <div class="btn-group">
						<button type="button" ng-disabled="checkOrderMenuFinishedIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuFinishedIds, 0)" title="{{'kichen.title_queue' | translate}}"><i class="fa fa-angle-double-left fa-fw"></i></button>
						<button type="button" ng-disabled="checkOrderMenuFinishedIds.length == 0" class="btn btn-default" ng-click="changeStatusTo(checkOrderMenuFinishedIds, 1)" title="{{'kichen.title_doing' | translate}}"><i class="fa fa-angle-left fa-fw"></i></button>
					</div>
			    </div>
			    
			</div>
	    </div>
	</div>
	
</div>








<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content" style="padding: 10px;" ng-bind-html="getHtml()">
         	
         </div>
     </div>
 </div>
<!-- / Modal --> 