<div>
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">แจ้งเตือน</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-xs-12">
			<div class="row">
				<div class="col-xs-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-bell fa-fw"></i> รายการแจ้งเตือน
							<div class="pull-right" style="position: relative; bottom: 5px; right: -10px;">
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm btn-outline" ng-class="{'active': group.isActive}" ng-repeat="group in notificationGroups" ng-click="changeGroup(group)">
										{{ group.name }}<span class="badge pull-right" style="background-color: #a03b42; color: white;" ng-show="group.alertNum">{{ group.alertNum }}</span>
									</button>
								</div>
								&nbsp;
								<div class="btn-group pull-right">
								    <button type="button" class="btn btn-default btn-sm btn-outline dropdown-toggle active" data-toggle="dropdown">
								      	{{ lastTakeActionMenuActive.name }}&nbsp;<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								      	<li ng-repeat="menu in isTakeActionMenus" ng-click="isTakeActionGet(menu)">
								      		<a href=""><i class="fa" ng-class="{'fa-adjust': menu.id == 1, 'fa-circle-o': menu.id == 2, 'fa-check-circle-o': menu.id == 3}"></i> {{ menu.name }}</a>
								      	</li>
								    </ul>
							  	</div>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body" style="padding: 3px;">
							<div class="row">
								<div class="col-xs-12">
									<div class="list-group" style="margin-bottom: 0;">
										<div class="list-group-item" style="padding-top: 0; padding-bottom: 0;">
											<div class="row">
												<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
													<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
														{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ totalItems | number:0 }} {{'pagination.items' | translate}})
													</span>
													<pagination ng-change="pageChanged()" total-items="totalItems"
																first-text="{{'pagination.first' | translate}}"
																previous-text="{{'pagination.previous' | translate}}"
																next-text="{{'pagination.next' | translate}}"
																last-text="{{'pagination.last' | translate}}"
																ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
																max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
																rotate="false" num-pages="numPages" style="margin: auto;" />
													<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
														<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
													</span>
												</div>
											</div>
										</div>
										<div class="list-group-item col-xs-12" ng-repeat="data in notificationList track by $index" ng-style="data.isTakeAction ? {color: '#b7b3ae'} : {}" 
											 style="padding-left: 0; padding-top: 15px; padding-bottom: 5px;">
											 
											 <div class="col-xs-9" style="padding: 0;">
												<span style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis; text-align: left;">
													<span style="display: inline-block; width: 40px; text-align: right;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}.</span>&nbsp;&nbsp;&nbsp;	
													<span class="checkbox_animate">
														<label style="cursor: pointer; margin: 0;">
											            	<input type="checkbox" value="" ng-model="data.isTakeAction" ng-change="">
											            	<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											            	{{ data.subject }} / 
											          	</label>
										            	<span class="small">{{ data.detail }}</span>
											        </span>
												</span>
											</div>
											<div class="col-xs-3">
												<span class="pull-right">
													<em class="text-muted small">{{ data.bookingDateTime }}</em>&nbsp;&nbsp;&nbsp;
													<i class="fa fa-eye fa-lg" style="cursor: pointer;" title="ดูรายละเอียด"></i> 
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.panel-body -->
						<div class="panel-footer" style="padding-top: 5px; padding-bottom: 5px;">
                            <!-- <div class="row">
								<div class="btn-group pull-right" style="margin-right: 5px;">
									<button type="button" class="btn btn-primary btn-sm btn-outline">รอ take action</button>
									<button type="button" class="btn btn-primary btn-sm btn-outline">take action แล้ว</button>
								</div>
							</div> -->
                        </div>
					</div>
				</div>
				<!-- /.col-lg-4 -->
				
				<div class="col-xs-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<i class="fa fa-clock-o fa-fw"></i> สร้างรายการแจ้งเตือนทั่วไป
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								
								<form name="bookingForm" novalidate>
									<div class="form-group" ng-class="{'has-error':bookingForm.subject.$invalid}">
									    <label class="control-label">หัวข้อการแจ้งเตือน *</label>
									    <input type="text" name="subject" class="form-control" required="required" ng-model="formData.subject">
									</div>
									<div class="form-group" ng-class="{'has-error':bookingForm.detail.$invalid}">
									    <label class="control-label">รายละเอียดการแจ้งเตือน *</label>
										<textarea class="form-control" name="detail" rows="5" style="resize: vertical;" required="required" ng-model="formData.detail"></textarea>
									</div>
									<div class="form-group" ng-class="{'has-error':bookingForm.date.$invalid || bookingForm.time.$invalid}">
										<div class="input-group">
										  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										    <input type="text" name="date" class="form-control input-sm" readonly="readonly" required="required" date-parser="dd/MM/yyyy" 
								    	   	   ng-model="formData.dateFrom" placeholder="วันที่ *" my-datepicker="dateConf">
											<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
											<input type="text" name="time" class="form-control input-sm" required="required" dn-timepicker="{{ timesCfg.format }}" ng-model="normalStartTime" placeholder="เวลา *" 
													min-time="{{ startTimesCfg.minTime }}" max-time="{{ startTimesCfg.maxTime }}" step="{{ timesCfg.step }}" />
										</div>
									</div>
									<button type="submit" class="btn btn-primary pull-right" ng-disabled="bookingForm.$invalid" title="{{ bookingForm.$invalid ? 'กรุณากรอกข้อมูลให้ครบถ้วน' : ''}}">บันทึก</button>
								</form>
								
							</div>
							<!-- /.panel-body -->
							<div class="panel-footer" style="padding-top: 5px; padding-bottom: 5px;"></div>
						</div>
					</div>
			</div>            
        </div>
    </div>
</div>