<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Notification</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">


					<div class="row">
						<div class="col-lg-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<i class="fa fa-bell fa-fw"></i> Notifications Panel
									
									<!-- <div class="btn-group pull-right">
										<button type="button"
											class="btn btn-default btn-xs dropdown-toggle"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-chevron-down"></i>
										</button>
										<ul class="dropdown-menu slidedown">
											<li><a style="cursor: default;">ทั้งหมด</a></li>
											<li><a style="cursor: default;">นัดชำระ</a></li>
											<li><a style="cursor: default;">นัด Call</a></li>
											<li><a style="cursor: default;">ทั่วไป</a></li>
										</ul>
									</div> -->
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body" style="padding: 3px;">
									<div class="row" style="margin-bottom: 3px;">
										<div class="col-xs-12">
											<div class="btn-group pull-right">
												<button type="button" class="btn btn-default btn-sm btn-outline active">ทั้งหมด <span class="badge" style="background-color: #a03b42;">3</span></button>
												<button type="button" class="btn btn-default btn-sm btn-outline" >นัดชำระ</button>
												<button type="button" class="btn btn-default btn-sm btn-outline" >นัด Call</button>
												<button type="button" class="btn btn-default btn-sm btn-outline" >ทั่วไป</button>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-12">
											<div class="list-group">
												<a href="#" class="list-group-item"> <i
													class="fa fa-comment fa-fw"></i> New Comment <span
													class="pull-right text-muted small"><em>4 minutes
															ago</em> </span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-twitter fa-fw"></i> 3 New Followers <span
													class="pull-right text-muted small"><em>12
															minutes ago</em> </span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-envelope fa-fw"></i> Message Sent <span
													class="pull-right text-muted small"><em>27
															minutes ago</em> </span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-tasks fa-fw"></i> New Task <span
													class="pull-right text-muted small"><em>43
															minutes ago</em> </span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-upload fa-fw"></i> Server Rebooted <span
													class="pull-right text-muted small"><em>11:32 AM</em>
												</span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-bolt fa-fw"></i> Server Crashed! <span
													class="pull-right text-muted small"><em>11:13 AM</em>
												</span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-warning fa-fw"></i> Server Not Responding <span
													class="pull-right text-muted small"><em>10:57 AM</em>
												</span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-shopping-cart fa-fw"></i> New Order Placed <span
													class="pull-right text-muted small"><em>9:49 AM</em> </span>
												</a> <a href="#" class="list-group-item"> <i
													class="fa fa-money fa-fw"></i> Payment Received <span
													class="pull-right text-muted small"><em>Yesterday</em>
												</span>
												</a>
											</div>
											<!-- /.list-group -->
											<a href="#" class="btn btn-default btn-block">View All Alerts</a>
										</div>
									</div>
									
									
								</div>
								<!-- /.panel-body -->
							</div>
						</div>
						<!-- /.col-lg-4 -->
					</div>

            
        </div>
    </div>
</div>