        
<div>
	<form name="addForm" role="addForm" ng-submit="isEdit ? update() : save()" novalidate>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group" ng-class="{'has-error':addForm.menuName.$invalid || existingUserShowErrMsg}">
					<label class="control-label">{{'menu.addpage.form.menu_name' | translate}} *</label>
					<span class="text-danger" ng-show="existingUserShowErrMsg" style="position: absolute; right: 0px;">
						<i class='fa fa-warning fa-fw'></i><em>{{ existingUserShowErrMsg }}</em>
					</span>
					<input name="menuName" class="form-control" ng-model="menu.name" ng-change="existingUserShowErrMsg = null" ng-disabled="autoGen" required>
				</div>
				<div class="form-group" ng-class="{'has-error':addForm.menuPrice.$invalid || existingUserErrMsg}">
					<label class="control-label">{{'menu.addpage.form.menu_price' | translate}} *</label>
					<span class="text-danger" ng-show="existingUserErrMsg" style="position: absolute; right: 0px;">
						<i class='fa fa-warning fa-fw'></i><em>{{ existingUserErrMsg }}</em>
					</span>
					<input name="menuPrice" type="number" class="form-control" ng-model="menu.price" ng-change="existingUserErrMsg = null" ng-disabled="autoGen" required>
				</div>
				
				
				
				<div class="form-group col-lg-6" ng-class="{'has-error':addForm.menuTypes.$invalid}">
					<label class="control-label">{{'menu.addpage.form.menu_type' | translate}} *</label>
					<select name="menuTypes" class="form-control" ng-model="menu.menuType.id" ng-change="getMenuTypeChilds()" required>
						<option value="">{{'menu.search.form.type_dropdown_msg' | translate}}</option>
				      	<option ng-selected="{{ menu.menuType.id == option.id }}" 
				      			ng-repeat="option in menuTypes" value="{{ option.id }}">{{ option.name }}</option>
				    </select>
				</div>
				
				
				<div class="form-group col-lg-6" ng-class="{'has-error':addForm.menuTypeChilds.$invalid}" ng-show="menuTypeChilds">
					<label class="control-label">{{'menu.addpage.form.menu_type_childs' | translate}} *</label>
					<select name="menuTypeChilds" class="form-control" ng-model="menu.menuTypeChild.id" required>
						<option value="">{{'menu.search.form.type_dropdown_msg' | translate}}</option>
				      	<option ng-selected="{{ menu.menuTypeChild.id == option.id }}" 
				      			ng-repeat="option in menuTypeChilds" value="{{ option.id }}">{{ option.name }}</option>
				    </select>
				</div>
				
				
				
				<div class="form-group well well-sm col-lg-12">
					<label class="control-label">{{'menu.addpage.form.menu_img' | translate}}</label>
					<input id="image" name="image" type="file" onchange="angular.element(this).scope().preview(this)" 
					       ng-model='imgUpload' base-sixty-four-input accept=".png,.jpg,.gif" />
				</div>
				<div class="form-group col-lg-12">
	                 <label>{{'menu.addpage.form.status' | translate}} &nbsp;&nbsp;</label>
	                 <label class="radio-inline">
	                     <input type="radio" name="status" value="1" ng-checked="menu.status == 1" ng-model="menu.status">{{'menu.addpage.form.status_enable' | translate}}
	                 </label>
	                 <label class="radio-inline">
	                     <input type="radio" name="status" value="0" ng-checked="menu.status == 0" ng-model="menu.status">{{'menu.addpage.form.status_disable' | translate}}
	                 </label>
	                 <label class="checkbox-inline" style="margin-left: 20px;">
		                  <input type="checkbox" ng-model="menu.isRecommented">{{'menu.addpage.form.is_recommented' | translate}}
		            </label>
		            <button type="button" ng-show="isEdit" style="margin-left: 20px;" class="btn btn-outline btn-primary" ng-click="subMenu()">{{ 'menu.sub.show_btn' | translate }}</button>
	             </div>
			</div>
		
			<div class="col-lg-6" style="text-align: center;">
				<img id="imgUpload" class="img-thumbnail" ng-src="{{ imageSource }}" ng-show="imageSource">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<label>{{'menu.addpage.form.instruction' | translate}}</label><br />
				<textarea id="area1" name="area1" cols="70" style="width: 100%; min-height: 200px;"></textarea>
			</div>
		</div>
		
		<div style="text-align: center; margin-top: 20px;" class="col-lg-12">
			<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
			<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addForm.$invalid">{{ persisBtn }}</button>
		</div>
	</form>
</div>










<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-body">
         		
				<table class="table table-striped table-hover">
					<thead>
						<tr style="font-weight: bold">
							<td style="width:30%">{{ 'menu.sub.table_header.name' | translate }}</td>
						    <td style="width:20%">{{ 'menu.sub.table_header.price' | translate }}</td>
						    <!-- <td style="width:20%"></td> -->
						    <td style="width:30%"></td>
						</tr>
					</thead>
					<tbody>
				    	<tr ng-repeat="op in subMenus">
							<td class="comm-vert-align-center">
					        	<span editable-text="op.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)">
									<span>{{ op.name }}</span>
						        </span>
							</td>
							<td class="comm-vert-align-center">
					        	<span editable-text="op.price" e-name="price" e-form="rowform" e-type="number" onbeforesave="checkName($data)">
									<span>{{ op.price | number:2 }}</span>
						        </span>
							</td>
							
							<!-- <td class="comm-vert-align-center">
					        	<span editable-checkbox="op.amountFlag" e-name="amountFlag" e-form="rowform" e-title="{{ 'menu.sub.can_amount' | translate }}">
									<span>{{ op.amountFlag && canAmount || cannAmount }}</span>
						        </span>
							</td> -->
							
						    <td class="comm-vert-align-center">
						        <form editable-form name="rowform" onbeforesave="saveSubMenu($data, op, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == op">
						          <button type="button" ng-disabled="rowform.$waiting" ng-click="op.id == null ? cancel($index) : rowform.$cancel()" class="btn btn-default">
						            {{'menu_type.cancel_btn' | translate}}
						          </button>
						          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						            {{'menu_type.save_btn' | translate}}
						          </button>	
						        </form>
						        <div class="buttons" ng-show="!rowform.$visible">
						          <button class="btn btn-danger" ng-click="removeSubMenu($index, op)">{{'menu_type.delete_btn' | translate}}</button>
						          <button class="btn btn-primary" ng-click="rowform.$show()">{{'menu_type.edit_btn' | translate}}</button>
						        </div>  
							</td>
						</tr>
					</tbody>
				</table>
         		<button class="btn btn-default" ng-click="addSubMenu()">{{ 'menu.sub.add_btn' | translate }}</button>
         		
            </div>
         </div>
     </div>
 </div>
<!-- / Modal -->