        
<div>
	<div class="col-lg-6">
		<form name="addForm" role="addForm" ng-submit="isEdit ? update() : save()" novalidate>
			<div class="form-group" ng-class="{'has-error':addForm.userNameShow.$invalid || existingUserShowErrMsg}">
				<label class="control-label">{{'menu.addpage.form.menu_name' | translate}} *</label>
				<span class="text-danger" ng-show="existingUserShowErrMsg" style="position: absolute; right: 0px;">
					<i class='fa fa-warning fa-fw'></i><em>{{ existingUserShowErrMsg }}</em>
				</span>
				<input name="userNameShow" class="form-control" ng-model="user.userNameShow" ng-change="existingUserShowErrMsg = null" ng-disabled="autoGen" required>
			</div>
			<div class="form-group" ng-class="{'has-error':addForm.userName.$invalid || existingUserErrMsg}">
				<label class="control-label">{{'menu.addpage.form.menu_price' | translate}} *</label>
				<span class="text-danger" ng-show="existingUserErrMsg" style="position: absolute; right: 0px;">
					<i class='fa fa-warning fa-fw'></i><em>{{ existingUserErrMsg }}</em>
				</span>
				<input name="userName" type="number" class="form-control" ng-model="user.userName" ng-change="existingUserErrMsg = null" ng-disabled="autoGen" required>
			</div>
			<div class="form-group" ng-class="{'has-error':addForm.roles.$invalid}">
				<label class="control-label">{{'menu.addpage.form.menu_type' | translate}} *</label>
				<select name="roles" class="form-control" ng-model="user.roles[0].authority" required>
					<option value="">{{'user.addpage.dropdown_role_msg' | translate}}</option>
			      	<option ng-selected="{{ user.roles[0].authority == option.authority }}" 
			      			ng-repeat="option in rolesConstant" value="{{ option.authority }}">{{ option.name }}</option>
			    </select>
			</div>
			<div class="form-group">
				<label class="control-label">{{'menu.addpage.form.menu_img' | translate}}</label>
				<input type="file" onchange="angular.element(this).scope().setFile(this)" accept=".png,.jpg,.gif" />
			</div>
			<div class="form-group">
                 <label>{{'menu.addpage.form.status' | translate}} &nbsp;&nbsp;</label>
                 <label class="radio-inline">
                     <input type="radio" name="status" value="1" ng-checked="enabled == 1" ng-model="enabled">{{'menu.addpage.form.status_enable' | translate}}
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="status" value="0" ng-checked="enabled == 0" ng-model="enabled">{{'menu.addpage.form.status_disable' | translate}}
                 </label>
                 <label class="checkbox-inline" style="margin-left: 20px;">
	                  <input type="checkbox">{{'menu.addpage.form.is_recommented' | translate}}
	            </label>
             </div>
			<div style="text-align: center;">
				<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
				<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addForm.$invalid">{{ persisBtn }}</button>
			</div>
		</form>
	</div>
	
	<div class="col-lg-6">
		<img ng-src="{{ imageSource }}" width="300">
	</div>
	
</div>