
<div class="col-lg-12">
	<div class="well well-sm" style="background-color:rgba(51, 122, 183, 0.1);">
		<form class="form-inline">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="{{'menu.search.form.name_hint' | translate}}" ng-model="$parent.formData.name" ng-keyup="search()">
		  </div>
		  <div class="form-group">
			<select name="roles" class="form-control" ng-model="$parent.formData.role" ng-change="search()">
				<option value="">{{'menu.search.form.type_dropdown_msg' | translate}}</option>
			    <option ng-selected="{{ $parent.formData.role == option.authority }}"
			    		ng-repeat="option in rolesConstant" value="{{ option.authority }}">{{ option.name }}</option>
			</select>
		  </div>
		  <div class="form-group">
                <label style="margin-left: 20px;">{{'menu.search.form.status' | translate}} &nbsp;&nbsp;</label>
                <label class="radio-inline">
                    <input type="radio" name="userStatus" value="1" ng-model="$parent.formData.status" ng-change="search()">{{'menu.search.form.status_enable' | translate}}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="userStatus" value="0" ng-model="$parent.formData.status" ng-change="search()">{{'menu.search.form.status_disable' | translate}}
                </label>
		   </div>
		   <button style="margin-left: 20px;" type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'menu.search.form.clear_btn' | translate}}</button>
		</form>
	</div>
</div>

<div class="col-lg-12">
	<div class="form-group input-group well well-sm" style="padding-top: 3px; padding-bottom: 3px;">
		<span class="input-group-addon" style="border: 0px; background: none;">
			{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="pageChanged()" total-items="totalItems"
					first-text="{{'pagination.first' | translate}}"
					previous-text="{{'pagination.previous' | translate}}"
					next-text="{{'pagination.next' | translate}}"
					last-text="{{'pagination.last' | translate}}"
					ng-model="$parent.formData.currentPage" items-per-page="itemsPerPage"
					max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
					rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none;">
			<select ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="$parent.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>
	
<div class="col-lg-12">	
	<div class="table-responsive">	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>{{'menu.search.th_pic' | translate}}</th>
					<th>{{'menu.search.th_name' | translate}}</th>
					<th>{{'menu.search.th_type' | translate}}</th>
					<th>{{'menu.search.th_price' | translate}}</th>
					<th>{{'menu.search.th_status' | translate}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="m in menus track by $index">
					<td class="comm-vert-align-center">{{ $index + 1 + ((formData.currentPage - 1) * itemsPerPage) }}</td>
					<td class="comm-vert-align-center">
						<i class="fa fa-image fa-lg" ng-hide="m.hasImg"></i>
						<i class="fa fa-image fa-lg user-status-enabled-icon comm-cursor-pointer" ng-show="m.hasImg" ng-click="getImage(m.id)"></i>
					</td>
					<td class="comm-vert-align-center">{{ m.name}}</td>
					<td class="comm-vert-align-center">อาหาร</td>
					<td class="comm-vert-align-center">{{ m.price }}</td>
					<td class="comm-vert-align-center">
						<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="m.status"></i>
						<i class="fa fa-minus-circle fa-lg user-status-disabled-icon" ng-hide="m.status"></i>
					</td>
					<td class="comm-vert-align-center">
						<i class="fa fa-times fa-lg user-action-icon" ng-click="deleteUser(m.id)"></i>&emsp;
						<i class="fa fa-edit fa-lg user-action-icon" ng-click="editUser(m)"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content" style="text-align: center;">
             <img class="img-thumbnail" style="margin: 5px;" ng-src="data:image/JPEG;base64,{{ imgBase64 }}">
         </div>
     </div>
 </div>
<!-- / Modal --> 


