<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Fields Setting</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<i class="fa fa-list-alt fa-fw"></i> {{ headerTitle }} {{ subTitle }}
                    <span ui-view="backBtn"></span>
                </div>
                <div class="panel-body" style="padding: 3px;">
                	<div class="row">
	                	<div class="col-md-12">
		                	<div ui-view></div>
	                	</div>
                	</div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>