<style>
legend {
    border: 1px solid #BDC3C7;
    border-radius: 15px 15px 15px 15px;
    padding-left: 15px;
    width: 400px;
    margin-left: 3px;
}
fieldset {
	border: 1px solid #BDC3C7;
	border-radius: 0 0 15px 15px;
}

.editable-wrap {
    width: 100%;
}
.editable-controls {
	width: 100%;
}
.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    border-radius: 0;
}
</style>

<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">ตั้งค่า</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> แสดงข้อมูลการตั้งค่า
                </div>
                <div class="panel-body">
                	<div class="form-horizontal">
                		
                		<!-- <div class="form-group" ng-show="group0">
							<label class="control-label col-md-3" style="color: #337AB7;">Disable: </label>
							<div class="col-md-6">
								<input type="checkbox" class="form-control">
							</div>
						</div> -->
						<div class="form-group" ng-show="group0">
							<label class="control-label col-md-3" style="color: #337AB7;">Disable: </label>
							<div class="col-md-6">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" ng-change="openAndClose()" ng-model="isDisable"> Check เพื่อปิดระบบ
								    </label>
							  	</div>
						  	</div>
					  	</div>
                		
                		<div class="form-group" ng-show="group0">
							<label class="control-label col-md-3" style="color: #337AB7;">Comp Code: </label>
							<div class="col-md-6">
								<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="$parent.productKey">{{ $parent.productKey || 'คลิกเพื่อแก้ใข' }}</a>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-3" style="color: #337AB7;">ชื่อบริษัท: </label>
							<div class="col-md-6">
								<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="companyName">{{ companyName || 'คลิกเพื่อแก้ใข' }}</a>
							</div>
						</div>
						
						<div class="form-group" ng-show="group0">
							<label class="control-label col-md-3" style="color: #337AB7;">ฐานข้อมูลประเทศไทย: </label>
							<div class="col-md-4">
								<input type="file" class="form-control" nv-file-select="" uploader="uploaderThailandDb" accept=".dat" />
							</div>
						</div>
				
						<!-- <div class="form-group" ng-show="group0">
							<label class="control-label col-md-3" style="color: #337AB7;">License: </label>
							<div class="col-md-6">
								<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-textarea="license" e-rows="15"></a>
							</div>
						</div> -->
						
						<fieldset style="margin-top: 15px;" ng-show="group0"> <legend style="color: #337AB7;">Database backup configuration</legend>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Mongodump program path: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="mongdumpPath">{{ mongdumpPath || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Backup folder path: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="backupPath">{{ backupPath || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Username: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="backupUsername">{{ backupUsername || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Password: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="backupPassword">{{ backupPassword || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4" style="text-align: right;">
									<button class="btn btn-outline btn-warning" ng-click="forceBackup()">Force to backup</button>
								</div>
							</div>
						</fieldset>
						
						<fieldset style="margin-top: 15px;" ng-show="group0"> <legend style="color: #337AB7;">Phone configuration</legend>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">WSServer: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="phoneWsServer">{{ phoneWsServer || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Realm: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="phoneRealm">{{ phoneRealm || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Default Password: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="phoneDefaultPass">{{ phoneDefaultPass || 'edit' }}</a>
								</div>
							</div>
						</fieldset>
						
						<fieldset style="margin-top: 15px;" ng-show="group0"> <legend style="color: #337AB7;">Third Party configuration</legend>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Python Path: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="pythonPath">{{ pythonPath || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">Tesseract Path: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="tesseractPath">{{ tesseractPath || 'edit' }}</a>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" style="color: #337AB7;">wkhtmltopdf Path: </label>
								<div class="col-md-6">
									<a href="" class="form-control no-border" e-class="form-control" e-style="width: 100%; margin-left: 15px;" buttons="no" onaftersave="update()" editable-text="wkhtmltopdfPath">{{ wkhtmltopdfPath || 'edit' }}</a>
								</div>
							</div>
						</fieldset>
						
                	</div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>