<form autocomplete="off">
    <div class="form-group" id="autocompleteCust">
    	<label>ชื่อผู้ซื้อ</label>
        <input type="text" class="form-control autocomplete" ng-model="uploadData.customerName" ng-change="checkNameEmpty()" 
        	   uib-typeahead="name for name in names | filter: $viewValue">
    </div>
    
    
    <div class="form-group">
    	<label>รอบส่ง</label>
	    <select class="form-control" ng-model="sendRound.sendRoundId" ng-options="option.id as option.desc for option in sendRound.list"></select>
    </div>
    
</form>
<br /><br /><br /><br /><br />
