<style>
    /* html, body { height: 100%; } */
    .my-drop-zone { 
    	border: 2px dashed #979595;
    	margin: 3px -10px 20px -10px;
    }
    .nv-file-over { 
    	border: 2px dashed #e6e029 !important; 
    }
	#autocompleteCust .dropdown-menu {
		max-height: 130px;
		overflow: auto;
	}
	.blink_me {
	  animation: blinker 1s linear infinite;
	}
	
	@keyframes blinker {
	  50% {
	    opacity: 0;
	  }
	}
	
	#app {
		/* -webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4; */
		/* -webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px; */
		-webkit-column-count: 30;
		-moz-column-count: 30;
		column-count: 30;
		-webkit-column-gap: 22px;
		-moz-column-gap: 22px;
		column-gap: 22px;
	}
	#app img {
		width: 100%;
	}
</style>
        
<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">
				<span class="pull-left">{{ showname }}</span>
				<i class="fa fa-cloud-upload fa-fw"></i> Upload File
			</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-12">
			<div class="panel gambler-panel">
                <div class="panel-heading">Upload Data</div>
                <div class="panel-body" style="padding-top: 0; padding-bottom: 0;">

		            <div class="row my-drop-zone" nv-file-drop="" uploader="uploader" nv-file-over uploader="uploader" over-class="nv-file-over">
		                <div class="col-md-12" style="margin-bottom: 20px">
		
		                    <h3>Upload queue : {{ periodObj.periodDateTime | date:'dd/MM/yyyy' }}</h3>
		                    <p>Queue length: {{ uploader.queue.length }}</p>
		
		                    <table class="table">
		                        <thead>
		                            <tr>
		                                <th width="50%">Name</th>
		                                <th ng-show="uploader.isHTML5">Size</th>
		                                <th ng-show="uploader.isHTML5">Progress</th>
		                                <th>Status</th>
		                                <th>Actions</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="item in uploader.queue">
		                                <td><strong>{{ item.file.name }}</strong></td>
		                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
		                                <td ng-show="uploader.isHTML5">
		                                    <div class="progress" style="margin-bottom: 0;">
		                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
		                                    </div>
		                                </td>
		                                <td class="text-center">
		                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                                </td>
		                                <td nowrap>
		                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
		                                        <span class="glyphicon glyphicon-trash"></span> Remove
		                                    </button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		
		                    <div>
		                        <div>
		                            Queue progress:
		                            <div class="progress" style="">
		                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
		                            </div>
		                        </div>
		                        <div style="text-align: right;">
		                        	<div class="pull-left">
										
										<div class="form-group input-group input-group-sm" style="width: 500px; margin-bottom: 0;">
											<span class="input-group-addon">ผู้ซื้อ</span>
									      	<select class="form-control" ng-model="formData.customerName" ng-options="option for option in customerNameLst" ng-change="getFiles()">
									  	  		<option value="">--ทั้งหมด--</option>
									  	  	</select>
											<span class="input-group-addon">สถานะ</span>
											<select class="form-control" ng-model="formData.status" ng-options="option.id as option.title for option in statuses" ng-change="getFiles()">
									  	  		<option value="">--ทั้งหมด--</option>
									  	  	</select>
								  	  	</div>
										
										
		                        	</div>
		                        	<div class="pull-right">
				                        <button type="button" class="btn btn-success btn-sm" ng-click="uploadFile()" ng-disabled="!uploader.getNotUploadedItems().length">
				                            <span class="glyphicon glyphicon-upload"></span> Upload all
				                        </button>
				                        <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
				                            <span class="glyphicon glyphicon-trash"></span> Remove all
				                        </button>
		                        	</div>
		                        </div>
		                    </div>
		
		                </div>
		            </div>
			
			
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <div class="panel panel-info" style="margin: 0; border-color: #2C2B2B; background-color: #6e6c6c;">
					<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px; background-color: #525151; border-color: #525151; color: #cccccc;">
						<span class="input-group-addon" style="border: 0px; background: none; color: #cccccc;">
							{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
						</span>
						<pagination ng-change="pageChanged()" total-items="totalItems"
									first-text="{{'pagination.first' | translate}}"
									previous-text="{{'pagination.previous' | translate}}"
									next-text="{{'pagination.next' | translate}}"
									last-text="{{'pagination.last' | translate}}"
									ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
									max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
									rotate="false" num-pages="numPages" style="margin: auto;" />
						<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #cccccc;">
							<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
						</span>
					</div>
				</div>
                
                
                
                
                
                
                
                
                
                
                	
            		<table class="table table-hover gambler-panel">
					    <thead>
							<tr>
								<th>#</th>
								<th>เวลา</th>
								<th>ชื่อ</th>
								<th>Code</th>
								<th>ชื่อไฟล์</th>
								<th>action</th>
							</tr>
					    </thead>
						<tbody>
					     	<tr ng-repeat="lst in orderFiles">
								<td>{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
								<td>{{ lst.createdDateTime | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								<td>{{ lst.customerName }}</td>
								<td>{{ lst.code }}</td>
								<td>
									<i class="fa fa-lg" ng-class="lst.inprogress ? 'fa-spinner fa-spin' : 'fa-picture-o'" style="cursor: pointer; color: #64cbf3;" title="ดูข้อมูลภาพ" ng-click="lst.inprogress ? '' : viewImage(lst, $event, $index)"></i>&nbsp;&nbsp;{{ lst.fileName }}</td>
								<td>
									<i class="fa fa-times fa-lg" style="cursor: pointer;" ng-click="removeItem(lst)" 
									   title="{{ lst.status == 0 ? 'ยังไม่ลงข้อมูล' : (lst.status == 1 ? 'กำลังลงข้อมูล' : 'ลงข้อมูลเสร็จแล้ว') }}"
									   ng-style="lst.status == 0 ? {'color': '#fd716d;'} : (lst.status == 1 ? {'color': '#e4d848'} : {'color': '#55bb55'})"
									   ng-class="{'blink_me': lst.status == 1}"></i>
								</td>
							</tr>
					    </tbody>
					</table>
					
					
                </div>
			</div>
		</div>
		
	</div>
</div>



<div id="app" style="z-index: -1000;">
	<!-- <img id="mayfender" src="https://source.unsplash.com/kbwQXp3MBi4/800x1300" alt="" class="zoom-in"> -->
	<img id="mayfender" style="z-index: -1000;" data-ng-src="data:image/png;base64,{{ base64Data }}" alt="" class="zoom-in">
</div>