<style>
.my-cus.ng-hide {
    display: block!important;
    visibility: hidden;
}
</style>
<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Dynamic List</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<i class="fa fa-list-alt fa-fw"></i> {{ headerTitle }}
					<!-- <div class="my-cus btn-group pull-right" ng-show="group0 && isShowProd">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li ng-repeat="u in products"><a href="" ng-click="changeProduct(u)">{{ u.productName }}</a></li>
						</ul>
					</div>
					<span class="pull-right" ng-show="group0">{{ workingOnProduct.productName }}&nbsp&nbsp</span> -->
                
                    <button type="button" class="btn btn-info btn-circle btn-lg" ng-show="isShowBack"
                    		style="position: absolute; right: 0px; top: -5px;" ng-click="gotoSelected()">
                    	<i class="fa" ng-class="iconBtn"></i>
                    </button>
                </div>
                <div class="panel-body" style="padding: 3px;">
                	<div class="row" style="margin-bottom: 3px;">
	                	<div class="col-md-12">
		                	<button type="button" style="margin-left: 3px;" class="btn btn-success pull-right" ng-disabled="!(menu == 1)" ng-click="navigate(2)">
								Payment Method
							</button>
							<button type="button" class="btn btn-success pull-right" ng-disabled="!(menu == 2)" ng-click="navigate(1)">
								Dynamic Code
							</button>
	                	</div>
                	</div>
                	<div class="row">
	                	<div class="col-md-12">
		                	<div ui-view></div>
	                	</div>
                	</div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>