#chatbox {
	width: 290px;
	background: #fff;
	border: 1px solid #e3e9ed;
	overflow: hidden;
	height: 500px;
	position: absolute;
	top: 57px;
	left: 160px;
	margin-left: -155px;
}

#chatbox #friendslist {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 500px;
}

#chatbox #topmenu {
	height: 69px;
	width: 290px;
	border-bottom: 1px solid #d8dfe3;
}

#chatbox #topmenu span {
	float: left;
	width: 96px;
	height: 70px;
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png")
		-3px -118px no-repeat;
}

#chatbox #topmenu span.friends {
	margin-bottom: -1px;
}

#chatbox #topmenu span.chats {
	background-position: -95px 25px;
	cursor: pointer;
}

#chatbox #topmenu span.chats:hover {
	background-position: -95px -46px;
	cursor: pointer;
}

#chatbox #topmenu span.history {
	background-position: -190px 24px;
	cursor: pointer;
}

#chatbox #topmenu span.history:hover {
	background-position: -190px -47px;
	cursor: pointer;
}

#chatbox .friend {
	height: 45px;
	border-bottom: 1px solid #e7ebee;
	position: relative;
}

#chatbox .friend:hover {
	background: #f1f4f6;
	cursor: pointer;
}

#chatbox .friend img {
	width: 30px;
	border-radius: 50%;
	margin: 7px;
	float: left;
}

#chatbox .floatingImg {
	width: 40px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 12px;
	border: 3px solid #fff;
}

#chatbox .friend p {
	padding: 3px 0 0 0;
	float: left;
	width: 220px;
	margin: 0px;
}

#chatbox .friend p strong {
	font-weight: 600;
	font-size: 12px;
	color: #597a96;
}

#chatbox .friend p span {
	font-size: 11px;
	font-weight: 400;
	color: #aab8c2;
}

#chatbox .friend .status {
	background: #26c281;
	border-radius: 50%;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 20px;
	right: 17px;
}

#chatbox .friend .status.away {
	background: #ffce54;
}

#chatbox .friend .status.inactive {
	background: #eaeef0;
}

#chatbox #search {
	background: #e3e9ed
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px -10px no-repeat;
	height: 40px;
	width: 290px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#chatbox #searchfield {
	background: #e3e9ed;
	margin: 13px 0 0 55px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400px;
	color: #8198ac;
}

#chatbox #searchfield:focus {
	outline: 0;
}

#chatbox #chatview {
	width: 290px;
	height: 484px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #fff;
}

#chatbox #profile {
	height: 153px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}

#chatbox .p1 #profile {
	background: #fff
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png")
		0 0 no-repeat;
}

#chatbox #profile .avatar {
	width: 68px;
	border: 3px solid #fff;
	margin: 23px 0 0;
	border-radius: 50%;
}

#chatbox #profile  p {
	font-weight: 600;
	font-size: 15px;
	margin: 118px 0 -1px;
	opacity: 0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chatbox #profile  p.animate {
	margin-top: 97px;
	opacity: 1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chatbox #profile span {
	font-weight: 400;
	font-size: 11px;
}

#chatbox #chat-messages {
	opacity: 0;
	margin-top: 30px;
	width: 290px;
	height: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 20px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

#chatbox #chat-messages.animate {
	opacity: 1;
	margin-top: 0;
}

#chatbox #chat-messages label {
	color: #aab8c2;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin: 15px 0;
	width: 290px;
	display: block;
}

#chatbox #chat-messages div.message {
	padding: 0 0 30px 58px;
	clear: both;
	margin-bottom: 45px;
}

#chatbox #chat-messages div.message.right {
	padding: 0 58px 30px 0;
	margin-right: -19px;
	margin-left: 19px;
}

#chatbox #chat-messages .message img {
	float: left;
	margin-left: -38px;
	border-radius: 50%;
	width: 30px;
	margin-top: 12px;
}

#chatbox #chat-messages div.message.right img {
	float: right;
	margin-left: 0;
	margin-right: -38px;
}

#chatbox .message .bubble {
	background: #f0f4f7;
	font-size: 13px;
	font-weight: 600;
	padding: 12px 13px;
	border-radius: 5px 5px 5px 0px;
	color: #8495a3;
	position: relative;
	float: left;
}

#chatbox #chat-messages div.message.right .bubble {
	float: right;
	border-radius: 5px 5px 0px 5px;
}

#chatbox .bubble .corner {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png")
		0 0 no-repeat;
	position: absolute;
	width: 7px;
	height: 7px;
	left: -5px;
	bottom: 0;
}

#chatbox div.message.right .corner {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png")
		0 0 no-repeat;
	left: auto;
	right: -5px;
}

#chatbox .bubble span {
	color: #aab8c2;
	font-size: 11px;
	position: absolute;
	right: 0;
	bottom: -22px;
}

#chatbox #sendmessage {
	height: 60px;
	border-top: 1px solid #e7ebee;
	position: absolute;
	bottom: 0;
	right: 0px;
	width: 290px;
	background: #fff;
	padding-bottm: 50px;
}

#chatbox #sendmessage input {border
	
}

#chatbox #sendmessage input {
	background: #fff;
	margin: 21px 0 0 21px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400px;
	color: #aab8c2;
}

#chatbox #sendmessage input:focus {
	outline: 0;
}

#chatbox #sendmessage button {
	background: #fff
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0
		-41px no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	top: 23px;
	border: none;
}

#chatbox #sendmessage button:hover {
	cursor: pointer;
	background-position: 0 0;
}

#chatbox #sendmessage button:focus {
	outline: 0;
}

#chatbox #close {
	position: absolute;
	top: 8px;
	opacity: 0.8;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#chatbox #close:hover {
	opacity: 1;
}

#chatbox .cx, .cy {
	background: #fff;
	position: absolute;
	width: 0px;
	top: 15px;
	right: 15px;
	height: 3px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#chatbox .cx.s1, .cy.s1 {
	right: 0;
	width: 20px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox .cy.s2 {
	-ms-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox .cy.s3 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox .cx.s1 {
	right: 0;
	width: 20px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox .cx.s2 {
	-ms-transform: rotate(140deg);
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox .cx.s3 {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: all 100ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

#chatbox #chatview, #chatbox #sendmessage {
	overflow: hidden;
	border-radius: 6px;
}