.profile-label{
	padding: 10px 50px 10px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.user-action-icon {
	color: #337AB7; cursor: pointer;
}
.user-status-enabled-icon {
	color: #337AB7;
}
.user-status-disabled-icon {
	color: #C11B1A;
}
.comm-vert-align-center {
	vertical-align: middle !important;
}
.comm-cursor-pointer {
	cursor: pointer;
}

/* -------: File upload :------- */
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
html, body { height: 100%; }
canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    margin: 6px 0 0 6px;
}
/* -------: File upload :------- */