.profile-label{
	padding: 10px 50px 10px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.user-action-icon-primary {
	color: #337AB7; cursor: pointer;
}
.user-action-icon-danger {
	color: #C9302C; cursor: pointer;
}
.user-status-enabled-icon {
	color: #337AB7;
}
.user-status-disabled-icon {
	color: #C11B1A;
}
.comm-vert-align-center {
	vertical-align: middle !important;
}
.comm-cursor-pointer {
	cursor: pointer;
}
.comm-row-selected {
	background-color: #AAB7D1 !important;
}

.comm-row-selected:hover {
	background-color: #AABEDE !important;
}
.comm-rightclick {
	background-color: #AAB7D1 !important;
}

.backgroud-pattern-1 {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.comm-rcorners-1 {
    border-radius: 5px;
    padding: 5px; 
}

.comm-order-active {
	color: #C0392B;
}
.comm-bg-color-primary {
	background-color: #337ab7 !important;
}
.comm-bg-color-success {
	background-color: #5cb85c !important;
}
.comm-bg-color-info {
	background-color: #AED6F1 !important;
	color: #34495E !important;
}
.comm-bg-color-info:hover {
	background-color: #85C1E9 !important;
}
.comm-bg-color-warning {
	background-color: #FAD7A0 !important;
	color: #34495E !important;
}
.comm-bg-color-warning:hover {
	background-color: #F8C471 !important;
}
.comm-bg-color-danger {
	background-color: #F5B7B1 !important;
	color: #34495E !important;
}
.comm-bg-color-danger:hover {
	background-color: #F1948A !important;
}


.comm-text-align-left {
	text-align: left;
}
.comm-text-align-center {
	text-align: center;
}
.comm-text-align-right {
	text-align: right;
}
.comm-text-font-weight-active {
	font-weight: 700;
}








/* ----------: Override bootstrap css :---------- */
.table {
  border: 0.5px solid #BCE8F1;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #BCE8F1;
}

.page-header {
	color: #337AB7;
}

/* ----------: Override bootstrap css :---------- */

/* ----------: Override Flipclock :---------- */
.clock {
    transform-origin: 0 0;
    transform: scale(.3);
}
.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    display: none;
}
/* ----------: Override Flipclock :---------- */


/* ----------: File Upload :---------- */
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
/* ----------: File Upload :---------- */