.profile-label{
	padding: 10px 50px 10px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.user-action-icon {
	color: #337AB7; cursor: pointer;
}
.user-status-enabled-icon {
	color: #337AB7;
}
.user-status-disabled-icon {
	color: #C11B1A;
}
.comm-vert-align-center {
	vertical-align: middle !important;
}