<style>
	.text-limited {
	    display: inline-block;
	    width: 60px;
	    white-space: nowrap;
	    overflow: hidden !important;
	    text-overflow: ellipsis;
	}
	.editable-wrap {
	    width: 100%;
	}
</style>

<div class="panel panel-info" style="margin: 0; border-color: #2C2B2B; background-color: #6e6c6c;">
	<div class="panel-heading" style="background-color: #525151; border-color: #2C2B2B; color: #cccccc;">
		<form class="form-inline" ng-submit="search()" autocomplete="off">
		  <div class="form-group input-group input-group-sm">
		    <span class="input-group-addon"><i class="fa fa-search"></i></span>
		    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="formData.name">
		  </div>	 
		  
		  <div class="form-group input-group input-group-sm">
		  	<span class="input-group-addon">Package</span>
			<select class="form-control" ng-model="formData.package" ng-options="option.id as option.name for option in main.packages" ng-change="search()">
				<option value="">ทั้งหมด</option>
			</select>
		  </div>
		  
		  <button type="button" class="btn btn-outline btn-info btn-sm pull-right" ng-click="createInvoice()">ส่ง Invoice</button>
		  
		</form>
	</div>
</div>

<div class="table-responsive">	
	<table class="table" style="margin: 0;">
		<thead>
			<tr style="color: #cccccc;">
				<th><input type="checkbox" ng-model="checkComAll" ng-change="toggleComAll()">&nbsp;&nbsp;&nbsp;Company Name</th>
				<th>Product Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="gp in groupProducts track by $index" style="background-color: #525151;" ng-show="gp.products.length > 0">
				<td>
					<input type="checkbox" ng-model="gp.check" ng-change="toggleCom(gp)">&nbsp;&nbsp;&nbsp;{{ $index + 1 }}.&nbsp;&nbsp;&nbsp;{{ gp.name }}
				</td>
				<td>
					<table style="width: 100%">
						<tbody>
							<tr ng-repeat="p in gp.products track by $index" ng-style="p.id ? '' : {'color': '#f5c310'}">
								<td style="width: 70%;">
									<input type="checkbox" ng-model="p.check" ng-change="togglePro(gp, p)">&nbsp;&nbsp;&nbsp;
									{{ $index + 1 }}.&nbsp;&nbsp;&nbsp;<span ng-click="takeNote(p)" style="cursor: pointer;">{{ p.name }}</span>
									<span style="color: #3cc1e8; position: absolute; margin-left: 5px; margin-top: 2px;" class="text-limited" title="{{ p.note }}"><i>{{ p.note }}</i></span>
								</td>
								<td style="width: 20%">
									{{ p.perMn ? '/เดือน' : (p.price == null ? '/ครั้ง' : (p.price|number:0)) }}
								</td>
								<td style="width: 10%; text-align: right;">
									<span ng-show="p.id">
										{{ p.package == 1 ? 'เช่า' : 'ขาด' }}
									</span>
									<span ng-hide="p.id" ng-click="deleteNew($index, gp)" style="cursor: pointer;">
										Del
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<div class="form-group input-group input-group-sm" style="margin-bottom: 0; width: 100%;" ng-show="gp.newItemMode">
										<input id="new_{{ $index }}" name="new_{{ $index }}" class="form-control" ng-model="gp.newItem" autocomplete="none">
									    <span class="input-group-addon" style="cursor: pointer;" ng-click="addNewItem(gp)"><i class="fa fa-plus-square"></i></span>
									</div>
											
									<i class="fa fa-plus-square" style="cursor: pointer;" ng-click="gp.newItemMode = true" ng-hide="gp.newItemMode"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
