<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">SMS</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> SMS
                </div>
                <div class="panel-body" style="padding: 3px;">
                
                	<div class="panel panel-info" style="margin: 0;">
						<div class="panel-heading">
							<form class="form-inline" ng-submit="search()" name="searchForm" novalidate>
							
								<div class="row">
									<div class="col-md-12">
										
									  <div class="form-group input-group">
									  	<span class="input-group-addon">สถานะ</span>
									  	<select name="column" class="form-control" ng-model="formData.status" ng-options="option.val as option.name for option in status" ng-change="search()"></select>
									  </div>
									  
									  <div class="form-group input-group col-xs-3">
									   	<span class="input-group-addon"><i class="fa fa-search"></i></span>
									    <input type="text" class="form-control" placeholder="keyword search" ng-model="formData.keyword">
									  </div>
									  
									  <div class="input-group input-daterange">
									  	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					                    <input name="dateFrom" type='text' class="form-control dtPicker" style="width: 130px; font-size: 0.9em;"
					                    	   ng-model="formData.dateFrom" placeholder="วันที่เริ่มต้น" date-parser="dd/MM/yyyy HH:mm" />
						                <span class="input-group-addon">ถึง</span>
					                    <input name="dateTo" type='text' class="form-control dtPicker" style="width: 130px; font-size: 0.9em;"
					                    	   ng-model="formData.dateTo" placeholder="วันที่สิ้นสุด" date-parser="dd/MM/yyyy HH:mm" />
									  </div>
									  
									  &nbsp;&nbsp;
									  <button type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
									  <button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
									  <div class="pull-right">
									  	<i class="fa fa-paper-plane fa-2x user-action-icon-primary" ng-show="group2 || !isDisableNoticePrint" ng-click="printBatchNotice()" title="ส่ง SMS"></i>
									  </div>
									</div>
								</div>
							</form>
						</div>
						
						<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
							<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
								{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ totalItems | number:0 }} {{'pagination.items' | translate}})
							</span>
							<pagination ng-change="pageChanged()" total-items="totalItems"
										first-text="{{'pagination.first' | translate}}"
										previous-text="{{'pagination.previous' | translate}}"
										next-text="{{'pagination.next' | translate}}"
										last-text="{{'pagination.last' | translate}}"
										ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
										max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
										rotate="false" num-pages="numPages" style="margin: auto;" />
							<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
								<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
							</span>
						</div>
					</div> <!-- / panel panel-info -->
				
					<div class="table-responsive" style="padding: 0;">
						<table class="table table-striped table-hover table-bordered" style="margin: 0;">
							<thead>
								<tr>
									<th style="white-space: nowrap; text-align: center; color: #337AB7; width: 10px;">#</th>
									
									<th style="white-space: nowrap; text-align: center; color: #337AB7; width: 10px;">
										สถานะ
									</th>
									
									<th style="white-space: nowrap; text-align: center; width: 10px;">
										วันที่ส่ง
									</th>
									
									<th style="white-space: nowrap; text-align: center; width: 10px;">
										เบอร์ที่ส่ง
									</th>
									
									<th style="white-space: nowrap; text-align: center; width: 10px;">
										Error Message
									</th>
									
									<th style="white-space: nowrap; text-align: center;">
										ข้อความ
									</th>
									
									<th style="white-space: nowrap; text-align: center; width: 10px;">
										ชื่อผู้ส่ง
									</th>
									
									<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center;">
										{{ h.columnNameAlias || h.columnName }}
									</th>
								</tr>
							<thead>
							<!-- <tbody class="noselect"> -->
							<tbody>
								<tr ng-repeat="data in smses track by $index" style="color: #337AB7;">
									<td style="vertical-align: middle; text-align: center;">
										{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}
									</td>
									
									<td style="vertical-align: middle; text-align: center; white-space: nowrap;">
										<i class="fa" ng-class="{'fa-minus': data.status == 0, 'fa-check ': data.status == 1}"></i>
									</td>
									<td style="vertical-align: middle; white-space: nowrap;">{{ data['sentDateTime'] | date:gb_dateTimeFormat }}</td>
									<td style="vertical-align: middle; white-space: nowrap;">ไม่พบเบอร์ปลายทาง</td>
									<td style="vertical-align: middle; white-space: nowrap;">{{ data.message }}</td>
									<td style="vertical-align: middle; white-space: nowrap;">{{ data['address'] }}</td>
									<td style="vertical-align: middle; white-space: nowrap;">{{ createdByLog == 1 ? data.dummyCreatedBy : data['createdByName'] }}</td>									
									<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
										{{ 
										   h.dataType == 'date' ? (data[h.columnName] | date:gb_dateFormat) : 
										   h.dataType == 'num' ? (data[h.columnName] | number:2) : 
										   h.dataType == 'sys_owner' ? (data.dummyCreatedBy = data[h.columnName]) : data[h.columnName] 
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>