
<button type="button" class="btn btn-warning btn-circle" ng-click="askModal()" style="position: absolute; right: 15px; top: -33px;"><i class="fa fa-plus"></i></button>

<div class="form-group input-group well well-sm" style="padding-top: 3px; padding-bottom: 3px; margin-bottom: 3px;">
	<span class="input-group-addon" style="border: 0px; background: none;">
		{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ totalItems | number:0 }} {{'pagination.items' | translate}})
	</span>
	<pagination ng-change="pageChanged()" total-items="totalItems"
				first-text="{{'pagination.first' | translate}}"
				previous-text="{{'pagination.previous' | translate}}"
				next-text="{{'pagination.next' | translate}}"
				last-text="{{'pagination.last' | translate}}"
				ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
				max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
				rotate="false" num-pages="numPages" style="margin: auto;" />
	<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none;">
		<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
	</span>
</div>
<div class="table-responsive col-lg-12" style="padding: 0;">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th style="text-align: center;">ลำดับที่</th>
				<th style="text-align: center;">วันที่ติดตาม</th>
				<th style="text-align: center;">ผลการติดตาม</th>
				<th style="text-align: center;">เบอร์โทร</th>
				<th style="text-align: center;">วันนัด</th>
				<th style="text-align: center;">Act. Code</th>
				<th style="text-align: center;">Res. Code</th>
				<th style="text-align: center;">ผู้บันทึก</th>
			</tr>
		<thead>
		<tbody>
			<!-- <tr ng-repeat="data in taskDetails track by $index" ng-click="view(data.id)" style="cursor: pointer;" ng-class="{info: data.id == idActive}">
				<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
				<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;">
					{{ 
					   h.dataType == 'date' ? (data[h.columnName] | date:format) : 
					   h.dataType == 'num' ? (data[h.columnName] | number:2) : 
					   h.dataType == 'sys_owner' ? data[h.columnName][0].showname : data[h.columnName] 
					   }}
				</td>
			</tr> -->
		</tbody>
	</table>
</div>







<!-- Modal -->
 <div class="modal fade" id="myModal_ask" tabindex="-1" role="dialog">
     <div class="modal-dialog">
     	<form name="saveAskModalForm" ng-submit="askModalSave()" novalidate>
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModalAsk()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">เพิ่มบันทึกการติดตาม</h4>
            </div>
            <div class="modal-body">            	    	
				<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
				  <div class="panel-body">
				  
					
					  <div class="row">
						  <div class="form-group col-lg-8" ng-class="{'has-error':saveAskModalForm.resultText.$invalid}">
						    <label class="control-label">ผลการติดตาม</label>
					  		<textarea name="resultText" class="form-control" style="resize: none;" rows="3" ng-model="askModalObj.trace.resultText" required></textarea>
						  </div>
						  
						  <div class="form-group col-lg-4">
							<label class="control-label">เบอร์โทร</label>
							<input name="userNameShow" class="form-control" ng-model="askModalObj.trace.tel">
						  </div>
					  </div>
					  
					  <div class="row">
						  <div class="col-lg-6">
						  
							<div class="form-group">
								<label class="control-label">วันนัด</label>
				                <div class="input-group">
									<input type="text" tabindex="8" name="birthday" class="form-control" readonly="readonly"
										   data-provide="datepicker" date-parser="dd/MM/yyyy" 
										   data-date-format="dd/mm/yyyy"
										   data-date-autoclose="true"
										   data-date-today-btn="true"
										   data-date-clear-btn="true"
										   data-date-today-highlight="true"
										   data-date-language="th-en" ng-model="askModalObj.trace.appointDate" ng-change="askModalObj.appointDateClick()">
				                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				                </div>
							</div>
							
							  <div class="form-group" ng-class="{'has-error':saveAskModalForm.actionCode.$invalid}">
								<label class="control-label">Act. Code</label>
								<select name="actionCode" class="form-control" ng-model="askModalObj.trace.actionCode" ng-options="option.username as option.showname for option in users" required>
									<option value="">--Action Code--</option>
						  		</select>
							  </div>
							  
						  </div>
						  <div class="col-lg-6">					  
						  
							<div class="form-group" ng-class="{'has-error':saveAskModalForm.nextTimeDate.$invalid}">
								<label class="control-label">วันที่ทำครั้งต่อไป</label>
								<div class="input-group">
									<input type="text" tabindex="8" name="nextTimeDate" class="form-control" readonly="readonly" required
										   data-provide="datepicker" date-parser="dd/MM/yyyy" 
										   data-date-format="dd/mm/yyyy"
										   data-date-autoclose="true"
										   data-date-today-btn="true"
										   data-date-clear-btn="true"
										   data-date-today-highlight="true"
										   data-date-language="th-en" ng-model="askModalObj.trace.nextTimeDate" ng-disabled="askModalObj.trace.appointDate">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							    </div>
							</div>
					
							
							  
							  <div class="form-group" ng-class="{'has-error':saveAskModalForm.resultCode.$invalid}">
								<label class="control-label">Res. Code</label>
								<div class="input-group">
									<div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ askModalObj.init.resultGroup }} <span class="caret"></span></button>
								        <ul class="dropdown-menu">
								          <li ng-repeat="gp in askModalObj.init.resultGroups"><a href="" ng-click="askModalObj.changeResultGroups(gp)">{{ gp }}</a></li>
								        </ul>
									</div>	
									<select name="resultCode" class="form-control" ng-model="askModalObj.trace.resultCode" ng-options="option.username as option.showname for option in users" required>
										<option value="">--Result Code--</option>
							  		</select>
						  		</div>
							  </div>
							  
						  </div>
					  </div>
					
					
					
					
					
					
				  	
				  </div>
				</div>
            </div>
           	<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismissModalAsk()">ปิด</button>
				<button type="submit" class="btn btn-primary" ng-disabled="saveAskModalForm.$invalid">บันทึก</button>
			</div>
         </div>
         </form>
     </div>
 </div>
<!-- / Modal -->