<style>
.editable-wrap {
    width: 100%;
}
.editable-controls {
	width: 100%;
}
</style>

<button type="button" class="btn btn-primary btn-circle" ng-click="askModal()" style="position: absolute; right: 15px; top: -33px;"><i class="fa fa-plus"></i></button>

<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 0 0 3px 0;">
	<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
		{{'pagination.page' | translate}}: {{askModalObj.init.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ askModalObj.init.traceData.totalItems | number:0 }} {{'pagination.items' | translate}})
	</span>
	<pagination ng-change="askModalObj.pageChanged()" total-items="askModalObj.init.traceData.totalItems"
				first-text="{{'pagination.first' | translate}}"
				previous-text="{{'pagination.previous' | translate}}"
				next-text="{{'pagination.next' | translate}}"
				last-text="{{'pagination.last' | translate}}"
				ng-model="askModalObj.init.currentPage" items-per-page="askModalObj.init.itemsPerPage"
				max-size="askModalObj.init.maxSize" class="pagination-sm pull-right" boundary-links="true"
				rotate="false" num-pages="numPages" style="margin: auto;" />
	<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
		<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="askModalObj.init.itemsPerPage" 
				ng-change="askModalObj.changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
	</span>
</div>

<div class="table-responsive" style="padding: 0;">
	<table class="table table-striped table-hover table-bordered" style="margin: 0;">
		<thead>
			<tr style="color: #337AB7;">
				<th style="text-align: center; white-space: nowrap;">ลำดับที่</th>
				<th style="text-align: center; white-space: nowrap;">วันที่ติดตาม</th>
				<th style="text-align: center; white-space: nowrap;">ผลการติดตาม</th>
				<th style="text-align: center; white-space: nowrap;">เบอร์โทร</th>
				<th style="text-align: center; white-space: nowrap;">วันนัด Call</th>
				<th style="text-align: center; white-space: nowrap;">วันนัดชำระ</th>
				<th style="text-align: center; white-space: nowrap;">ยอดนัดชำระ</th>
				<th style="text-align: center; white-space: nowrap;">AC. Code</th>
				<th style="text-align: center; white-space: nowrap;">RSLT. Code</th>
				<th style="text-align: center; white-space: nowrap;">ผู้บันทึก</th>
				<th style="text-align: center; white-space: nowrap;"></th>
			</tr>
		<thead>
		<tbody>
			<tr ng-repeat="data in askModalObj.init.traceData.traceWorks track by $index" ng-style="isEditable ? {'cursor': 'pointer'} : {}" style="color: #337AB7;" ng-click="isEditable ? askModal(data) : ''">
				<td style="text-align: center;  white-space: nowrap;">{{ $index + 1 + ((askModalObj.init.currentPage - 1) * askModalObj.init.itemsPerPage) }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.createdDateTime | date : gb_dateTimeFormat }}</td>
				<td style="white-space: nowrap;">{{ data.resultText }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.tel }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.nextTimeDate | date : gb_dateFormat }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.appointDate | date : gb_dateFormat }}</td>
				<td style="text-align: right; white-space: nowrap;">{{ data.appointAmount | number:2 }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.actionCodeText }}</td>
				<td style="text-align: center; white-space: nowrap;">{{ data.resultCodeText }}</td>
				<td style="white-space: nowrap;">{{ data.createdByText }}</td>
				<td ng-click="askModalObj.deleteTraceDummy($event)" style="cursor: default; text-align: center;  white-space: nowrap;">
					<i class="fa fa-times fa-lg user-action-icon-danger" title="ลบ" ng-click="askModalObj.deleteTrace($event, data.id)" ng-show="isEditable"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-info" style="margin-top: 3px; margin-bottom: 0;">
	<div class="panel-heading">
		<a href="#" e-class="form-control" e-style="width: 100%;" buttons="no" onaftersave="askModalObj.updateComment(askModalObj.comment)" editable-text="askModalObj.comment"> 
			{{ askModalObj.comment || 'บันทึกเพิ่มเติม'}} 
		</a>
	</div>
</div>
