
<div class="panel panel-info" style="margin: 0;">
	<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
		<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
			{{'pagination.page' | translate}}: {{paymentObj.formData.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ paymentObj.paymentTotalItems | number:0 }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="paymentObj.pageChanged()" total-items="paymentObj.paymentTotalItems"
					first-text="{{'pagination.first' | translate}}"
					previous-text="{{'pagination.previous' | translate}}"
					next-text="{{'pagination.next' | translate}}"
					last-text="{{'pagination.last' | translate}}"
					ng-model="paymentObj.formData.currentPage" items-per-page="paymentObj.formData.itemsPerPage"
					max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
					rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
			<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="paymentObj.formData.itemsPerPage" ng-change="paymentObj.changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>

<div class="table-responsive" style="padding: 0;">
	<table class="table table-striped table-hover table-bordered" style="margin: 0;">
		<thead>
			<tr>
				<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
				<th ng-repeat="h in headersPayment" style="white-space: nowrap; text-align: center; color: #337AB7;">
					{{ h.columnNameAlias || h.columnName }}
				</th>
			</tr>
		<thead>
		<!-- <tbody class="noselect"> -->
		<tbody>
			<tr ng-repeat="data in paymentObj.paymentDetails track by $index" style="color: #337AB7;">
				<td style="vertical-align: middle; text-align: center;">
					{{ $index + 1 + ((paymentObj.formData.currentPage - 1) * paymentObj.formData.itemsPerPage) }}
				</td>
				<td ng-repeat="h in headersPayment" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
					{{ 
					   h.dataType == 'date' ? (data[h.columnName] | date:gb_dateTimeFormat) : 
					   h.dataType == 'num' ? (data[h.columnName] | number:2) : data[h.columnName] 
					}}
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div style="position: absolute; bottom: 0; width: 100%; padding-right: 30px;">
	<div class="panel panel-success" style="margin-top: 3px; margin-bottom: 0;">
		<div class="panel-heading">
			<div align="right">
				<span ng-show="!paymentObj.sums">&nbsp;</span>
				<span ng-show="paymentObj.sums"><b>Summary&nbsp;|&nbsp;</b></span>
				<span ng-repeat="sum in paymentObj.sums" class="badge">
					{{ sum.columnName }}: {{ sum.value | number:2 }}
				</span>
			</div>
		</div>
	</div>
</div>
