<style>
.fullwidth .editable-wrap {
    width: 100%;
}
.editable-controls {
	width: 100%;
}
</style>

<div class="panel panel-info" style="margin: 0;">
	<div class="alert alert-info form-group input-group" style="padding-top: 3px; padding-bottom: 3px; margin: 3px;">
		<span class="input-group-addon" style="border: 0px; background: none; color: #337AB7;">
			{{'pagination.page' | translate}}: {{askModalObj.init.currentPage}} {{'pagination.of' | translate}} {{ numPages | number:0 }} ({{'pagination.total' | translate}} {{ forecastObj.totalItems | number:0 }} {{'pagination.items' | translate}})
		</span>
		<pagination ng-change="forecastObj.find()" total-items="forecastObj.totalItems"
					first-text="{{'pagination.first' | translate}}"
					previous-text="{{'pagination.previous' | translate}}"
					next-text="{{'pagination.next' | translate}}"
					last-text="{{'pagination.last' | translate}}"
					ng-model="forecastObj.currentPage" items-per-page="forecastObj.itemsPerPage"
					max-size="forecastObj.maxSize" class="pagination-sm pull-right" boundary-links="true"
					rotate="false" num-pages="numPages" style="margin: auto;" />
		<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none; color: #337AB7;">
			<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="forecastObj.itemsPerPage" 
					ng-change="forecastObj.changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
		</span>
	</div>
</div>

<div class="table-responsive" style="padding: 0; min-height: 223px;">
	<table class="table table-striped table-hover table-bordered" style="margin: 0;">
		<thead>
			<tr style="color: #337AB7;">
				<th style="width: 3%; text-align: center; white-space: nowrap;">#</th>
				<th style="width: 13%; text-align: center; white-space: nowrap;">วันที่บันทึก</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">ประเภทการชำระ</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">งวดที่ชำระ</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">วันนัดชำระ</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">ยอดนัดชำระ</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">เปอร์เซ็นการชำระ</th>
				<th style="width: 10%; text-align: center; white-space: nowrap;">ยอดชำระจริง</th>
				<th style="text-align: center; white-space: nowrap;">หมายเหตุ</th>
				<th style="text-align: center; white-space: nowrap;">ผู้บันทึก</th>
				<th style="width: 80px; text-align: center;"></th>
			</tr>
		<thead>
		<tbody>
			<tr ng-repeat="item in forecastObj.items">
				<td style="white-space: nowrap; text-align: center;">
					<span ng-show="item.id">
						{{ $index + (forecastObj.inserted ? 0 : 1) + ((forecastObj.currentPage - 1) * forecastObj.itemsPerPage) }}
					</span>
				</td>
				<td style="white-space: nowrap; vertical-align: middle; text-align: center;">{{ item.createdDateTime | date:gb_dateTimeFormat }}</td>
		      	<td style="white-space: nowrap; vertical-align: middle;">
			        <span editable-select="item.payTypeName" e-name="payTypeName" e-form="rowform" e-required e-ng-options="s for s in forecastObj.payTypeList" e-ng-change="item.payTypeName = $data">
			        	<!-- {{ item.payTypeId ? (forecastObj.payTypeList | filter:{id:item.payTypeId})[0].name : ''}} -->
			        	{{ item.payTypeName }}
			        </span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: center;">
			        <span editable-text="item.round" e-name="round" e-type="number" e-form="rowform" e-ng-show="item.payTypeName == 'ผ่อนปิด'" e-style="width: 50px;" e-title="งวดที่">
			        	{{ item.payTypeName == 'ผ่อนปิด' ? ((item.round && item.totalRound) ? (item.round + '/' + item.totalRound) : '') : '-' }}
			        </span>&nbsp;
			        <span editable-text="item.totalRound" e-name="totalRound" e-type="number" e-form="rowform" e-ng-show="item.payTypeName == 'ผ่อนปิด'" e-style="width: 50px;" e-title="จำนวนงวดทั้งหมด"></span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: center;" ng-class="{'has-error':appointDateErr}">
			        <span e-title="กรุณากรอกข้อมูล" editable-text="item.appointDate" e-readonly="readonly" e-name="appointDate" e-form="rowform" e-class="form-control" e-date-parser="dd/MM/yyyy" e-my-datepicker="datePickerOptions">
			        	{{ item.appointDate | date:gb_dateFormat }}
			        </span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: right;" ng-class="{'has-error':appointAmountErr}">
			        <span e-title="กรุณากรอกข้อมูล" editable-text="item.appointAmount" e-name="appointAmount" e-form="rowform" e-type="number">{{ item.appointAmount | number:2 }}</span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: right;">
			        <span editable-text="item.forecastPercentage" e-name="forecastPercentage" e-form="rowform" e-type="number">{{ item.forecastPercentage ? (item.forecastPercentage + '%') : '' }}</span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: right;">
			        <span editable-text="item.paidAmount" e-name="paidAmount" e-form="rowform" e-type="number">{{ item.paidAmount ? (item.paidAmount | number:2) : '' }}</span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle;" class="fullwidth">
			        <span editable-text="item.comment" e-name="comment" e-form="rowform">{{ item.comment }}</span>
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle;">
			        {{ item.createdByName }}
		      	</td>
		      	<td style="white-space: nowrap; vertical-align: middle; text-align: center;">
		      		<form editable-form id="rowform" name="rowform" onbeforesave="forecastObj.saveItem($data, item, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="forecastObj.inserted == item">
			          <i class="fa fa-reply fa-lg user-action-icon-primary" ng-disabled="rowform.$waiting" ng-click="item.id != null ? rowform.$cancel() : forecastObj.cancelNewItem(item)" title="ยกเลิก"></i>&nbsp;
			          <i class="fa fa-floppy-o fa-lg user-action-icon-primary" ng-disabled="rowform.$waiting" onclick="$(this.parentElement).submit()" title="บันทึก"></i>
			        </form>
			        <div class="buttons" ng-show="!rowform.$visible">
			          <i class="fa fa-times fa-lg user-action-icon-danger" ng-click="forecastObj.removeItem(item.id)" title="ลบ" ng-show="isEditable"></i>&nbsp;
			          <i class="fa fa-pencil-square-o fa-lg user-action-icon-primary" ng-click="rowform.$show()" title="แก้ใข" ng-show="isEditable"></i>&nbsp;
			        </div>  
		      	</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary btn-circle" ng-click="forecastObj.addItem()" 
			ng-show="forecastObj.currentPage == 1" ng-disabled="forecastObj.inserted" style="margin-top: 10px; margin-left: 8px;">
		<i class="fa fa-plus"></i>
	</button>
</div>
					
               