<style>
	fieldset {
		border: 1px solid #BDC3C7;
		border-radius: 5px 5px 5px 5px;
		padding-left: 30px;
	}
	
	.modal-backdrop {
	    display: none;
	}
	.trace .modal {
	    left: 27%;
	    right: inherit;
	    bottom: inherit;
	    
	    /* left: 50%;
	    right: inherit;
	    top: 50%;
	    bottom: inherit;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%); */
	} 
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	button[name='capture'].ng-hide.ng-hide-animate{
	     display: none !important;
	}
	.updateInput.ng-hide.ng-hide-animate{
	     display: none !important;
	}
	#detail .label {
		white-space: normal;
	}
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	  display: none !important;
	}
</style>
<div id="taskDetailStick" style="z-index: 10; background-color: #FFFFFF">
<div class="row">
	<div class="col-md-12">
		<div class="btn-group pull-left" style="margin: 0px 0 3px 0;">
		  <button type="button" class="btn btn-primary btn-outline" ng-class="{'active': group.btnActive}" ng-repeat="group in groupDatas" ng-click="changeTab(group)">{{ group.name }}</button>
		</div>
		
		<button type="button" style="margin-left: 3px;" class="btn btn-danger btn-outline pull-right" ng-click="disable()" ng-show="isEditable">ยุติการติดตาม</button>
		
		<div class="panel panel-primary pull-right" style="margin-bottom: 0 !important; margin-left: 3px;">
			<div class="panel-body" style="padding: 6px;">
				<div class="checkbox" style="margin: 0;">
				    <label>
				      <input type="checkbox" value="" data-toggle="collapse" data-target="#collapseAccList" checked="checked">ซ่อนบัญชี
				    </label>&nbsp;
				    <label>
				      <input type="checkbox" value="" data-toggle="collapse" data-target="#collapseActionPanel">ซ่อน Action-Panel
				    </label>
				    <!-- <label>
				      &nbsp;<input type="checkbox" ng-model="isEditMode">โหมดแก้ไข
				    </label> -->
			    </div>
		  	</div>
		</div>
		
		<button type="button" style="margin-left: 3px; margin-right: 15px;" name="capture" class="btn btn-warning pull-right" ng-show="isKYS && !kysIsError" ng-click="captureKYS()">
			<i class="fa fa-crop"></i>        
		</button>
		
		<button type="button" name="capture" class="btn btn-success pull-right" ng-disabled="loanType == 'F201'"
				ng-show="isKYS && !kysIsError && loanType" ng-click="goToKYS('F201')" style="margin-left: 3px;">
			กรอ
		</button>
		
		<button type="button" name="capture" class="btn btn-success pull-right" ng-disabled="loanType == 'F101'"
				ng-show="isKYS && !kysIsError && loanType" ng-click="goToKYS('F101')" >
			กยศ
		</button>
		
	</div>
</div>	

<div class="row" ng-hide="isKYS">
	<div id="detail" class="col-xs-12">
		<div style="background-color: #356190; margin-bottom: 1px; height: 238px; overflow-y: auto;" class="comm-rcorners-1" ng-repeat="detail in taskDetail">
			<div ng-repeat="f in fieldName" class="col-xs-3" style="font-size: 13px; padding: 0; color: #E1E2E3;">
				<div class="col-xs-5" 
					 style="text-align: right; margin: 0; min-height: 38px; border-top: 1px solid #234E7C; background-color: #264F7A; word-wrap: break-word; cursor: pointer;"
					 ng-click="showMore(f, detail)">
					<span>{{ f.columnNameAlias || f.columnName }}: </span>
				</div>
				<!-- <div class="col-xs-7" style="padding: 1px 0 0 0; border-top: 1px solid #234E7C;"
					 ng-style="(f.isNotice && !isDisableNoticePrintBtn) ? {'cursor': 'pointer'} : {}" ng-click="(f.isNotice && !isDisableNoticePrintBtn && !isEditMode) ? noticeMenu(detail[f.columnName+'_hide'] || detail[f.columnName], f.noticeForms, detail[f.noticeCusColName]) : ''"> -->
				<div class="col-xs-7" style="padding: 1px 0 0 0; border-top: 1px solid #234E7C; cursor: default;"
					 ng-style="f.isNotice ? {'cursor': 'pointer'} : {}" 
					 ng-dblclick="(f.isNotice && !disNotice) ? noticeMenu(detail[f.columnName+'_hide'] || detail[f.columnName], f.noticeForms, detail[f.noticeCusColName]) : ''">	 
					 
					<!--  <span ng-show="isEditMode">
					 	<span ng-show="f.dataType != 'sys_owner'" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
							 <a href="#" ng-hide="f.dataType != 'date'" e-class="form-control" buttons="no" onaftersave="updateData(f.columnName, f.columnNameAlias, detail[f.columnName], f.dataType, detail)" style="color: #E1E2E3;"
							    e-date-parser="dd/MM/yyyy" editable-text="detail[f.columnName]">
								{{ 
								   (detail[f.columnName] | date:gb_dateFormat) || '-'
								}}
							 </a>
							 <a href="#" ng-hide="f.dataType == 'date'" e-class="form-control" buttons="no" onaftersave="updateData(f.columnName, f.columnNameAlias, detail[f.columnName], f.dataType, detail)" style="color: #E1E2E3;"
							    editable-textarea="detail[f.columnName]">
								{{ 
								   (f.dataType == 'num' ? (detail[f.columnName] | number:2) : detail[f.columnName]) || '-'
								}}
							 </a>
					 	</span>
						 {{
						 	f.dataType == 'sys_owner' ? detail[f.columnName][0].showname : ''
						 }}
					 </span> -->
					 <span ng-class="{label: f.colorBg}" 
					 	   style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis; text-align: left;"
					       ng-style="f.colorBg ? {'color': f.colorFont, 'background-color': f.colorBg, 'font-size': '13px', 'padding-top': '5px', 'padding-bottom': '0', 'min-height': '25px'} : f.colorFont ? {'color': f.colorFont} : '' ">
					   {{ 
						   f.dataType == 'sys_owner' ? detail[f.columnName][0].showname :
						   f.dataType == 'date' ? (detail[f.columnName] | date:gb_dateFormat) : 
						   f.dataType == 'num' ? (detail[f.columnName] | number:2) : detail[f.columnName] 
						}}
					 </span>
					 
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

<div class="row" ng-show="readMore.fieldName">
	<div class="col-xs-12">
		<div class="comm-rcorners-1" style="overflow: auto; background-color: #356190; margin-bottom: 1px; min-height: 64px; font-size: 13px; color: #E1E2E3; cursor: default;">
			<table style="width: 100%;">
				<tr>
					<td style="width:0.1%; white-space: nowrap; padding-left: 15px;">{{ readMore.fieldName }}&nbsp;:&nbsp;</td>
					<td>
						<textarea class="form-control updateInput" rows="2" style="resize: vertical; overflow: visible;" ng-cloak ng-hide="readMore.f.dataType == 'date' || readMore.f.dataType == 'num'" ng-model="readMore.val" ng-readonly="!readMore.isEditMode"></textarea>
						<input type="text" class="form-control updateInput" ng-cloak ng-show="readMore.f.dataType == 'date'" ng-model="readMore.val" date-parser="dd/MM/yyyy" ng-readonly="!readMore.isEditMode" />
						<input type="text" class="form-control updateInput" ng-cloak ng-show="readMore.f.dataType == 'num'" ng-model="readMore.val" ng-readonly="!readMore.isEditMode" />
					</td>
					<td style="width:0.1%; white-space: nowrap; padding-left: 15px; padding-right: 10px; cursor: pointer;" ng-show="readMore.isEditable">
						<i class="fa fa-edit fa-lg" ng-click="readMore.isEditMode = true" ng-show="!readMore.isEditMode" title="แก้ใข"></i>
						<i class="fa fa-floppy-o fa-lg" ng-click="showMoreUpdate()" ng-show="readMore.isEditMode" title="บันทึก"></i>
					</td>
				</tr>
			</table>		
		</div>
	</div>
</div>

</div>

<!-- 
.collapse	    Hides the content
.collapse in	Shows the content 
-->
<!-- <div class="collapse" id="collapseAccList"> -->
	<div class="row" style="margin-top: 3px;" ng-hide="isKYS">
		<div class="col-md-12" ng-include="'./views/working/tab_tasklist.html'"></div>
	</div>
<!-- </div> -->

<div class="row collapse in" id="collapseActionPanel" ng-hide="isKYS">
	<div class="col-md-12">
		<div class="btn-group" style="margin: 3px 0 3px 0;">
		  <button type="button" class="btn btn-primary btn-outline" style="min-width: 70px;" ng-class="{'active': menu.btnActive}" ng-repeat="menu in tabActionMenus" ng-click="changeTabAction(menu)" id="{{ menu.id }}">{{ menu.name }}</button>
		</div>
		
		&nbsp;&nbsp;&nbsp;
		<div class="btn-group" style="margin: 3px 0 3px 0;">			
			<button type="button" class="btn btn-primary btn-outline" title="ก่อนหน้า" style="padding: 5px 13px 5px 5px;" ng-click="nextPrev(false, true)" ng-disabled="(rowIndex == 1) || (taskDetails.length == 0)">
		  		<i class="fa fa-hand-o-left fa-1x"></i>
		  	</button>
		  	<button type="button" class="btn btn-primary btn-outline" title="ถัดไป" style="padding: 5px 5px 5px 13px;" ng-click="nextPrev(true, true)" ng-disabled="(rowIndex == totalItems) || (taskDetails.length == 0)">
		  		<i class="fa fa-hand-o-right fa-1x"></i>
		  	</button>
		
			<span class="btn btn-outline" style="padding: 5px 20px 5px 20px; cursor: default; border-color: #5499C7;">
				&nbsp;
				<!-- <i class="fa fa-bolt fa-1x"></i> -->
			</span>
		
			<!-- &nbsp;&nbsp;&nbsp; -->
		  	<button type="button" class="btn btn-primary" title="{{ isOutOfWorkingTime ? 'นอกเวลาทำงาน' : 'บันทึกผลการติดตาม' }}"
		  		    style="padding: 5px 15px 5px 15px;" ng-click="askModal()" ng-disabled="isOutOfWorkingTime || (taskDetails.length == 0) || askModalObj.isOldTrace || lastTabActionMenuActive.id != 1">
				<i class="fa fa fa-plus fa-1x"></i>
			</button>
		</div>
		
	</div>
	<div class="col-md-12" style="min-height: 315px;" ng-include="lastTabActionMenuActive.url"></div>
</div>




<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">แบบฟอร์ม Notice</h4>
            </div>
            <div class="modal-body">            	    	
				<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
				  <div class="panel-body">
				  	<div class="row" ng-repeat="file in files"> 
				  		<div style="text-align: center;" ng-class="{'col-md-8': haveDateInput, 'col-md-12': !haveDateInput}">
						  	<button class="btn btn-primary col-md-12" type="button" style="margin-bottom: 3px;" ng-click="printNotice(file.id, file.dateInput)" ng-disabled="file.isDateInput && !file.dateInput">{{ file.templateName }}</button>
				  		</div>
				  		<div class="col-md-4" style="text-align: center;" ng-if="file.isDateInput">
				  			<input type="text" class="form-control date-input" placeholder="ข้อมูลวันที่" ng-disabled="false" readonly="readonly" date-parser="dd/MM/yyyy" ng-model="file.dateInput">
				  		</div>
				  	</div>
				  </div>
				</div>
            </div>
           	<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismissModal()">ปิด</button>
			</div>
         </div>
     </div>
 </div>
<!-- / Modal -->

<!-- Modal -->
<div class="trace">
	 <div class="modal fade" id="myModal_ask" tabindex="-1" role="dialog" style="cursor: move;">
	     <div class="modal-dialog">
	     	<form name="saveAskModalForm" ng-submit="askModalObj.askModalSave()" novalidate>
	         <div class="modal-content">
	         	<div class="modal-header">
	                <button type="button" class="close" ng-click="dismissModalAsk()" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">บันทึกผลการติดตาม</h4>
	            </div>
	            <div class="modal-body">            	    	
					<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
					  <div class="panel-body">
					  
						
						  <div class="row">
							  <div class="form-group col-md-8" ng-class="{'has-error':saveAskModalForm.resultText.$invalid}">
							    <label class="control-label">ผลการติดตาม</label>
						  		<textarea name="resultText" class="form-control" style="resize: none;" rows="3" ng-model="askModalObj.trace.resultText" required></textarea>
							  </div>
							  
							  <div class="form-group col-md-4">
								<label class="control-label">เบอร์โทร</label>
								<input name="userNameShow" class="form-control" ng-model="askModalObj.trace.tel">
							  </div>
						  </div>
						  
						  <div class="row">
							  <div class="col-md-6">
								<div class="form-group">
									<label class="control-label">วันนัดชำระ | ยอดนัดชำระ</label>
									<div class="input-group">
									  <input type="text" name="appointDate" class="form-control datepickerAppointDate" style="padding-left: 12px;" 
											   readonly="readonly" date-parser="dd/MM/yyyy" ng-model="askModalObj.trace.appointDate" 
											   ng-change="askModalObj.appointDateClick()">
									  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									  <input type="number" class="form-control" ng-model="askModalObj.trace.appointAmount" ng-disabled="!askModalObj.trace.appointDate" />
									</div>
								</div>
							  </div>
							  <div class="col-md-6">					  
								<div class="form-group">
									<label class="control-label">วันนัด Call</label>
									<div class="input-group">
										<input type="text" name="nextTimeDate" class="form-control datepickerNextTimeDate" style="padding-left: 12px;" 
											   readonly="readonly" date-parser="dd/MM/yyyy" ng-model="askModalObj.trace.nextTimeDate">
					                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								    </div>
								</div>
							  </div>
							  <div class="col-md-12">
							  
							  
							  
							  
							  
							  
							  
							  	<!-- <div class="form-group">
									<label class="control-label">Action Code</label>
									<select name="actionCode" class="form-control" ng-change="askModalObj.actionCodeChanged()" ng-model="askModalObj.trace.actionCode" ng-options="option.id as option.actMeaning + ' [' + option.actCode + ']' for option in askModalObj.init.actionCodes">
										<option value="">--เลือก Action Code--</option>
							  		</select>
							  		<div ng-show="isShowMoreNoticePrintData" style="margin-top: 3px;">
							  			<fieldset>
							  			
							  				<em><u>แบบฟอร์ม Notice</u></em>
							  				<div class="row">
								  				<div class="col-md-4" ng-repeat="nf in askModalObj.noticeFiles">
								  					<div class="radio">
														<label>
													    	<input type="radio" name="noticeFormRadio" 
													    		   ng-model="askModalObj.trace.templateId" ng-value="nf.id">
													    	<small>{{ nf.templateName }}</small>
													  	</label>
								  					</div>
												</div>
							  				</div>
											
											<em><u>ที่อยู่</u></em>
											<div class="radio" ng-repeat="addr in addrList">
												<label>
											    	<input type="radio" name="addressRadio" 
											    		   ng-model="askModalObj.trace.addressNotice" ng-value="addr">
											    		   
											    	<small>{{ addr.addrVal ? addr.addrVal : ('[' + addr.name + '] ' + addr.addr1 + ' ' + addr.addr2 + ' ' + addr.addr3 + ' ' + addr.addr4) }}</small>
											  	</label>
											</div>
							  			</fieldset>
							  		</div>
								</div>
								
								<div class="form-group">
									<label class="control-label">Result Code</label>
									<div class="input-group">
										<div class="input-group-btn">
									        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ askModalObj.init.resultGroup.name }} <span class="caret"></span></button>
									        <ul class="dropdown-menu">
									          <li ng-repeat="gp in askModalObj.init.resultCodeGroups"><a href="" ng-click="askModalObj.changeResultGroups(gp)">{{ gp.name }}</a></li>
									        </ul>
										</div>	
										<select name="resultCode" class="form-control" ng-model="askModalObj.trace.resultCode" ng-options="option.id as option.rstMeaning + ' [' + option.rstCode + ']' for option in askModalObj.init.resultCodes">
											<option value="">--เลือก Result Code--</option>
								  		</select>
							  		</div>
								  </div> -->
								  
								  
								  
								  
								  
								  
								  
								  
								  <div class="row">
									  <div class="col-xs-6" ng-repeat="list in dymList">
									  	<div class="form-group">
											<label class="control-label">{{ list.name }}</label>
											<div class="input-group input-group-sm">
												<div class="input-group-btn" ng-show="list.dymListDetGroup.length > 0">
											        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ list.groupSelected.name }} <span class="caret"></span></button>
											        <ul class="dropdown-menu">
											          <li ng-repeat="gp in list.dymListDetGroup"><a href="" ng-click="changeGroup(list, gp)">{{ gp.name }}</a></li>
											        </ul>
												</div>	
												<span class="input-group-addon" ng-show="list.dymListDetGroup.length == 0"><i class="fa fa-sticky-note-o"></i></span>
												<select name="dymList_{{ $index }}" class="form-control" ng-model="list.dymListVal" ng-options="option._id as (option.code ?  option.meaning + ' [' + option.code + ']' : option.meaning) for option in list.dymListDet">
													<option value="">--Select--</option>
										  		</select>
									  		</div>
										  </div>
									  </div>
								  </div>
								  
								  
								  
								  
								  
								  
								  
								  
							  </div>
						  </div>
						
					  	
					  </div>
					</div>
	            </div>
	           	<div class="modal-footer">
	           		<button type="button" class="btn btn-warning pull-left" ng-click="keepData()">ปิด โดยไม่ล้างข้อมูล</button>
					<button type="button" class="btn btn-default" ng-click="dismissModalAsk()">ปิด</button>
					<button type="button" class="btn btn-success" ng-disabled="!askModalObj.trace.resultText || isOutOfWorkingTime" 
							ng-show="!askModalObj.trace['_id'] && askModalObj.trace.appointDate && askModalObj.trace.appointAmount" ng-click="askModalObj.askModalSave(true)">บันทึก &amp; ประมาณการ</button>
					<button type="submit" class="btn btn-primary" ng-disabled="!askModalObj.trace.resultText || isOutOfWorkingTime">บันทึก</button>
				</div>
	         </div>
	         </form>
	     </div>
	 </div>
 </div>
 
 
 <div class="row" ng-show="isKYS">
	 <iframe id="kys"
					sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
				    class="col-md-12" style="border: 0; min-height: 1000px;"></iframe>
			    
 </div>
 <!-- <div ui-view></div> -->
<!-- / Modal -->
