<style>
	fieldset {
		border: 1px solid #BDC3C7;
		border-radius: 5px 5px 5px 5px;
		padding-left: 30px;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="btn-group pull-left" style="margin: 0px 0 3px 0;">
		  <button type="button" class="btn btn-primary btn-outline" style="min-width: 70px;" ng-class="{'active': group.btnActive}" ng-repeat="group in groupDatas" ng-click="changeTab(group)">{{ group.name }}</button>
		</div>
		
		<div class="panel panel-primary" style="position: absolute; right: 15px;">
			<div class="panel-body" style="padding: 6px;">
				<div class="checkbox" style="margin: 0;">
				    <label>
				      <input type="checkbox" value="" data-toggle="collapse" data-target="#collapseAccList" checked="checked">ซ่อน Account-List
				    </label>&nbsp;
				    <label>
				      <input type="checkbox" value="" data-toggle="collapse" data-target="#collapseActionPanel">ซ่อน Action-Panel
				    </label>
				    <label ng-show="group1">
				      &nbsp;<input type="checkbox" ng-model="isEditMode">Edit mode
				    </label>
			    </div>
		  	</div>
		</div>
	</div>
</div>	

<div class="row">
	<div class="col-lg-12">
		<div style="background-color: #356190; margin-bottom: 1px; height: 238px; overflow-y: auto;" class="comm-rcorners-1" ng-repeat="detail in taskDetail">
			<div ng-repeat="f in fieldName" class="col-lg-3" style="font-size: 13px; padding: 0; color: #E1E2E3;">
				<div class="col-lg-5" style="text-align: right; margin: 0; min-height: 38px; border-top: 1px solid #234E7C; background-color: #264F7A; word-wrap: break-word;">
					<span>{{ f.columnNameAlias || f.columnName }}: </span>
				</div>
				<div class="col-lg-7" style="padding: 1px 0 0 0; background-color: #356190; border-top: 1px solid #234E7C;"
					 ng-style="(f.isNotice && !isDisableNoticePrintBtn) ? {'cursor': 'pointer'} : {}" ng-click="(f.isNotice && !isDisableNoticePrintBtn && !isEditMode) ? noticeMenu(detail[f.columnName+'_hide'] || detail[f.columnName]) : ''">
					 
					 <span ng-show="group1 && isEditMode">
					 	<span ng-show="f.dataType != 'sys_owner'">
							 <a href="#" ng-hide="f.dataType != 'date'" e-class="form-control" buttons="no" onaftersave="updateData(f.columnName, detail[f.columnName], f.dataType)" style="color: #E1E2E3;"
							    e-date-parser="dd/MM/yyyy" editable-text="detail[f.columnName]">
								{{ 
								   (detail[f.columnName] | date:gb_dateFormat) || '-'
								}}
							 </a>
							 <a href="#" ng-hide="f.dataType == 'date'" e-class="form-control" buttons="no" onaftersave="updateData(f.columnName, detail[f.columnName], f.dataType)" style="color: #E1E2E3;"
							    editable-text="detail[f.columnName]">
								{{ 
								   (f.dataType == 'num' ? (detail[f.columnName] | number:2) : detail[f.columnName]) || '-'
								}}
							 </a>
					 	</span>
						 {{
						 	f.dataType == 'sys_owner' ? detail[f.columnName][0].showname : ''
						 }}
					 </span>
					 <span ng-show="!isEditMode">
					   {{ 
						   f.dataType == 'sys_owner' ? detail[f.columnName][0].showname :
						   f.dataType == 'date' ? (detail[f.columnName] | date:gb_dateFormat) : 
						   f.dataType == 'num' ? (detail[f.columnName] | number:2) : detail[f.columnName] 
						}}
					 </span>
					 
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

<!-- 
.collapse	    Hides the content
.collapse in	Shows the content 
-->
<div class="collapse" id="collapseAccList">
	<div class="row" style="margin-top: 3px; min-height: 325px;">
		<div class="col-lg-12" ng-include="'./views/working/tab_tasklist.html'"></div>
	</div>
</div>

<div class="row collapse in" id="collapseActionPanel">
	<div class="col-lg-12">
		<div class="btn-group" style="margin: 3px 0 3px 0;">
		  <button type="button" class="btn btn-primary btn-outline" style="min-width: 70px;" ng-class="{'active': menu.btnActive}" ng-repeat="menu in tabActionMenus" ng-click="changeTabAction(menu)" id="{{ menu.id }}">{{ menu.name }}</button>
		</div>
		
		&nbsp;&nbsp;&nbsp;
		<div class="btn-group" style="margin: 3px 0 3px 0;">
		  <button type="button" class="btn btn-success btn-outline" style="padding: 1px 13px 1px 3px;" ng-click="nextPrev(false, true)" ng-disabled="firstTaskDetailId == idActive">
		  	<i class="fa fa-caret-square-o-left fa-2x"></i>
		  </button>
		  <button type="button" class="btn btn-success btn-outline" style="padding: 1px 3px 1px 13px;" ng-click="nextPrev(true, true)" ng-disabled="lastTaskDetailId == idActive">
		  	<i class="fa fa-caret-square-o-right fa-2x"></i>
		  </button>
		</div>
		
	</div>
	<div class="col-lg-12" style="min-height: 315px;" ng-include="lastTabActionMenuActive.url"></div>
</div>




<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">แบบฟอร์ม Notice</h4>
            </div>
            <div class="modal-body">            	    	
				<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
				  <div class="panel-body">
				  	<div class="row" ng-repeat="file in files"> 
				  		<div style="text-align: center;" ng-class="{'col-lg-8': haveDateInput, 'col-lg-12': !haveDateInput}">
						  	<button class="btn btn-primary col-lg-12" type="button" style="margin-bottom: 3px;" ng-click="printNotice(file.id, file.dateInput)" ng-disabled="file.isDateInput && !file.dateInput">{{ file.templateName }}</button>
				  		</div>
				  		<div class="col-lg-4" style="text-align: center;" ng-if="file.isDateInput">
				  			<input type="text" class="form-control date-input" placeholder="ข้อมูลวันที่" ng-disabled="false" readonly="readonly" date-parser="dd/MM/yyyy" ng-model="file.dateInput">
				  		</div>
				  	</div>
				  </div>
				</div>
            </div>
           	<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismissModal()">ปิด</button>
			</div>
         </div>
     </div>
 </div>
<!-- / Modal -->

<!-- Modal -->
 <div class="modal fade" id="myModal_ask" tabindex="-1" role="dialog">
     <div class="modal-dialog">
     	<form name="saveAskModalForm" ng-submit="askModalObj.askModalSave()" novalidate>
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModalAsk()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">บันทึกผลการติดตาม</h4>
            </div>
            <div class="modal-body">            	    	
				<div class="panel panel-default" style="margin-bottom: 0; margin-top: 0;">
				  <div class="panel-body">
				  
					
					  <div class="row">
						  <div class="form-group col-lg-8" ng-class="{'has-error':saveAskModalForm.resultText.$invalid}">
						    <label class="control-label">ผลการติดตาม</label>
					  		<textarea name="resultText" class="form-control" style="resize: none;" rows="3" ng-model="askModalObj.trace.resultText" required></textarea>
						  </div>
						  
						  <div class="form-group col-lg-4">
							<label class="control-label">เบอร์โทร</label>
							<input name="userNameShow" class="form-control" ng-model="askModalObj.trace.tel">
						  </div>
					  </div>
					  
					  <div class="row">
						  <div class="col-lg-6">
							<div class="form-group">
								<label class="control-label">วันนัดชำระ | ยอดนัดชำระ</label>
								<div class="input-group">
								  <input type="text" name="appointDate" class="form-control datepickerAppointDate" style="padding-left: 12px;" 
										   readonly="readonly" date-parser="dd/MM/yyyy" ng-model="askModalObj.trace.appointDate" 
										   ng-change="askModalObj.appointDateClick()">
								  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								  <input type="number" class="form-control" ng-model="askModalObj.trace.appointAmount" ng-disabled="!askModalObj.trace.appointDate" />
								</div>
							</div>
						  </div>
						  <div class="col-lg-6">					  
							<div class="form-group">
								<label class="control-label">วันนัด Call</label>
								<div class="input-group">
									<input type="text" name="nextTimeDate" class="form-control datepickerNextTimeDate" style="padding-left: 12px;" 
										   readonly="readonly" date-parser="dd/MM/yyyy" ng-model="askModalObj.trace.nextTimeDate">
				                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							    </div>
							</div>
						  </div>
						  <div class="col-lg-12">
						  
						  
						  
						  
						  
						  
						  
						  	<!-- <div class="form-group">
								<label class="control-label">Action Code</label>
								<select name="actionCode" class="form-control" ng-change="askModalObj.actionCodeChanged()" ng-model="askModalObj.trace.actionCode" ng-options="option.id as option.actMeaning + ' [' + option.actCode + ']' for option in askModalObj.init.actionCodes">
									<option value="">--เลือก Action Code--</option>
						  		</select>
						  		<div ng-show="isShowMoreNoticePrintData" style="margin-top: 3px;">
						  			<fieldset>
						  			
						  				<em><u>แบบฟอร์ม Notice</u></em>
						  				<div class="row">
							  				<div class="col-lg-4" ng-repeat="nf in askModalObj.noticeFiles">
							  					<div class="radio">
													<label>
												    	<input type="radio" name="noticeFormRadio" 
												    		   ng-model="askModalObj.trace.templateId" ng-value="nf.id">
												    	<small>{{ nf.templateName }}</small>
												  	</label>
							  					</div>
											</div>
						  				</div>
										
										<em><u>ที่อยู่</u></em>
										<div class="radio" ng-repeat="addr in addrList">
											<label>
										    	<input type="radio" name="addressRadio" 
										    		   ng-model="askModalObj.trace.addressNotice" ng-value="addr">
										    		   
										    	<small>{{ addr.addrVal ? addr.addrVal : ('[' + addr.name + '] ' + addr.addr1 + ' ' + addr.addr2 + ' ' + addr.addr3 + ' ' + addr.addr4) }}</small>
										  	</label>
										</div>
						  			</fieldset>
						  		</div>
							</div>
							
							<div class="form-group">
								<label class="control-label">Result Code</label>
								<div class="input-group">
									<div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ askModalObj.init.resultGroup.name }} <span class="caret"></span></button>
								        <ul class="dropdown-menu">
								          <li ng-repeat="gp in askModalObj.init.resultCodeGroups"><a href="" ng-click="askModalObj.changeResultGroups(gp)">{{ gp.name }}</a></li>
								        </ul>
									</div>	
									<select name="resultCode" class="form-control" ng-model="askModalObj.trace.resultCode" ng-options="option.id as option.rstMeaning + ' [' + option.rstCode + ']' for option in askModalObj.init.resultCodes">
										<option value="">--เลือก Result Code--</option>
							  		</select>
						  		</div>
							  </div> -->
							  
							  
							  
							  
							  
							  
							  
							  
							  <div class="row">
								  <div class="col-xs-6" ng-repeat="list in dymList">
								  	<div class="form-group">
										<label class="control-label">{{ list.name }}</label>
										<div class="input-group input-group-sm">
											<div class="input-group-btn" ng-show="list.dymListDetGroup.length > 0">
										        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ list.groupSelected.name }} <span class="caret"></span></button>
										        <ul class="dropdown-menu">
										          <li ng-repeat="gp in list.dymListDetGroup"><a href="" ng-click="changeGroup(list, gp)">{{ gp.name }}</a></li>
										        </ul>
											</div>	
											<span class="input-group-addon" ng-show="list.dymListDetGroup.length == 0"><i class="fa fa-sticky-note-o"></i></span>
											<select name="dymList_{{ $index }}" class="form-control" ng-model="list.dymListVal" ng-options="option._id as (option.code ?  option.meaning + ' [' + option.code + ']' : option.meaning) for option in list.dymListDet">
												<option value="">--Select--</option>
									  		</select>
								  		</div>
									  </div>
								  </div>
							  </div>
							  
							  
							  
							  
							  
							  
							  
							  
						  </div>
					  </div>
					
				  	
				  </div>
				</div>
            </div>
           	<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="dismissModalAsk()">ปิด</button>
				<button type="submit" class="btn btn-primary" ng-disabled="!askModalObj.trace.resultText">บันทึก</button>
			</div>
         </div>
         </form>
     </div>
 </div>
<!-- / Modal -->
