<style>
.order-form input::-webkit-outer-spin-button,
.order-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

<div>
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">ข้อมูลการซื้อ</h1>
		</div>
	</div>
	
    <!-- <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body"> -->
                
                
                
                	<div class="row">
						<div class="col-xs-4" style="min-width: 300px;">
							<div class="panel panel-default">
				                <div class="panel-body">
				                
									<div class="form-group input-group">
										<span class="input-group-addon">งวดที่</span>
								      	<select class="form-control" ng-model="formData.period" ng-options="option._id as option.periodDateTime | date:'dd/MM/yyyy' for option in periods" ng-change="changePeriod()">
								  	  	</select>
								      <div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px;">{{ periodMode.name }} <span class="caret"></span></button>
								        <ul class="dropdown-menu dropdown-menu-right">
								          <li ng-repeat="p in periodModes" ng-click="periodModeChange(p)"><a href="">{{ p.name }}</a></li>
								        </ul>
								      </div>
								    </div>
									
				                	<div class="form-group input-group" ng-hide="periodMode.id == 1">		                	
					                	<input name="period" type='text' class="form-control dtPicker" 
									       style="font-size: 0.9em;" ng-model="formData.newPeriod" date-parser="dd/MM/yyyy" />
									  	<span class="input-group-addon" title="บันทึก" style="cursor: pointer;" ng-click="addPeriod()">
									  		<i class="fa fa-floppy-o"></i>
									  	</span>
				                	</div>
				                	
				                	
				                	<hr />
				                	<div style="text-align: center; font-weight: 700;">บันทึกข้อมูลการซื้อ</div>
				                	<br />
				                	
									<form class="form-horizontal order-form">
										<fieldset ng-disabled="isFormDisable">
										<div class="form-group">
											<label class="col-xs-3 control-label input-sm">ชื่อ</label>
										    <div class="col-xs-9">
										    	<input type="text" tabindex="1" class="form-control input-sm" placeholder="ชื่อผู้ซื้อ" ng-model="formData.name" ng-focus="formData.name = null">
										    </div>
										</div>
										<div class="form-group">
										    <label class="col-xs-3 control-label input-sm">เลขที่ซื้อ</label>
										    <div class="col-xs-9">
												<input type="text" tabindex="2" maxlength="5" class="form-control input-sm" placeholder="เลขที่ซื้อ" ng-model="formData.orderNumber" ng-keyup="chkOrderNumber()">
										    </div>
										</div>
										<div class="form-group" ng-show="formData.orderNumber.length > 1">
										    <label class="col-xs-3 control-label input-sm">บน</label>
										    <div class="col-xs-9">
												<div class="input-group">
													<input type="number" tabindex="3" class="form-control input-sm" placeholder="จำนวนเงินที่ซื้อ" ng-model="formData.bon">
												    <span class="input-group-addon">
												        <input type="checkbox" title="กลับทุกตำแหน่ง" ng-model="formData.bonSw" ng-disabled="formData.orderNumber.length > 3">
												    </span>
												</div>
										    </div>
										</div>
										<div class="form-group" ng-show="formData.orderNumber.length == 2">
										    <label class="col-xs-3 control-label input-sm">ล่าง</label>
										    <div class="col-xs-9">
												<div class="input-group">
													<input type="number" tabindex="4" class="form-control input-sm" placeholder="จำนวนเงินที่ซื้อ" ng-model="formData.lang">
												    <span class="input-group-addon">
												        <input type="checkbox" title="กลับทุกตำแหน่ง" ng-model="formData.langSw">
												    </span>
												</div>
										    </div>
										</div>
										<div class="form-group" ng-show="formData.orderNumber.length == 3">
										    <label class="col-xs-3 control-label input-sm">โต๊ด</label>
										    <div class="col-xs-9">
												<input type="number" tabindex="5" class="form-control input-sm" placeholder="จำนวนเงินที่ซื้อ" ng-model="formData.tod">
										    </div>
										</div>
										<div class="form-group" ng-show="formData.orderNumber.length > 0">
										    <label class="col-xs-3 control-label input-sm">ลอย</label>
										    <div class="col-xs-9">
												<input type="number" tabindex="6" class="form-control input-sm" placeholder="จำนวนเงินที่ซื้อ" ng-model="formData.loy">
										    </div>
										</div>
												
										<button type="button" tabindex="6" class="btn btn-primary pull-right" ng-click="saveOrder()"
											ng-disabled="!(formData.name && formData.orderNumber && (formData.bon || formData.lang || formData.loy))">บันทึก</button>
										
										</fieldset>
									</form>
				                </div>
				            </div>
				            
				            <div class="panel panel-default">
				                <div class="panel-body">
				            		<div style="text-align: center; font-weight: 700;">ผลสลาก</div>
				            		
				            		<br />
				            		
				            		<form class="form-horizontal order-form">
										<div class="form-group">
											<label class="col-xs-3 control-label input-sm">3 ตัวบน</label>
										    <div class="col-xs-9">
										    	<input type="text" tabindex="7" class="form-control input-sm" placeholder="3 ตัวบน" ng-model="formData.result3" ng-change="saveResult()">
										    </div>
										</div>
										<div class="form-group">
											<label class="col-xs-3 control-label input-sm">2 ตัวล่าง</label>
										    <div class="col-xs-9">
										    	<input type="text" tabindex="8" class="form-control input-sm" placeholder="3 ตัวล่าง" ng-model="formData.result2" ng-change="saveResult()">
										    </div>
										</div>
									</form>
				            		
				                </div>
			                </div>
			                
						</div>
					
						<div class="col-xs-8">
							<div class="panel panel-default">
				                <div class="panel-body">
				                
					                <div class="form-group input-group">
										<span class="input-group-addon">ชื่อผู้ซื้อ</span>
								      	<select class="form-control" ng-model="formData.orderName" ng-options="option for option in orderNameLst" ng-change="changeOrderName()">
								  	  		<option value="">--ทั้งหมด--</option>
								  	  	</select>
							  	  		<div class="input-group-addon">
							  	  			<span>ยอดซื้อรวม : </span>
							  	  			<span style="font-weight: 700; text-decoration: underline;">{{ totalPriceSumAll | number:2 }}</span>
							  	  		</div>
								  	  	<select class="form-control" ng-model="formData.discount" ng-change="changePercent()">
								  	  		<option value="10">10%</option>
								  	  		<option value="15">15%</option>
								  	  		<option value="20">20%</option>
								  	  	</select>
								  	  	<div class="input-group-addon">
							  	  			<span>หลังส่วนลด : </span>
							  	  			<span style="font-weight: 700; text-decoration: underline;">{{ (totalPriceSumAll - ((formData.discount/100) * totalPriceSumAll)) | number:2 }}</span>
							  	  		</div>
								    </div>
				                	
				                	<div style="margin-bottom: 5px;">
				                		<i class="fa fa-file-archive-o fa-2x pull-right" style="cursor: pointer; color: #337ab7;" title="Export" ng-click="exportOrder()"></i>
				                	</div>
				                	
									<ul class="nav nav-tabs" style="font-size: 12px;">
					                     <li ng-class="{'active': tabActived == 0}" ng-click="changeTab(0)"><a href="" data-toggle="tab">รายการซื้อ</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 1}" ng-click="changeTab(1)"><a href="" data-toggle="tab">สรุป 3</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 2}" ng-click="changeTab(2)"><a href="" data-toggle="tab">สรุป 2 บน</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 3}" ng-click="changeTab(3)"><a href="" data-toggle="tab">สรุป 2 ล่าง</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 4}" ng-click="changeTab(4)"><a href="" data-toggle="tab">สรุปลอย</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 5}" ng-click="changeTab(5)"><a href="" data-toggle="tab">สรุปโต๊ด</a>
					                     </li>
					                     <li ng-class="{'active': tabActived == 6}" ng-click="changeTab(6)"><a href="" data-toggle="tab">เช็คผล</a>
					                     </li>
					                 </ul>
									
									<div class="tab-content">
										<div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 0}">
					                         <div style="overflow: auto; height: 422px;" id="orderDataInput">
					                             <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>วันที่</td>
															<td>ชื่อ</td>
															<td>เลขที่ซื้อ</td>
															<td>หมายเหตุ</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord.createdDateTime | date:'dd/MM/yyyy HH:mm' }}</td>
															<td>{{ ord.name }}</td>
															<td>{{ ord.symBol }}</td>
															<td>{{ ord.note }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>	 
					                     </div>
										
					                     <div class="tab-pane fade" id="home-pills" ng-class="{'active in': tabActived == 1}">
					                         <div style="overflow: auto; height: 422px;">
					                             <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>เลขที่ซื้อ</td>
															<td>ราคารวม</td>
															<td>จำนวน</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord._id }}</td>
															<td>{{ ord.totalPrice | number:2}}</td>
															<td>{{ ord.count | number:0 }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>
					                         
					                         <div class="panel panel-default" style="margin-bottom: 0;">
								                 <div class="panel-body">
								                
													 <div style="font-weight: 700;" class="pull-right">
														<span style="text-align: center; text-decoration: underline;">รวม</span>
														{{ totalPriceSum | number:2 }}
													  </div>		
													  
								                 </div>
							                 </div>
											 
					                     </div>
					                     <div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 2}">
					                         <div style="overflow: auto; height: 422px;">
						                         <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>เลขที่ซื้อ</td>
															<td>ราคารวม</td>
															<td>จำนวน</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord._id }}</td>
															<td>{{ ord.totalPrice | number:2}}</td>
															<td>{{ ord.count | number:0 }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>
					                         
					                         <div class="panel panel-default" style="margin-bottom: 0;">
								                 <div class="panel-body">
								                
													 <div style="font-weight: 700;" class="pull-right">
														<span style="text-align: center; text-decoration: underline;">รวม</span>
														{{ totalPriceSum | number:2 }}
													  </div>		
													  
								                 </div>
							                 </div>
					                     </div>
					                     <div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 3}">
					                         <div style="overflow: auto; height: 422px;">
						                         <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>เลขที่ซื้อ</td>
															<td>ราคารวม</td>
															<td>จำนวน</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord._id }}</td>
															<td>{{ ord.totalPrice | number:2}}</td>
															<td>{{ ord.count | number:0 }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>
					                         <div class="panel panel-default" style="margin-bottom: 0;">
								                 <div class="panel-body">
								                
													 <div style="font-weight: 700;" class="pull-right">
														<span style="text-align: center; text-decoration: underline;">รวม</span>
														{{ totalPriceSum | number:2 }}
													  </div>		
													  
								                 </div>
							                 </div>
					                     </div>
					                     <div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 4}">
					                         <div style="overflow: auto; height: 422px;">
						                         <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>เลขที่ซื้อ</td>
															<td>ราคารวม</td>
															<td>จำนวน</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord._id }}</td>
															<td>{{ ord.totalPrice | number:2}}</td>
															<td>{{ ord.count | number:0 }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>
					                         <div class="panel panel-default" style="margin-bottom: 0;">
								                 <div class="panel-body">
								                
													 <div style="font-weight: 700;" class="pull-right">
														<span style="text-align: center; text-decoration: underline;">รวม</span>
														{{ totalPriceSum | number:2 }}
													  </div>		
													  
								                 </div>
							                 </div>
					                     </div>
					                     <div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 5}">
					                         <div style="overflow: auto; height: 422px;">
						                         <br />
						                         <table class="table table-hover">
													<thead>
														<tr>
															<td>#</td>
															<td>เลขที่ซื้อ</td>
															<td>ราคารวม</td>
															<td>จำนวน</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="ord in orderData">
															<td>{{ $index + 1 }}</td>
															<td>{{ ord._id }}</td>
															<td>{{ ord.totalPrice | number:2}}</td>
															<td>{{ ord.count | number:0 }}</td>
														</tr>
													</tbody>
												</table>
					                         </div>
					                         <div class="panel panel-default" style="margin-bottom: 0;">
								                 <div class="panel-body">
								                
													 <div style="font-weight: 700;" class="pull-right">
														<span style="text-align: center; text-decoration: underline;">รวม</span>
														{{ totalPriceSum | number:2 }}
													  </div>		
													  
								                 </div>
							                 </div>
					                     </div>
					                     <div class="tab-pane fade" id="profile-pills" ng-class="{'active in': tabActived == 6}">
					                         <div>
						                        <br />
						                       	<div class="panel panel-default">
									            	<div class="panel-body">
						                         		<div><span class="pull-right" style="font-weight: 700; text-decoration: underline;">3 ตัวบน</span></div>
								                         <table class="table table-hover">
															<thead>
																<tr>
																	<td>#</td>
																	<td>ชื่อ</td>
																	<td>ราคาซื้อ</td>
																	<td>ราคาจ่าย</td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="res in result3">
																	<td>{{ $index + 1 }}</td>
																	<td>{{ res._id }}</td>
																	<td>{{ res.price }}</td>
																	<td>-</td>
																</tr>
															</tbody>
														</table>									                	
									                </div>
												</div>
												
												<div class="panel panel-default">
									            	<div class="panel-body">
						                         		<div><span class="pull-right" style="font-weight: 700; text-decoration: underline;">โต๊ด</span></div>
								                         <table class="table table-hover">
															<thead>
																<tr>
																	<td>#</td>
																	<td>ชื่อ</td>
																	<td>ราคาซื้อ</td>
																	<td>ราคาจ่าย</td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="res in resultTod">
																	<td>{{ $index + 1 }}</td>
																	<td>{{ res._id }}</td>
																	<td>{{ res.todPrice }}</td>
																	<td>-</td>
																</tr>
															</tbody>
														</table>									                	
									                </div>
												</div>
												
												<div class="panel panel-default">
									            	<div class="panel-body">
						                         		<div><span class="pull-right" style="font-weight: 700; text-decoration: underline;">2 ตัวบน</span></div>
								                         <table class="table table-hover">
															<thead>
																<tr>
																	<td>#</td>
																	<td>ชื่อ</td>
																	<td>ราคาซื้อ</td>
																	<td>ราคาจ่าย</td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="res in resultBon2">
																	<td>{{ $index + 1 }}</td>
																	<td>{{ res._id }}</td>
																	<td>{{ res.price }}</td>
																	<td>-</td>
																</tr>
															</tbody>
														</table>									                	
									                </div>
												</div>
												
												<div class="panel panel-default">
									            	<div class="panel-body">
						                         		<div><span class="pull-right" style="font-weight: 700; text-decoration: underline;">2 ตัวล่าง</span></div>
								                         <table class="table table-hover">
															<thead>
																<tr>
																	<td>#</td>
																	<td>ชื่อ</td>
																	<td>ราคาซื้อ</td>
																	<td>ราคาจ่าย</td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="res in resultLang2">
																	<td>{{ $index + 1 }}</td>
																	<td>{{ res._id }}</td>
																	<td>{{ res.price }}</td>
																	<td>-</td>
																</tr>
															</tbody>
														</table>									                	
									                </div>
												</div>
												
												<div class="panel panel-default">
									            	<div class="panel-body">
						                         		<div><span class="pull-right" style="font-weight: 700; text-decoration: underline;">ลอย</span></div>
								                         <table class="table table-hover">
															<thead>
																<tr>
																	<td>#</td>
																	<td>ชื่อ</td>
																	<td>ราคาซื้อ</td>
																	<td>ราคาจ่าย</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="4" style="text-align: center;">Waiting</td>
																</tr>
															</tbody>
														</table>									                	
									                </div>
												</div>
					                         </div>
					                     </div>
					                 </div>			                	
				                </div>
				            </div>
						</div>
                	</div>					
                	
                	
                <!-- </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div> -->
    
    
</div>