<div>
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">ข้อมูลการซื้อ</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                	<div class="row">
						<div class="col-xs-4" style="min-width: 300px;">
							<div class="panel panel-default">
				                <div class="panel-body">
				                
									<div class="form-group input-group">
										<span class="input-group-addon">งวดที่</span>
								      <select name="column" class="form-control" ng-model="formData.period" ng-options="option._id as option.periodDateTime | date:'dd/MM/yyyy' for option in periods" ng-change="searchBtn()">
								  		</select>
								      <div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px;">{{ periodMode.name }} <span class="caret"></span></button>
								        <ul class="dropdown-menu dropdown-menu-right">
								          <li ng-repeat="p in periodModes" ng-click="periodModeChange(p)"><a href="">{{ p.name }}</a></li>
								        </ul>
								      </div>
								    </div>
									
				                	<div class="form-group input-group" ng-hide="periodMode.id == 1">		                	
					                	<input name="period" type='text' class="form-control dtPicker" 
									       style="font-size: 0.9em;" ng-model="formData.newPeriod" date-parser="dd/MM/yyyy" />
									  	<span class="input-group-addon" title="บันทึก" style="cursor: pointer;" ng-click="addPeriod()">
									  		<i class="fa fa-floppy-o"></i>
									  	</span>
				                	</div>
									
				                </div>
				            </div>
						</div>
					
						<div class="col-xs-8">
							<div class="panel panel-default">
				                <div class="panel-body">
									Detail
									
									
									
								       
				                	
				                </div>
				            </div>
						</div>
                	</div>					
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>