<style>
.my-cus.ng-hide {
    display: block!important;
    visibility: hidden;
}
</style>
<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Tools</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<i class="fa fa-list-alt fa-fw"></i> {{ titlePanel || 'Tool Menu' }}
                    <button type="button" class="btn btn-info btn-circle btn-lg" ng-show="isShowBack"
                    		style="position: absolute; right: 0px; top: -5px;" ng-click="gotoSelected()">
                    	<i class="fa fa-long-arrow-left"></i>
                    </button>
                </div>
                <div class="panel-body">
	            
                	<div ui-view>
                		<div class="row">
	        
					        <tools-menu comments="Excel to Text" colour="red" type="random" 
					        			goto="dashboard.tools.fileConvert({type: 1, desc: 'Excel to Text'})" 
					        			desc="แปลง excel file เป็น text file"></tools-menu>
					        			
					        <tools-menu comments="Document to Image" colour="red" type="random" 
					        			goto="dashboard.tools.fileConvert({type: 2, desc: 'Document to Image'})" 
					        			desc="แปลงไฟล์เอกสารเป็นรูปภาพ"></tools-menu>
					
					    </div>
                	</div>
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>