
<button class="button button-3d button-box button-action"><img src="/backend/app/images/thailand-2.png"></button>
<div id="thairegion-slideout_inner">

		<!-- <div class="col-lg-12">
		  	<div class="form-group">
				<label class="control-label">จังหวัด</label>
				<select name="actionCode" class="form-control" ng-model="askModalObj.trace.actionCode" ng-options="option.id as option.actMeaning + ' [' + option.actCode + ']' for option in askModalObj.init.actionCodes">
					<option value="">--เลือก Action Code--</option>
		  		</select>
			</div>
		</div> -->

	
	<selectize config='provinceConfig' options='provinceOptions' ng-model="provinceId"></selectize>
	<selectize config='amphureConfig' options='amphureOptions' ng-model="amphureId"></selectize>
	<selectize config='districtConfig' options='districtOptions' ng-model="districtId"></selectize>
	

</div>