<div class="row" style="margin-top: 3px;">
	<div class="col-md-4">
         <div class="panel panel-yellow" style="margin: 0;">
             <div class="panel-heading">บัญชีที่กำลังเช็ค <i class="fa fa-refresh fa-spin fa-fw"></i></div>
             <div class="panel-body" style="padding: 3px;">
                 
                 <div class="table-responsive">
					<table class="table table-striped table-hover table-bordered" style="margin: 0;">
						<thead>
							<tr>
								<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
								<th style="white-space: nowrap; text-align: center; color: #337AB7;"></th>
								<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7;">
										{{ h.columnNameAlias || h.columnName }}
								</th>
							</tr>
						<thead>
						<tbody>
							<tr ng-repeat="data in checkList_1" style="color: #337AB7; cursor: pointer;" ng-click="goToTask(data.taskDetailFull['_id'])">
								<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
								<td style="vertical-align: middle; text-align: center;">
									<i class="fa fa-times user-action-icon-danger" ng-click="deleteChkLstItem(data['_id'])" title="ลบ"></i>				
								</td>
								<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
									{{ 
									   h.dataType == 'date' ? (data.taskDetailFull[h.columnName] | date:gb_dateFormat) : 
									   h.dataType == 'sys_owner' ? data.taskDetailFull[h.columnName][0].showname : 
									   h.dataType == 'num' ? (data.taskDetailFull[h.columnName] | number:2) : data.taskDetailFull[h.columnName] 
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
             </div>
             <div class="panel-footer" style="text-align: right; position: relative;">
                <span><small>จำนวน {{ checkList_1.length || 0 }} บัญชี</small></span>
           		<div class="col-xs-8" style="position: absolute; left: 0; top: 3px;">
					<form ng-submit="addContractNo()">
			            <div class="input-group">
							    <input type="text" id="dateFrom_traceCount" placeholder="เลขที่สัญญา" class="form-control" ng-model="formCheckingData.contractNo">
							  	<span class="input-group-btn">
							        <button class="btn btn-warning" type="submit">เพิ่ม</button>
							    </span>
						</div>
					</form>
             	</div>
                 	
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
     <div class="col-md-4">
         <div class="panel panel-red" style="margin: 0;">
             <div class="panel-heading">บัญชีที่ไม่สามารถ Login ได้</div>
             <div class="panel-body" style="padding: 3px;">
                 
                 
                 <div class="table-responsive">
					<table class="table table-striped table-hover table-bordered" style="margin: 0;">
						<thead>
							<tr>
								<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
								<th style="white-space: nowrap; text-align: center; color: #337AB7;"></th>
								<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7;">
										{{ h.columnNameAlias || h.columnName }}
								</th>
							</tr>
						<thead>
						<tbody>
							<tr ng-repeat="data in checkList_2" style="color: #337AB7; cursor: pointer;" ng-click="goToTask(data.taskDetailFull['_id'])">
								<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
								<td style="vertical-align: middle; text-align: center;">
									<i class="fa fa-times user-action-icon-danger" ng-click="deleteChkLstItem(data['_id'])" title="ลบ"></i>			
								</td>
								<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
									{{ 
									   h.dataType == 'date' ? (data.taskDetailFull[h.columnName] | date:gb_dateFormat) : 
									   h.dataType == 'sys_owner' ? data.taskDetailFull[h.columnName][0].showname : 
									   h.dataType == 'num' ? (data.taskDetailFull[h.columnName] | number:2) : data.taskDetailFull[h.columnName] 
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
                 
                 
             </div>
             <div class="panel-footer" style="text-align: center;">
               	<code>กรุณาตรวจสอบ Username และ Password !!!</code>
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
     <div class="col-md-4">
         <div class="panel panel-green" style="margin: 0;">
             <div class="panel-heading">บัญชีที่จ่ายล่าสุด</div>
             <div class="panel-body" style="padding: 3px;">
                 <div class="table-responsive">
					<table class="table table-striped table-hover table-bordered" style="margin: 0;">
						<thead>
							<tr>
								<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
								<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7;">
										{{ h.columnNameAlias || h.columnName }}
								</th>
							</tr>
						<thead>
						<tbody>
							<tr ng-repeat="data in checkList_3" style="color: #337AB7; cursor: pointer;" ng-click="goToTask(data.taskDetailFull['_id'])">
								<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
								<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
									{{ 
									   h.dataType == 'date' ? (data.taskDetailFull[h.columnName] | date:gb_dateFormat) : 
									   h.dataType == 'sys_owner' ? data.taskDetailFull[h.columnName][0].showname : 
									   h.dataType == 'num' ? (data.taskDetailFull[h.columnName] | number:2) : data.taskDetailFull[h.columnName] 
									}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
             </div>
             <div class="panel-footer" style="text-align: right;">
                 	<span><small>จำนวน {{ checkList_3.length || 0 }} บัญชี</small></span>
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
</div>            
