<div class="row" style="margin-top: 15px;">
     <div class="col-md-4 col-md-offset-2">
         <div class="panel panel-green">
             <div class="panel-heading">บัญชีที่จ่าย</div>
             <div class="panel-body">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
             </div>
             <div class="panel-footer" style="text-align: right;">
                 	<span>จำนวน 20 บัญชี</span>
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
     <div class="col-md-4">
         <div class="panel panel-red">
             <div class="panel-heading">บัญชีที่ไม่มีการจ่าย</div>
             <div class="panel-body">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
             </div>
             <div class="panel-footer" style="text-align: right;">
               	<span>จำนวน 20 บัญชี</span>
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
</div>            
