<div class="row" style="margin-top: 15px;">
	<div class="col-lg-4">
         <div class="panel panel-yellow">
             <div class="panel-heading">กำลังเช็ค</div>
             <div class="panel-body">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
             </div>
             <div class="panel-footer">
                 Panel Footer
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
     <div class="col-lg-4">
         <div class="panel panel-red">
             <div class="panel-heading">ระบบ Login มีปัญหา</div>
             <div class="panel-body">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
             </div>
             <div class="panel-footer">
               	<code>กรุณาตรวจสอบ Username และ Password</code>
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
     <div class="col-lg-4">
         <div class="panel panel-green">
             <div class="panel-heading">บัญชีที่มีการจ่ายแล้ว</div>
             <div class="panel-body">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
             </div>
             <div class="panel-footer">
                 Panel Footer
             </div>
         </div>
         <!-- /.col-lg-4 -->
     </div>
</div>            
