<style>
.my-cus.ng-hide {
    display: block!important;
    visibility: hidden;
}
</style>
<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Payment Online Checking</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<i class="fa fa-list-alt fa-fw"></i> Online Checking
                    <button type="button" class="btn btn-info btn-circle btn-lg" ng-show="isShowBack"
                    		style="position: absolute; right: 0px; top: -5px;" ng-click="gotoSelected()">
                    	<i class="fa fa-long-arrow-left"></i>
                    </button>
                </div>
                <div class="panel-body" style="padding: 3px;">
                	
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" id="myTabs">
					    <li role="presentation" class="active"><a href="#home" data-toggle="tab">ข้อมูลที่กำลังเช็ค</a></li>
					    <li role="presentation"><a href="#profile" data-toggle="tab">จ่ายล่าสุด</a></li>
					    <li role="presentation"><a href="#messages" data-toggle="tab">ข้อมูลมีปัญหา</a></li>
					    <li role="presentation"><a href="#settings" data-toggle="tab">นำเข้าข้อมูล</a></li>
				  	</ul>
				  	
					<!-- Tab panes -->
				  	<div class="tab-content">
					    <div role="tabpanel" class="tab-pane fade in active" id="home">
					    	ข้อมูลที่กำลังเช็ค
					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="profile">
					    
						    <ng-include src="'./views/pay_online_checking/test_1.html'"></ng-include>
					    
					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="messages">
					    	ZZ
					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="settings">
					    	<ng-include src="'./views/pay_online_checking/load_data.html'"></ng-include>
					    </div>
				  	</div>
                
                
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>