<style>
.my-cus.ng-hide {
    display: block!important;
    visibility: hidden;
}
</style>
<div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Payment Online Checking</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                	<i class="fa fa-list-alt fa-fw"></i> Online Checking
                    <button type="button" class="btn btn-info btn-circle btn-lg" ng-show="isShowBack"
                    		style="position: absolute; right: 0px; top: -5px;" ng-click="gotoSelected()">
                    	<i class="fa fa-long-arrow-left"></i>
                    </button>
                </div>
                <div class="panel-body" style="padding: 3px;">
                	
					
					
					
					
					
					
					
					
					
					<div class="row">
						<div class="col-md-6" ng-hide="checkList_2.length > 0">
					         <div class="panel panel-yellow" style="margin: 0;">
					             <div class="panel-heading">บัญชีที่กำลังเช็ค <i class="fa fa-refresh fa-fw" ng-class="{'fa-spin' : checkList_1.length}"></i></div>
					             <div class="panel-body" style="padding: 3px;">
					                 
					                 <div class="table-responsive">
										<table class="table table-striped table-hover table-bordered" style="margin: 0;">
											<thead>
												<tr>
													<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
													<th style="white-space: nowrap; text-align: center; color: #337AB7;">เวลาเช็ค</th>
													<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7;">
															{{ h.columnNameAlias || h.columnName }}
													</th>
												</tr>
											<thead>
											<tbody>
												<tr ng-repeat="data in checkList_1  | orderBy:'-sys_updatedDateTime'" style="color: #337AB7; cursor: pointer;" ng-click="goToTask(data['_id'])">
													<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
													<td style="vertical-align: middle; text-align: center;">
														{{ data.sys_updatedDateTime | date:gb_timeFormat }}
													</td>
													<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
														{{ 
														   h.dataType == 'date' ? (data[h.columnName] | date:gb_dateFormat) : 
														   h.dataType == 'sys_owner' ? data[h.columnName][0].showname : 
														   h.dataType == 'num' ? (data[h.columnName] | number:2) : data[h.columnName] 
														}}
													</td>
												</tr>
											</tbody>
										</table>
									</div>
					             </div>
					             <div class="panel-footer" style="text-align: right; position: relative;">
					                <span><small>ทั้งหมดจำนวน {{ totalItems | number:0 || 0 }} บัญชี</small></span>
					             </div>
					         </div>
					         <!-- /.col-md-4 -->
					     </div>
					     <div class="col-md-6" ng-show="checkList_2.length > 0">
					         <div class="panel panel-red" style="margin: 0;">
					             <div class="panel-heading">บัญชีที่ไม่สามารถ Login ได้</div>
					             <div class="panel-body" style="padding: 3px;">
					                 
					                 
					                 <div class="table-responsive">
										<table class="table table-striped table-hover table-bordered" style="margin: 0;">
											<thead>
												<tr>
													<th style="white-space: nowrap; text-align: center; color: #337AB7;">#</th>
													<th style="white-space: nowrap; text-align: center; color: #337AB7;">เวลาเช็ค</th>
													<th ng-repeat="h in headers" style="white-space: nowrap; text-align: center; color: #337AB7;">
															{{ h.columnNameAlias || h.columnName }}
													</th>
												</tr>
											<thead>
											<tbody>
												<tr ng-repeat="data in checkList_2" style="color: #337AB7; cursor: pointer;" ng-click="goToTask(data['_id'])">
													<td style="vertical-align: middle; text-align: center;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
													<td style="vertical-align: middle; text-align: center;">
														{{ data.sys_updatedDateTime | date:gb_timeFormat }}
													</td>
													<td ng-repeat="h in headers" style="vertical-align: middle; white-space: nowrap;" ng-class="{'comm-text-align-center': h.dataType == 'date', 'comm-text-align-right': h.dataType == 'num'}">
														{{ 
														   h.dataType == 'date' ? (data[h.columnName] | date:gb_dateFormat) : 
														   h.dataType == 'sys_owner' ? data[h.columnName][0].showname : 
														   h.dataType == 'num' ? (data[h.columnName] | number:2) : data[h.columnName] 
														}}
													</td>
												</tr>
											</tbody>
										</table>
									</div>
					                 
					                 
					             </div>
					             <div class="panel-footer" style="text-align: center;">
					               	<code>กรุณาตรวจสอบ Username และ Password !!!  ทั้งหมดจำนวน {{ totalItems | number:0 || 0 }} บัญชี</code>
					             </div>
					         </div>
					         <!-- /.col-md-4 -->
					     </div>
					</div>            
										
					
					
					
					
					
					
					
					
					
					
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>