<style>
	.legend-style {
		font-size: 16px; 
		font-weight: 700; 
		border-color: #42859a;
		cursor: pointer;
		background-color: #5bc0de;
		border-radius: 3px;
		padding-left: 3px;
		text-align: center;
	}
	.on {
		color: #4abf4a;
	}
	.off {
		color: #ff7676;	
	}
</style>
<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">
				<span class="pull-left">{{ showname }}</span>
				<i class="fa fa-building-o fa-fw"></i> ผู้รับ
			</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-8">
			<div class="panel gambler-panel">
                <div class="panel-heading">ข้อมูลผู้รับ</div>
                <div class="panel-body">
            		<table class="table table-hover gambler-panel" id="tbSortable">
					    <thead>
							<tr>
								<th>#</th>
								<th>วันที่สร้าง</th>
								<th>ชื่อ</th>
								<th></th>
							</tr>
					    </thead>
						<tbody>
					     	<tr ng-repeat="lst in receiver.list" ng-click="receiver.addEditReceiver(2, lst)">
								<td id="{{ lst.id }}">{{ $index + 1 }}</td>
								<td>{{ lst.createdDateTime | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								<td>{{ lst.receiverName }}</td>
								<td ng-click="preventOuterEvent($event)">
									<i class="fa fa-lg fa-fw" ng-class="{'fa-hand-rock-o off': lst.isCuttingOff, 'fa-hand-paper-o on': !lst.isCuttingOff}" style="cursor: pointer;" ng-click="cutOffToggle(lst)"></i>
									&nbsp;
									<i class="fa fa-lg fa-fw" ng-class="{'fa-check-circle-o on': lst.enabled, 'fa-minus-circle off': !lst.enabled}" style="cursor: pointer;" ng-click="statusToggle(lst)"></i>
								</td>
							</tr>
					    </tbody>
					</table>
					<button type="button" class="btn btn-info btn-circle pull-right" ng-click="receiver.addEditReceiver(1)"><i class="fa fa-plus"></i></button>
                </div>
			</div>
		</div>
		
		<div class="col-md-4" ng-hide="receiver.addEditPanel == 0">
			<div class="panel gambler-panel">
                <div class="panel-body">
                
				    <div style="text-align: center; font-weight: 700;">{{ receiver.addEditPanel == 1 ? 'เพิ่มผู้รับใหม่' : 'แก้ไขผู้รับใหม่' }}</div>
                	<hr style="border: 2px solid #5bc0de; margin-top: 5px;" />
                	
                	<form>
                		<div class="row">
	                		<div class="col-md-12">
		                		<div class="form-group">
								    <label>ชื่อผู้รับ</label>
								    <input type="text" tabindex="2" class="form-control input-sm" ng-model="receiver.formData.receiverName">
								</div>	                			
	                		</div>
	                		<div class="col-md-12">
		                		<div class="form-group">
								    <label>ชื่อผู้ส่ง</label>
								    <input type="text" tabindex="2" class="form-control input-sm" ng-model="receiver.formData.senderName">
								</div>	                			
	                		</div>
	                		<div class="col-md-12">
	                			<div class="form-group">
								    <label>ราคา</label>
	                				<select class="form-control input-sm" ng-model="receiver.formData.priceListId" ng-options="option.id as option.priceListName for option in priceList.list">
							  	  		<option value="">--ใช้ราคาของลูกค้า--</option>
	                				</select>
	                			</div>
	                		</div>
                		</div>
                		
                		<div class="pull-right">
	                		<button type="button" tabindex="6" class="btn btn-outline btn-default btn-sm" ng-click="receiver.addEditPanel = 0">ปิด</button>
	                		<button type="button" tabindex="6" class="btn btn-outline btn-info btn-sm" ng-disabled="!receiver.formData.receiverName" ng-click="receiver.saveUpdateReceiver()">บันทึก</button>
                		</div>
                		
					</form>
                </div>
			</div>
		</div>
	</div>
</div>