<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{'menu_type.header_title' | translate}}</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-indent fa-fw"></i> {{'menu_type.header_panel' | translate}}
                </div>
                <div class="panel-body">
                	
                	
                	<tableland tablename="6" colour="primary" type="cutlery" goto="login" ng-repeat="t in tables"></tableland>
                	
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>