<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header"><i class="fa fa-home fa-fw"></i> หน้าหลัก</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-green" style="border-color: #98b799;">
                <div class="panel-heading" style="background-color: #98b799; border-color: #98b799; color: black;">หน้าหลัก</div>
                <div class="panel-body">
                	Home
                </div>
			</div>
		</div>
	</div>
</div>