<div>
	<div class="col-lg-6">
		<form name="addUserForm" role="addUserForm" ng-submit="isEdit ? update() : save()" novalidate>
			<div class="row">
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.sender.$invalid || existingUserShowErrMsg}">
					<label class="control-label">ผู้ส่ง </label>
					<input name="sender" class="form-control" ng-model="data.sender">
				</div>
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.tel.$invalid || existingUserErrMsg}">
					<label class="control-label">เบอร์โทร</label>
					<input name="tel" class="form-control" ng-model="data.tel">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.receiver.$invalid || existingUserErrMsg}">
					<label class="control-label">ผู้รับ *</label>
					<input name="receiver" class="form-control" ng-model="data.receiver" required>
				</div>
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.postDest.$invalid || existingUserErrMsg}">
					<label class="control-label">ไปรษณีปลายทาง *</label>
					<input name="postDest" class="form-control" ng-model="data.postDest" required>
				</div>
			</div>
		
			<div class="form-group" ng-class="{'has-error':addUserForm.amount.$invalid || existingUserErrMsg}">
				<label class="control-label">จำนวนเงิน *</label>
				<input name="amount" type="number" class="form-control" ng-model="data.amount" required>
			</div>
			
			<div class="row">
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.fee.$invalid || existingUserErrMsg}">
					<label class="control-label">ค่าธรรมเนียม</label>
					<input name="fee" type="number" class="form-control" ng-model="data.fee">
				</div>
				<div class="form-group col-lg-6" ng-class="{'has-error':addUserForm.otherServicePrice.$invalid || existingUserErrMsg}">
					<label class="control-label">ค่าบริการอื่นๆ</label>
					<input name="otherServicePrice" type="number" class="form-control" ng-model="data.otherServicePrice">
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':addUserForm.status.$invalid || existingUserErrMsg}">
                 <label class="control-label">{{'user.addpage.status' | translate}} * &nbsp;&nbsp;</label>
                 <label class="radio-inline">
                     <input type="radio" name="status" value="0" ng-checked="user.enabled == 0" ng-model="user.enabled" required>กำลังดำเนินการ
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="status" value="1" ng-checked="user.enabled == 1" ng-model="user.enabled" required>เสร็จแล้ว
                 </label>
             </div>
			<div style="text-align: center;">
				<button type="button" class="btn btn-outline btn-primary btn-lg" ng-click="clear()">{{'user.addpage.celar_btn' | translate}}</button>
				<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="addUserForm.$invalid">{{ persisBtn }}</button>
			</div>
		</form>
	</div>
</div>