<style>
tbody > tr > td > span {
	color: black !important;
}
thead > tr > th, tbody > tr > td {
	white-space:nowrap;
}
.header-sum > th > span {
	color: black !important;
}
.admin {
	color: #55c655;
}
.customer {
	color: #ecc73f;
}
.win-price-sum {
	background-color: #ecc73f;
}
.win-price {
	background-color: #55c655;
}
</style>
<div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">
				<span class="pull-left">{{ showname }}</span>
				<i class="fa fa-desktop fa-fw"></i> ผลสลาก
			</h3>
		</div>
	</div>
	                
	<div class="row">
		<div class="col-md-12">
			<div class="panel gambler-panel">
                <div class="panel-body">
                
                	<div class="form-group input-group">
						<span class="input-group-addon">งวดที่</span>
				      	<select class="form-control" ng-model="formData.period" ng-options="option._id as option.periodDateTime | date:'dd/MM/yyyy' for option in periods" ng-change="changePeriod()"></select>
						<span class="input-group-addon">ผลสลาก 
							<span class="badge" style="background-color: #55c655; color: black;">เลข 3 ตัวบน : {{ formData.result3 }}</span> 
							<span class="badge" style="background-color: #55c655; color: black;">เลข 2 ตัวล่าง : {{ formData.result2 }}</span>
						</span>
				    </div>
                	<div style="overflow: auto;">
	            		<table class="table table-hover gambler-panel">
						    <thead>
						    	<tr class="header-sum">
						    		<th colspan="2" style="text-align: center; color: #e0b000;">
						    			<span class="badge win-price-sum">รวมยอดถูก</span>
						    		</th>
									<th><span class="badge win-price-sum">{{ bon3Sum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ todSum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ bon2Sum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ lang2Sum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ loySum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ pair4Sum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ pair5Sum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ runBonSum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ runLangSum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ pugBonSum | number:2 }}</span></th>
									<th><span class="badge win-price-sum">{{ pugLangSum | number:2 }}</span></th>
						    	</tr>
								<tr>
									<th>#</th>
									<th>ชื่อ</th>
									<th>3 ตัวบน</th>
									<th>3 ตัวโต๊ด</th>
									<th>2 ตัวบน</th>
									<th>2 ตัวล่าง</th>
									<th>ลอย</th>
									<th>แพ 4</th>
									<th>แพ 5</th>
									<th>วิ่งบน</th>
									<th>วิ่งล่าง</th>
									<th>ปักบน</th>
									<th>ปักล่าง</th>
								</tr>
						    </thead>
							<tbody>
						     	<tr ng-repeat="res in lottoResult">
									<td>{{ $index + 1 }}</td>
									<td>
										<i class="fa fa-fw" ng-class="{'fa-user-o customer': res.isCustomer, 'fa-user-circle-o admin': !res.isCustomer}"></i> {{ res.name }}
									</td>
									<td><span class="badge win-price">{{ res.result3_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.resultTod_todPrice | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.resultBon2_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.resultLang2_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.loy_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.pair4_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.pair5_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.runBon_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.runLang_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.resultPugBon_price | number:0 }}</span></td>
									<td><span class="badge win-price">{{ res.resultPugLang_price | number:0 }}</span></td>
								</tr>
						    </tbody>
						</table>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>