<div style="font-size: 20px; color: black;">
	<table style="width: 100%; border-collapse: collapse;">
		<tr ng-repeat="f in fields" style="vertical-align: top;" ng-style="$index < 2 ? {'font-weight':'bold'} : {'font-size':'16px'}" ng-show="mapping[f]">
			<td style="width: 1%; text-align: right; white-space:nowrap;">{{ f }} :&nbsp;</td>
			<td>{{ detail[mapping[f]] || '-' }}</td>
		</tr>
		<tr style="font-size: 16px;">
			<td style="text-align: right;">Port :&nbsp;</td>
			<td>{{ productName }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<td colspan="2" style="text-align: center;"><span style="text-decoration: underline;">แจ้งข้อมูล</span> : <a href="tel:{{ lpsTel }}">{{ lpsTel }}</a></td>
		</tr>
	</table>
</div>