<style>
.noncopy {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.key {
	width: 45px;
	height: 47px;
	padding: 1px;
	margin: 10px 10px 25px 10px;
}

div.key>span {
	display: block;
	width: 45px;
	height: 45px;
	border: 1px solid #858080;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	font-size: 12px;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	text-align: center;
	padding-top: 13px;
	color: #3e4040;
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px
		rgba(169, 169, 169, 1);
	cursor: pointer;
}

div.key>span:hover {
	background-color: #75b4fb;
	border: 1px solid #5a88c5;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px
		0px rgba(90, 136, 197, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px
		0px rgba(90, 136, 197, 1);
	box-shadow: 0px 3px 0px -2px rgba(117, 180, 251, 1), 0px 2px 0px 0px
		rgba(90, 136, 197, 1);
	cursor: pointer;
}

div.key>span:active {
	margin-top: 2px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

div.key.special>span {
	padding-top: 13px;
	font-size: 16px;
	font-weight: bold;
}

div.key.icon>span {
	font-size: 14px;
}

center>h4 {
	color: #c5c5c5;
	margin-top: 50px;
}

ul#keys-freebie {
	display: table;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

ul#keys-freebie>li {
	float: left;
	margin-right: 20px;
	/* margin-bottom: 20px; */
	padding: 10px 0;
}

ul#keys-freebie>li:last-child {
	margin-right: 0;
}

ul#keys-freebie>li>span {
	margin-bottom: 10px;
}

.display-box {
	/* margin: 0 auto; */
	border: 1px solid #858080;
	/* display: inline-block; */
	/* width: 300px; */
	height: 48px;
	/* line-height: normal; */
	/* padding: 10px; */
	font-size: 24px;
	font-weight: bold;
	color: black;
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px
		0px rgba(169, 169, 169, 1);
	box-shadow: 0px 3px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px
		rgba(169, 169, 169, 1);
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
</style>
<div id="wrapper" class="noncopy disable-dbl-tap-zoom" style="margin-bottom: 15px;">

	<div id="page-wrapper" class="disable-dbl-tap-zoom" style="min-height: 100px; margin-top: 10px; padding-top: 10px; padding-bottom: 10px;">
		<!-- <div ui-view></div> -->
		<div class="disable-dbl-tap-zoom" style="border: 1px solid #858080; width: 330px; margin: auto; padding: 10px; background-color: #337ab7; color: white; text-align: center;">
			<label>{{ companyName }}</label>
		</div>	
		<div class="disable-dbl-tap-zoom" style="border: 1px solid #858080; width: 330px; margin: auto; padding: 10px;">
			<div class="disable-dbl-tap-zoom" style="text-align: center; height: 50px; line-height: 50px;">
				<div class="display-box" style="background-color: #a4a0a0;">
					<span style="width: 121px; display: inline-block; border: 1px solid #858080; cursor: pointer;
						text-align: center; height: 47px; background-color: #B6D2E1; float: left;"
						ng-style="section == 0 ? {'background-color':'#3999cd'} :{'background-color':'#B6D2E1'}" ng-click="changeSection(0)">
						{{ keyword[0] ? keyword[0] : 'หมวด' }}
					</span>
					<span style="width: 185px; display: inline-block; border: 1px solid #858080; cursor: pointer;
						text-align: center; height: 47px; background-color: #B6D2E1;" 
						ng-style="section == 1 ? {'background-color':'#3999cd'} :{'background-color':'#B6D2E1'}" ng-click="changeSection(1)">
						{{ keyword[1] ? keyword[1] : 'เลข' }}
					</span>
				</div>
			</div>
			
			<ul id="keys-freebie">
				<li ng-repeat="kb in kbs" ng-style="kbs.length > 3 ? {'margin-right':0} : {}">
					<div class="key" ng-class="(k == 'CLR' || k == 'logout') ? 'icon' : 'special'" ng-repeat="k in kb" ng-style="kbs.length > 3 ? {'margin-right':'6px','margin-bottom':'10px','width':'35px','height':'37px'} : {}">
						<span ng-hide="(k == 'CLR' || k == 'logout')" ng-style="kbs.length > 3 ? {'width':'35px', 'height':'35px', 'padding-top':'7px'} : {}" ng-click="kbPressed(k)"> {{ k }} </span>
						<span ng-show="k == 'CLR'" ng-style="kbs.length > 3 ? {'width':'35px', 'height':'35px', 'padding-top':'7px'} : {}" ng-click="kbPressed(k)"><i class="fa fa-arrow-left"></i></span>
						<span ng-show="k == 'logout'" ng-style="kbs.length > 3 ? {'width':'35px', 'height':'35px', 'padding-top':'7px'} : {}" ng-click="kbPressed(k)"><i class="fa fa-sign-out"></i></span>
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>