<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">บันทึกข้อมูลรถ</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-users fa-fw"></i> บันทึกข้อมูลรถ
	                </div>
                <div class="panel-body">
                	
                	
                	<div class="form-group">
                        <label class="control-label">ป้ายทะเบียน</label>
                        <span class="form-control">{{ licenseNo }}</span>
                    </div>
                    
					<div class="well well-sm col-xs-12 col-sm-12 col-md-4 col-lg-4" style="font-size: 30px;" ng-show="false">
						<div class="row">
							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
							    <kbd class="key-padding-num-num col-xs-12 col-sm-12 col-md-12 col-lg-12">1</kbd>
							</div>
							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
							    <kbd class="key-padding-num-num col-xs-12 col-sm-12 col-md-12 col-lg-12">2</kbd>
							</div>
							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">3</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">4</kbd>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">5</kbd>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">6</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">7</kbd>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">8</kbd>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">9</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">0</kbd>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							    <kbd class="key-padding-num col-xs-12 col-sm-12 col-md-12 col-lg-12">ลบ</kbd>
							</div>
						</div>
					</div>
					
					<!-- separated -->
					
					<div class="well well-sm col-xs-12 col-sm-12 col-md-4 col-lg-4" style="font-size: 20px;">
						<div class="row">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ก</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ข</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฃ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ค</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฅ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฆ</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ง</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">จ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฉ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ช</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ซ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฌ</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ญ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฎ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฏ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฐ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฑ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฒ</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ณ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ด</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ต</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ถ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ท</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ธ</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">น</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">บ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ป</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ผ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฝ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">พ</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฟ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ภ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ม</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ย</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ร</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ล</kbd>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ว</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ศ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ษ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ส</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ห</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฬ</kbd>
							</div>
						</div>
						
						<div class="row" style="margin-top: 10px;">
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">อ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
							    <kbd class="key-padding col-xs-12 col-sm-12 col-md-12 col-lg-12">ฮ</kbd>
							</div>
							<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
						</div>
						
						
					</div>
					
					
					
					
					
                    
                    
                    <div class="form-group col-md-12">
                        <label class="control-label">เลือกสถานะรถ</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value="1">รถ-เข้า</option>
                            <option value="0">รถ-ออก</option>
                        </select>
                    </div>
					
						
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>