<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{'menu_type.header_title' | translate}}</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-indent fa-fw"></i> {{'menu_type.header_panel' | translate}}
                </div>
                <div class="panel-body">
                	<div class="col-lg-12">
                		<div class="row panel panel-default">
                			<div class="panel-header">
	                			<div class="col-lg-4"><h4>{{'menu_type.th.menu_type_name' | translate}}</h4></div>
	                			<div class="col-lg-3"><h4>สถานะ</h4></div>
	                			<div class="col-lg-5"></div>
                			</div>
                		</div>
                		<div class="row" ng-repeat="mt in menuTypes" style="margin-bottom: 10px;">
                			<div class="col-lg-4">
                				<i class="fa fa-angle-right"></i>
                				<span editable-text="mt.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)">
									<strong>{{ mt.name }}</strong>
						        </span>
                			</div>
                			<div class="col-lg-3">
                				<span editable-radiolist="mt.isEnabled" e-name="isEnabled" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
									<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="mt.isEnabled"></i>
									<i class="fa fa-minus-circle fa-lg user-status-disabled-icon" ng-hide="mt.isEnabled"></i>
						        </span>
                			</div>
                			<div class="col-lg-5">
                				<form editable-form name="rowform" onbeforesave="saveMenuType($data, mt, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == mt">
						          <button type="button" ng-disabled="rowform.$waiting" ng-click="mt.id == null ? cancel($index) : rowform.$cancel()" class="btn btn-default">
						            {{'menu_type.cancel_btn' | translate}}
						          </button>
						          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
						            {{'menu_type.save_btn' | translate}}
						          </button>	
						        </form>
						        <div class="buttons" ng-show="!rowform.$visible">
						          <button class="btn btn-danger" ng-click="removeMenuType($index, mt)">{{'menu_type.delete_btn' | translate}}</button>
						          <button class="btn btn-primary" ng-click="rowform.$show()">{{'menu_type.edit_btn' | translate}}</button>
						        </div>  
                			</div>
                			
                			<div ng-repeat="ch in mt.childs">
                				<div class="col-lg-4" style="margin-top: 5px; padding-left: 50px;">
                					<i class="fa fa-angle-double-right"></i>
	                				<span editable-text="ch.name" e-name="name" e-form="rowform2" onbeforesave="checkName($data)">
										<span>{{ ch.name }}</span>
							        </span>
                				</div>
                				<div class="col-lg-3" style="margin-top: 5px;">
									<span editable-radiolist="ch.isEnabled" e-name="isEnabled" e-form="rowform2" e-ng-options="s.value as s.text for s in statuses">
										<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="ch.isEnabled"></i>
										<i class="fa fa-minus-circle fa-lg user-status-disabled-icon" ng-hide="ch.isEnabled"></i>
							        </span>
                				</div>
                				<div class="col-lg-5" style="margin-top: 5px;">
                					<form editable-form name="rowform2" onbeforesave="saveMenuTypeChild($data, mt, ch, $index)" ng-show="rowform2.$visible" class="form-buttons form-inline" shown="childInserted == ch">
							          <button type="button" ng-disabled="rowform2.$waiting" ng-click="ch.id == null ? cancelChild($index, mt.childs) : rowform2.$cancel()" class="btn btn-default">
							            {{'menu_type.cancel_btn' | translate}}
							          </button>
							          <button type="submit" ng-disabled="rowform2.$waiting" class="btn btn-primary">
							            {{'menu_type.save_btn' | translate}}
							          </button>	
							        </form>
							        <div class="buttons" ng-show="!rowform2.$visible">
							          <button class="btn btn-danger" ng-click="removeMenuTypeChild($index, mt, ch)">{{'menu_type.delete_btn' | translate}}</button>
							          <button class="btn btn-primary" ng-click="rowform2.$show()">{{'menu_type.edit_btn' | translate}}</button>
							        </div>
                				</div>
                			</div>
                			<div class="col-lg-12" style="margin-top: 5px;">
                				<div class="col-lg-12">
	                				<button type="button" class="btn btn-default btn-circle" ng-click="addChildMenuType(mt)"><i class="fa fa-plus"></i></button>                			                			
	                				<hr>
                				</div>
                			</div>
                		</div>
                		  
						<button type="button" class="btn btn-default btn-circle btn-lg" ng-click="addMenuType()"><i class="fa fa-plus"></i></button> 
                	</div>
                		
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>