<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">รายละเอียดงาน</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i> แสดงรายละเอียดงาน&nbsp;
                </div>
                <div class="panel-body">
                
                	<div class="col-lg-12">
						<div class="well well-sm" style="background-color:rgba(51, 122, 183, 0.1);">
							<form class="form-inline" ng-submit="test()">
							
							  <div class="form-group input-group">
							    <span class="input-group-addon"><i class="fa fa-search"></i></span>
								<select name="column" class="form-control" ng-model="formData.column" ng-options="option.columnName as option.columnName for option in headers">
									<option value="">---เลือกคอลัมน์---</option>
							  	</select>
							  </div>
							  
							  <div class="form-group">
							    <input type="text" class="form-control" placeholder="{{'user.search.username_hint' | translate}}" ng-model="$parent.formData.userName">
							  </div>
							   <button style="margin-left: 20px;" type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
							   <button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
							   
							   
							   
							   
							   <div class="pull-right">
								  <div class="form-group input-group">
									    <span class="input-group-addon">วิธีจ่ายงาน</span>
										<select name="column" class="form-control" ng-model="formData.methodId" ng-options="option.id as option.methodName for option in assignMethods">
											<option value="">---กรุณาเลือก---</option>
								  		</select>
								  </div>
								  <div class="form-group input-group">
									    <span class="input-group-addon">คอลัมน์ที่ใช้คำนวณ</span>
										<select name="column" class="form-control" ng-model="formData.calColumn" ng-options="option.columnName as option.columnName for option in headers | filter:{dataType: 'num'}">
											<option value="">---กรุณาเลือก---</option>
								  		</select>
								  </div>
								  <button type="button" ng-click="showCollector()" class="btn btn-outline btn-primary" ng-disabled="!formData.methodId || !formData.calColumn">ถัดไป</button>
							   </div>
							</form>
						</div>
					</div>
                
                
					<div class="col-lg-12">
						<div class="form-group input-group well well-sm" style="padding-top: 3px; padding-bottom: 3px;">
							<span class="input-group-addon" style="border: 0px; background: none;">
								{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
							</span>
							<pagination ng-change="pageChanged()" total-items="totalItems"
										first-text="{{'pagination.first' | translate}}"
										previous-text="{{'pagination.previous' | translate}}"
										next-text="{{'pagination.next' | translate}}"
										last-text="{{'pagination.last' | translate}}"
										ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
										max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
										rotate="false" num-pages="numPages" style="margin: auto;" />
							<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none;">
								<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
							</span>
						</div>
					</div>
					<div class="table-responsive col-lg-12">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>ลำดับที่</th>
									<th ng-repeat="h in headers">
										<a href="" ng-click="columnOrder(h.columnName)">
											{{ h.columnNameAlias || h.columnName }}&nbsp;
											<i id="{{ h.columnName }}_desc" class="fa fa-sort-desc fw" style="position: absolute; top: 12px;"></i>
											<i id="{{ h.columnName }}_asc" class="fa fa-sort-up fw" style="position: absolute; top: 12px;"></i>
										</a>
									</th>
								</tr>
							<thead>
							<tbody>
								<tr ng-repeat="data in taskDetails track by $index">
									<td style="vertical-align: middle;">{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
									<td ng-repeat="h in headers" style="vertical-align: middle;">
										
										<div class="btn-group" data-toggle="buttons" ng-show="h.dataType == 'sys_isActive'">
										  <label class="btn" ng-class="{'btn-primary': data[h.columnName].status, 'btn-danger': !data[h.columnName].status}" ng-click="isActiveClick(data)">
									    	<i class="fa fa-fw" ng-class="{'fa-check': data[h.columnName].status, 'fa-times': !data[h.columnName].status}"></i>
										  </label>
										</div>
										
										{{ h.dataType == 'sys_isActive' ? '': 
										   h.dataType == 'date' ? (data[h.columnName] | date:format) : 
										   h.dataType == 'num' ? (data[h.columnName] | number:2) : 
										   h.dataType == 'owner' ? data[h.columnName][0] : data[h.columnName] }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
         	<div class="modal-header">
                <button type="button" class="close" ng-click="dismissModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">แสดงรายชื่อผู้รับงาน</h4>
            </div>
            <div class="modal-body">            	    	
            	<div class="row" style="max-height: 480px; overflow-y: auto; scrollbar-arrow-color:blue; 
            							scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; 
            							scrollbar-darkshadow-color:#888888">
					<div class="col-lg-12">
						<ul class="list-group">
						  <li class="list-group-item" ng-repeat="u in users track by $index" style="height: 33px;">
						    <!-- <span class="badge">14</span> -->
						    <label style="width:50px; padding-right: 25px; text-align: right;">{{ $index + 1 }}.</label><input type="checkbox" ng-model="u.isSelectUser"> {{ u.username }}
						  </li>
						</ul>						
					</div>
            	</div>
            </div>
           	<div class="modal-footer">
           		<label class="pull-left"><input type="checkbox" ng-model="isSelectAllUsers" ng-change="selectAllUsersCheckBox()"> เลือกทั้งหมด</label>
				<button type="button" class="btn btn-default" ng-click="dismissModal()">ปิด</button>
                <button type="button" class="btn btn-primary" ng-click="proceedAssigning()" ng-disabled="!isOneSelected">ตกลง</button>
			</div>
         </div>
     </div>
 </div>
<!-- / Modal -->