<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">รายละเอียดงาน</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-list-alt  fa-fw"></i> แสดงรายละเอียดงาน&nbsp;
                </div>
                <div class="panel-body">
                
                	<div class="col-lg-12">
						<div class="well well-sm" style="background-color:rgba(51, 122, 183, 0.1);">
							<form class="form-inline" ng-submit="test()">
							
							  <div class="form-group input-group">
							    <span class="input-group-addon"><i class="fa fa-search"></i></span>
								<select name="column" class="form-control" ng-model="formData.column" ng-options="option.columnName as option.columnName for option in headers">
									<option value="">---เลือกคอลัมน์---</option>
							  	</select>
							  </div>
							  
							  <div class="form-group">
							    <input type="text" class="form-control" placeholder="{{'user.search.username_hint' | translate}}" ng-model="$parent.formData.userName">
							  </div>
							   <button style="margin-left: 20px;" type="button" class="btn btn-outline btn-primary" ng-click="clearSearchForm()">{{'user.search.clear_btn' | translate}}</button>
							   <button type="submit" class="btn btn-outline btn-primary">ค้นหา</button>
							</form>
						</div>
					</div>
                
                
                
                
                
                
                
                
                
					<div class="col-lg-12">
						<div class="form-group input-group well well-sm" style="padding-top: 3px; padding-bottom: 3px;">
							<span class="input-group-addon" style="border: 0px; background: none;">
								{{'pagination.page' | translate}}: {{formData.currentPage}} {{'pagination.of' | translate}} {{numPages}} ({{'pagination.total' | translate}} {{ totalItems }} {{'pagination.items' | translate}})
							</span>
							<pagination ng-change="pageChanged()" total-items="totalItems"
										first-text="{{'pagination.first' | translate}}"
										previous-text="{{'pagination.previous' | translate}}"
										next-text="{{'pagination.next' | translate}}"
										last-text="{{'pagination.last' | translate}}"
										ng-model="formData.currentPage" items-per-page="formData.itemsPerPage"
										max-size="maxSize" class="pagination-sm pull-right" boundary-links="true"
										rotate="false" num-pages="numPages" style="margin: auto;" />
							<span class="input-group-addon" style="padding: 0px 5px 0px 3px; border: 0px; background: none;">
								<select style="height: 28px;" ng-options="option for option in [5,10,20,30,40,50,100] track by option" ng-model="formData.itemsPerPage" ng-change="changeItemPerPage()"></select>&nbsp;{{'pagination.per_page' | translate}}								
							</span>
						</div>
					</div>
					<div class="table-responsive col-lg-12">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>ลำดับที่</th>
									<th ng-repeat="h in headers">
										<a href="" ng-click="columnOrder(h.columnName)">
											{{ h.columnNameAlias || h.columnName }}&nbsp;
											<i id="{{ h.columnName }}_desc" class="fa fa-sort-desc fw" style="position: absolute; top: 12px;"></i>
											<i id="{{ h.columnName }}_asc" class="fa fa-sort-up fw" style="position: absolute; top: 12px;"></i>
										</a>
									</th>
								</tr>
							<thead>
							<tbody>
								<tr ng-repeat="data in taskDetails track by $index">
									<td>{{ $index + 1 + ((formData.currentPage - 1) * formData.itemsPerPage) }}</td>
									<!-- <td ng-repeat="h in headers">{{ h.dataType != 'date' ?  data[h.columnName] : data[h.columnName] | date:format  }}</td> -->
									<td ng-repeat="h in headers">{{ h.dataType != 'date' ? data[h.columnName] : (data[h.columnName] | date:format) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>