<div class="navbar-default sidebar sidebar-style gambler-sidebar-style" role="navigation" style="background-color: #ffffff00;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <!-- <sidebar-search></sidebar-search> -->
            
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home" ng-click="check(0)"><i class="fa fa-home fa-fw"></i> หน้าหลัก</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
                <a ui-sref="dashboard.order" ng-click="check(0)"><i class="fa fa-book fa-fw"></i> ข้อมูลรวม</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
                <a ui-sref="dashboard.manageOrder" ng-click="check(0)"><i class="fa fa-sitemap fa-fw"></i> จัดการข้อมูล</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
                <a ui-sref="dashboard.uploadFile" ng-click="check(0)"><i class="fa fa-cloud-upload fa-fw"></i> Upload File</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
                <a ui-sref="dashboard.lottoResult" ng-click="check(0)"><i class="fa fa-desktop fa-fw"></i> ผลสลาก</a>
            </li>
            <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
                <a ui-sref="dashboard.payment" ng-click="check(0)"><i class="fa fa-money fa-fw"></i> สรุปยอดซื้อ</a>
            </li>
            
            <li ng-class="{active: collapseVar == 2}">
                <a href="" ng-click="check(2)"><i class="fa fa-wrench fa-fw"></i> Setting<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar != 2">
	                <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
		                <a ui-sref="dashboard.receiver"><i class="fa fa-building-o fa-fw"></i> ผู้รับ</a>
		            </li>
	                <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
		                <a ui-sref="dashboard.priceList"><i class="fa fa-money fa-fw"></i> ราคา</a>
		            </li>
	                <li ui-sref-active="active" ng-show="$root.workingOnDealer.id">
		                <a ui-sref="dashboard.sendRound"><i class="fa fa-clock-o fa-fw"></i> รอบส่ง</a>
		            </li>
                    <li ui-sref-active="active" ng-hide="$root.workingOnDealer.id">
		                <a ui-sref="dashboard.dealer"><i class="fa fa-university fa-fw"></i> Dealers</a>
		            </li>
		            <li ui-sref-active="active">
		                <a ui-sref="dashboard.user.search"><i class="fa fa-users fa-fw"></i> Users</a>
		            </li>
		            <!-- <li ui-sref-active="active">
		                <a ui-sref="dashboard.profile"><i class="fa fa-user fa-fw"></i> Profile</a>
		            </li> -->
                </ul>
            </li>
            
            <li ng-class="{active: collapseVar == 3}" ng-hide="$root.workingOnDealer.id">
                <a href="" ng-click="check(3)"><i class="fa fa-database fa-fw"></i> DMS Office<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar != 3">
	                <li ui-sref-active="active">
		                <a ui-sref="dashboard.dmsCustomer.search"><i class="fa fa-address-book-o fa-fw"></i> Customers</a>
		            </li>
	                <li ui-sref-active="active">
		                <a ui-sref="dashboard.dmsProduct.product"><i class="fa fa-book fa-fw"></i> Documents</a>
		            </li>
                </ul>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="login({action: 'logout'})"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
            
            
            
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.wait"> &nbsp;</a>
            </li>
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.wait"> &nbsp;</a>
            </li>
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.wait"> &nbsp;</a>
            </li>
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active" ng-if="$root.group_0">
                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ng-class="{active: collapseVar==1}" ng-if="$root.group_0">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons">Buttons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications">Notifications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.typography">Typography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.icons"> Icons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.grid">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



